<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   09/07/2012  syed           New CXF Web service
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>samltoken</display-name>

    <servlet>
        <servlet-name>samltoken</servlet-name>
        <display-name>samltoken</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SamlTokenWebSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>samltoken</servlet-name>
        <url-pattern>/samltoken/SamlTokenWebSvc</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>samltokensecure</servlet-name>
        <display-name>samltokensecure</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SamlTokenTransportSecure</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>samltokensecure</servlet-name>
        <url-pattern>/samltoken/SamlTokenTransportSecure</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SAMLSymSignService</servlet-name>
        <display-name>SAMLSymSignService</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SAMLSymSignService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SAMLSymSignService</servlet-name>
        <url-pattern>/samltoken/SAMLSymSignService</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>SAMLSymEncrService</servlet-name>
        <display-name>SAMLSymEncrService</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SAMLSymEncrService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SAMLSymEncrService</servlet-name>
        <url-pattern>/samltoken/SAMLSymEncrService</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>SAMLSymSignEncrService</servlet-name>
        <display-name>SAMLSymSignEncrService</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SAMLSymSignEncrService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SAMLSymSignEncrService</servlet-name>
        <url-pattern>/samltoken/SAMLSymSignEncrService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SAMLAsymSignService</servlet-name>
        <display-name>SAMLAsymSignService</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SAMLAsymSignService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SAMLAsymSignService</servlet-name>
        <url-pattern>/samltoken/SAMLAsymSignService</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>SAMLAsymEncrService</servlet-name>
        <display-name>SAMLAsymEncrService</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SAMLAsymEncrService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SAMLAsymEncrService</servlet-name>
        <url-pattern>/samltoken/SAMLAsymEncrService</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>SAMLAsymSignEncrService</servlet-name>
        <display-name>SAMLAsymSignEncrService</display-name>
        <description>Username token CXF Endpoint</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.samltoken.SAMLAsymSignEncrService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SAMLAsymSignEncrService</servlet-name>
        <url-pattern>/samltoken/SAMLAsymSignEncrService</url-pattern>
    </servlet-mapping>        
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

