<!--
    Copyright (c) 2017,2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

	<featureManager>
	    <feature>componenttest-1.0</feature>
	    <feature>mpConcurrency-1.0</feature>
	    <feature>jndi-1.0</feature>
		<feature>servlet-4.0</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>
    
    <application location="MPConcurrentApp.war">
        <classloader commonLibraryRef="customContextProviderLib"/>
    </application>

    <library id="customContextProviderLib">
        <file name="${server.config.dir}/lib/customContextProviders.jar"/>
    </library>

    <!-- Do not change the concurrency policies associated with the following executors. Tests make assumptions based on this configuration -->

    <managedScheduledExecutorService id="DefaultManagedScheduledExecutorService" concurrencyPolicyRef="strict1"/>
    <concurrencyPolicy id="strict1" max="1" maxPolicy="strict" maxQueueSize="1" runIfQueueFull="true"/>

    <managedScheduledExecutorService id="noContextExecutor" jndiName="concurrent/noContextExecutor">
        <concurrencyPolicy max="2" maxQueueSize="2" runIfQueueFull="false"/>
        <contextService/>
    </managedScheduledExecutorService>

    <managedExecutorService id="oneContextExecutor" jndiName="concurrent/oneContextExecutor">
        <concurrencyPolicy max="1" maxQueueSize="1" runIfQueueFull="true"/>
        <contextService>
            <jeeMetadataContext/>
        </contextService>
    </managedExecutorService>

    <!-- Needed for application to use a ForkJoinPool, access the thread context class loader, and shut down an unmanaged ExecutorService that the test application creates -->
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentApp.war" className="java.lang.RuntimePermission" name="modifyThread"/>
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentApp.war" className="java.lang.RuntimePermission" name="setContextClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentApp.war" className="java.util.PropertyPermission" name="java.util.concurrent.ForkJoinPool.*" actions="read"/>
</server>