
<server>
    <featureManager>
        <feature>servlet-3.1</feature>
        <feature>componenttest-1.0</feature>
        <feature>jms-2.0</feature>
        <!-- Various features get added dynamically during the test -->
    </featureManager>
    <webApplication name="thirdPartyJaxbApp" location="thirdPartyJaxbApp.war" context-root="thirdPartyJaxbApp">
    	<classLoader delegation="parentLast" />
    </webApplication>
    
    <include location="../fatTestPorts.xml"/>
</server>