<!--
    Copyright (c) 2019 IBM Corporation and others. All rights reserved. 
	This program and the accompanying materials are made available under the 
	terms of the Eclipse Public License v1.0 which accompanies this distribution, 
	and is available at http://www.eclipse.org/legal/epl-v10.html 
	
	Contributors: 
	    IBM Corporation - initial API and implementation
-->
<server description="com.ibm.ws.security.wim.adapter.ldap.fat.racf.sdbm.basic">

	<include location="../fatTestPorts.xml" />
	<featureManager>
		<feature>appSecurity-2.0</feature>
		<feature>ldapRegistry-3.0</feature>
		<feature>servlet-3.1</feature>
		<feature>securitylibertyinternals-1.0</feature>
	</featureManager>

	<ldapRegistry baseDN="cn=racf"
		bindDN="racfid=some_user,profiletype=user,cn=racf" bindPassword="some_password"
		host="localhost" ldapType="IBM Tivoli Directory Server"
		port="10389" realm="RACFRealm">

		<idsFilters groupFilter="racfid=%v" groupIdMap="*:racfid"
			groupMemberIdMap="racfconnectgroupname:racfgroupuserids" userFilter="racfid=%v"
			userIdMap="*:racfid" />

		<ldapCache>
			<attributesCache enabled="false" />
			<searchResultsCache enabled="false" />
		</ldapCache>
	</ldapRegistry>

	<basicRegistry realm="BasicRealm">
		<user name="basicuser" password="password" />
		<group name="basicgroup">
			<member name="basicuser" />
		</group>
	</basicRegistry>
	
	<federatedRepository>
		<primaryRealm name="FederatedRealm" allowOpIfRepoDown="true">

			<participatingBaseEntry name="o=BasicRealm" />
			<participatingBaseEntry name="cn=racf" />

			<userDisplayNameMapping
				inputProperty="uniqueName" outputProperty="uniqueName" />
			<userSecurityNameMapping
				inputProperty="uniqueName" outputProperty="uniqueName" />

			<groupDisplayNameMapping 
			    inputProperty="uniqueName" outputProperty="uniqueName" />
			<groupSecurityNameMapping
				inputProperty="uniqueName" outputProperty="uniqueName" />
			<uniqueGroupIdMapping 
			    inputProperty="uniqueName" outputProperty="uniqueName" />
		</primaryRealm>

	</federatedRepository>

</server>
