<server>
    <include location="../fatTestPorts.xml" />

    <featureManager>
        <feature>servlet-5.0</feature>
        <feature>jpa-3.0</feature>
        <feature>ejbLite-4.0</feature>
        <feature>consumer.jakarta-1.0</feature>
        <feature>componenttest-2.0</feature>
    </featureManager>


    <jpa defaultJtaDataSourceJndiName="consumerdsNonTxDs"
        defaultNonJtaDataSourceJndiName="consumerdsNonTxDs" />
        
    <jdbcDriver id="derby">
        <library>
            <fileset dir="${shared.resource.dir}/derby" includes="derby.jar" />
        </library>
    </jdbcDriver>

    <javaPermission codebase="${shared.resource.dir}/derby/derby.jar" className="java.security.AllPermission"/>

    <dataSource id="consumerJtaDs" jndiName="consumerJtaDs" jdbcDriverRef="derby">
        <properties databaseName="memory:consumer" createDatabase="create" />
    </dataSource>
    <dataSource id="consumerdsNonTxDs" jndiName="consumerdsNonTxDs" jdbcDriverRef="derby" transactional="false">
        <properties databaseName="memory:consumer" createDatabase="create" />
    </dataSource>
    <dataSource id="privDs" jndiName="privDs" jdbcDriverRef="derby" transactional="false">
        <properties databaseName="memory:consumer" createDatabase="create" />
    </dataSource>    
    
    <consumer inmemMappingFile="inmem-orm.xml" staticMappingFile="static-orm.xml" createTables="true"/>
</server>
