<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty server">

  <include location="../fatTestPorts.xml"/>

  <featureManager>
    <feature>cdi-2.0</feature>
    <feature>ejbLite-3.2</feature>
    <feature>jpaContainer-2.2</feature>
    <feature>servlet-4.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>

  <jpa defaultPersistenceProvider="${third_party.javax.persistence.PersistenceProvider}" />

  <!-- Derby Library Configuration -->    
  <library id="derbyJDBCLib">
      <fileset dir="${shared.resource.dir}" includes="derby.jar"/>
  </library>
  
  <!-- Datasource Configuration -->
  <dataSource id="jpaDataSource" jndiName="jdbc/jpaDataSource">
      <jdbcDriver libraryRef="derbyJDBCLib" />
      <properties.derby.embedded databaseName="TestDB" createDatabase="create"/>
  </dataSource> 
</server>
