<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty server">

  <include location="../fatTestPorts.xml"/>

  <featureManager>
    <feature>componentTest-1.0</feature>
    <feature>cdi-2.0</feature>
    <feature>ejbLite-3.2</feature>
    <feature>jpaContainer-2.2</feature>
    <feature>servlet-4.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>

  <jpa defaultPersistenceProvider="org.hibernate.jpa.HibernatePersistenceProvider" />
 
  <library id="derbyJDBCLib">
      <fileset dir="${shared.resource.dir}/derby" includes="derby.jar"/>
  </library>

  <library id="JbossLib">
      <fileset dir="${shared.resource.dir}/hibernate" includes="*.jar"/>
  </library>

  <application location="hibernateSearchTest.war">
      <classloader commonLibraryRef="JbossLib"/>
  </application>

  <dataSource jndiName="jdbc/jpaDataSource" id="jpaDataSource">
      <jdbcDriver libraryRef="derbyJDBCLib" />
      <properties.derby.embedded databaseName="memory:TestDB" createDatabase="create"/>
  </dataSource> 

    <SSLDefault/>
    <javaPermission codebase="${server.config.dir}/apps/hibernateSearchTest.war" className="java.security.AllPermission"/>
    <javaPermission codebase="${shared.resource.dir}/hibernate/jboss-logging.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${shared.resource.dir}/derby/derby.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${shared.resource.dir}/hibernate/hibernate-core.jar" className="java.security.AllPermission"/>
</server>
