<server description="jaegerServer">

    <featureManager>
        <feature>mpOpenTracing-1.3</feature>
    </featureManager>

	<include location="../fatTestPorts.xml" />

	<httpEndpoint httpPort="${bvt.prop.HTTP_secondary}" httpsPort="${bvt.prop.HTTP_secondary.secure}"
      id="defaultHttpEndpoint" host="*" />
	
    <webApplication contextRoot="/" location="inventory.war">
        <classloader apiTypeVisibility="+third-party"
            commonLibraryRef="jaeger" />
    </webApplication>

    <library id="jaeger" apiTypeVisibility="+third-party">
        <fileset dir="${server.config.dir}/jaegerLib"/>
    </library>

    <javaPermission
        codebase="${server.config.dir}/jaegerLib/slf4j-api-1.7.26.jar"
        className="java.security.AllPermission" />
        
    <javaPermission
    	codebase="${server.config.dir}/apps/inventory.war"
    	className="java.security.AllPermission" />
</server>
