<!--
    Copyright (c) 2021, 2024 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

    <featureManager>
        <feature>cdi-3.0</feature>
        <feature>servlet-5.0</feature>
        <feature>componenttest-2.0</feature>
        <feature>mpMetrics-4.0</feature> <!-- one of the Infinispan JARs has a hard dependency on MicroProfile Metrics API -->
        <feature>mpReactiveStreams-3.0</feature> <!-- Infinispan JARs have a hard dependency on Reactive Streams API -->
        <feature>timedexit-1.0</feature>
    </featureManager>
    
    <include location="../fatTestCommon.xml"/>

    <!-- This server runs at the same time as com.ibm.ws.session.cache.fat.infinispan.serverA, so use a different set of ports -->    
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${bvt.prop.HTTP_secondary}"
                  httpsPort="${bvt.prop.HTTP_secondary.secure}"/>
    
    <httpSession maxInMemorySessionCount="1" allowOverflow="false" hideSessionValues="false" invalidationTimeout="10m"/>

    <!-- 
         Include the session cache configuration file for this specific run.
     -->
    <include location="${server.config.dir}/configs/${session.cache.config.file}" />

    <library id="InfinispanLib">
        <fileset dir="${shared.resource.dir}/infinispan" includes="*.jar"/>
    </library>
</server>