<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   12/03/2012  syed           New CXF Web service
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>x509aSync</display-name>

    <servlet>
        <servlet-name>X509AsyncService</servlet-name>
        <display-name>X509AsyncService</display-name>
        <description>X509 X509AsyncService</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.x509async.X509AsyncWebSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>X509AsyncService</servlet-name>
        <url-pattern>/X509AsyncService</url-pattern>
    </servlet-mapping>
            
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

