<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>lifecyclemethod</display-name>
	<servlet>
		<servlet-name>LifeCycleApplicationServlet</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		<init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>io.openliberty.restfulWS30.cdi30.fat.lifecyclemethod.LifeCycleApplication</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LifeCycleApplicationServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>