<server>
    <include location="common.xml"/>  
    
    <!-- FAT framework expects to start with the usual port  -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${bvt.prop.HTTP_secondary}"
                  httpsPort="${bvt.prop.HTTP_secondary.secure}">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>   
</server>
