<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<!--
   Change History:
   Date        UserId         Description
   03/08/2013  gkuo           new file
-->
    <display-name>WSSampleSeiClient</display-name>
    <servlet>
        <description>
        Servlet to Call SampleClient?serviceURL=xxx&amp;scenario=BASIC&amp;test=echo</description>
        <display-name>
        ClientServlet</display-name>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.ibm.was.wssample.client.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
        ClientWeb</display-name>
        <servlet-name>ClientWeb</servlet-name>
        <servlet-class>com.ibm.wstest.wstf.ClientWeb</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
        DownloadIRT</display-name>
        <servlet-name>DownloadIRT</servlet-name>
        <servlet-class>com.ibm.wstest.wstf.DownloadIRT</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
        UploadIRT</display-name>
        <servlet-name>UploadIRT</servlet-name>
        <servlet-class>com.ibm.wstest.wstf.UploadIRT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>
        /ClientServlet</url-pattern>
        <url-pattern>
        /Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientWeb</servlet-name>
        <url-pattern>
        /ClientWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadIRT</servlet-name>
        <url-pattern>
        /DownloadIRT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadIRT</servlet-name>
        <url-pattern>
        /UploadIRT</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>