##############################################
# Default Liberty Configuration
#
# Format:
#   group:key <op> value
#     or
#   group{
#     #a series of
#     key <op> value
#   }
# where <op> can be:  =, -=, +=, >=, or <=
#       value can be:
#          - String
#          - String Array: values enclosed by [] and delimited by ,
#          - Map of Strings: set of "key=value" value pairs enclosed by {} and delimited by ,
# See "Config Parser and Config File Format" document for more details.
##############################################

com.ibm.ws.kernel.feature:featuresets+=[webcontainer, http, ssl]

Applications:scanning.enabled=true
