<!--Copyright (c) 2018 IBM Corporation and others. All rights reserved.
    This program and the accompanying materials are made available under the 
    terms of the Eclipse Public License 2.0 which accompanies this distribution, 
    and is available at 
        http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0 
    Contributors: 
        IBM Corporation - initial API and implementation
-->
<server>
    <featureManager>
        <feature>beanValidation-3.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>localConnector-1.0</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>mpConfig-3.1</feature>
        <feature>arquillian-support-jakarta-2.1</feature>
    </featureManager>
    <javaPermission className="java.security.AllPermission"/>
    
    <include location="../fatTestPorts.xml" />
</server>
