<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JWT Builder Application</display-name>
    <servlet>
	    <servlet-name>AmrTestBuilderServlet</servlet-name>
	    <description>AmrTestBuilderServlet</description>
	    <servlet-class>com.ibm.ws.security.fat.common.apps.amrbuilder.AmrTestBuilderServlet</servlet-class>
	    <load-on-startup></load-on-startup>
	    <security-role-ref>
	        <role-name>MappedToEmployee</role-name>
	        <role-link>Employee</role-link>
	    </security-role-ref>
	    <security-role-ref>
	        <role-name>MappedToManager</role-name>
	        <role-link>Manager</role-link>
	    </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>AmrTestBuilderServlet</servlet-name>
        <url-pattern>/AmrServlet</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Protected with AllAuthenticated role</web-resource-name>
	        <url-pattern>/AmrServlet</url-pattern>
	        <http-method>GET</http-method>
	        <http-method>POST</http-method>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>AllAuthenticated</role-name>
            <role-name>Employee</role-name>
            <role-name>Manager</role-name>
	    </auth-constraint>
    </security-constraint>
    <security-role>
	    <description>Employee role</description>
	    <role-name>Employee</role-name>
    </security-role>
    <security-role>
	    <description>Manager role</description>
	    <role-name>Manager</role-name>
    </security-role>
    <security-role>
	    <description>AllAuthenticated role</description>
	    <role-name>AllAuthenticated</role-name>
    </security-role>

</web-app>
