<?xml version="1.0" encoding="UTF-8"?>
<web-app id="BonusPayout" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>BonusPayout</display-name>
  <description>This is the BonusPayout sample.</description>
  <resource-ref>
    <description>Bonus Payout DS</description>
    <res-ref-name>jdbc/BonusPayoutDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <!-- Since direct lookups will use the default shareable, we can include this as an easy alternative to test both in one binary -->
    <res-sharing-scope>Unshareable</res-sharing-scope>
  </resource-ref>
</web-app>
