<!--
    Copyright (c) 2014, 2019 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>concurrent-1.0</feature>
    <feature>ejbPersistentTimer-3.2</feature>
    <!-- <feature>osgiConsole-1.0</feature> -->
    <feature>persistentExecutor-1.0</feature>
    <feature>servlet-3.1</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <!-- Executor that can execute tasks -->
  <persistentExecutor jndiName="concurrent/myExecutor" taskStoreRef="ExecutorTaskStore" pollInterval="300ms" retryLimit="0"/>
  <databaseStore id="ExecutorTaskStore" tablePrefix="EXEC" dataSourceRef="myDataSource" keyGenerationStrategy="IDENTITY"/>

  <!-- Executor that schedules tasks only (and captures thread context) -->
  <persistentExecutor jndiName="concurrent/mySchedulerWithContext" taskStoreRef="SchedulerTaskStore" enableTaskExecution="false">
    <contextService>
      <classloaderContext/>
      <jeeMetadataContext/>
    </contextService>
  </persistentExecutor>

  <ejbContainer>
    <timerService>
    	<persistentExecutor jndiName="concurrent/mySchedulerWithoutContext" taskStoreRef="SchedulerTaskStore" enableTaskExecution="false">
    		<contextService/>
  		</persistentExecutor>
  	</timerService>
  </ejbContainer>

  <databaseStore id="SchedulerTaskStore" tablePrefix="SCHD" dataSourceRef="myDataSource" keyGenerationStrategy="SEQUENCE"/>

  <!-- database for tasks -->
  <dataSource id="myDataSource" jndiName="jdbc/myDataSource">
    <jdbcDriver libraryRef="DerbyLib"/>
    <properties.derby.embedded createDatabase="create" databaseName="memory:persistcompat"/>
  </dataSource>
  <library id="DerbyLib">
    <fileset dir="${shared.resource.dir}/derby" includes="derby.jar"/>
  </library>

  <!-- update this when creating versioned .ser files to save -->
  <variable name="version" value="20.0.0.11"/>
  <jndiEntry jndiName="liberty/version" value="${version}"/>

  <javaPermission codebase="${shared.resource.dir}/derby/derby.jar" className="java.security.AllPermission"/>
  <javaPermission className="java.lang.RuntimePermission" name="getClassLoader"/>
  <javaPermission className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
  <javaPermission className="java.lang.reflect.ReflectPermission" name="suppressAccessChecks"/>
  <javaPermission className="java.io.FilePermission" name="CallableTrigger-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="CallableWithTrigger-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="EJBTimer-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="EJBTimerWithInfo-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="EJBTimerWithScheduleExpression-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="FailingRunnable-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="FixedDelayTask-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="FixedRateTask-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="OneShotCallable-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="SkippedCallable-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="SkipRunFailure-${version}.ser" actions="write"/>
  <javaPermission className="java.io.FilePermission" name="TaskWithNonSerializableResult-${version}.ser" actions="write"/>
  <javaPermission className="java.util.PropertyPermission" name="org.glassfish.web.rfc2109_cookie_names_enforced" actions="read"/>
  <variable name="onError" value="FAIL"/>
</server>