<server>
    <featureManager>
        <feature>componenttest-1.0</feature>
        <feature>jaxrs-2.0</feature>
    </featureManager>
 
    <include location="../fatTestPorts.xml"/>
    <javaPermission className="java.util.PropertyPermission" name="bvt.prop.HTTP_default" actions="read"/>
    <javaPermission className="java.net.URLPermission" name="http://localhost:8010/mediatype/app/resource/-" actions="POST:"/>
</server>
