<!--
    Copyright (c) 2019, 2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
  <featureManager>
    <feature>componenttest-2.0</feature>
    <feature>enterpriseBeansPersistentTimer-4.0</feature>
    <feature>jdbc-4.2</feature>
    <!-- <feature>osgiConsole-1.0</feature> -->
    <feature>servlet-5.0</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/> <!-- see overrides under configDropins/overrides/fatSecondaryPorts.xml -->

  <application location="failoverTimersApp.war"/>

  <persistentExecutor id="defaultEJBPersistentTimerExecutor" pollInterval="1s500ms" missedTaskThreshold="3s"
                      ignore.minimum.for.test.use.only="true"/>

  <!-- database for persistent EJB timers -->
  <dataSource id="DefaultDataSource" fat.modify="true">
    <jdbcDriver libraryRef="jdbcLib"/>
    <!-- properties modified by fat-suite during database rotation -->
    <properties.derby.client createDatabase="create" databaseName="memory:failovertimersdb" user="dbuser1" password="dbwpd1"/>
  </dataSource>

  <library id="jdbcLib">
    <file name="${shared.resource.dir}/jdbc/${env.DB_DRIVER}" />
  </library>
  
  <javaPermission codebase="${shared.resource.dir}/jdbc/${env.DB_DRIVER}" className="java.security.AllPermission"/>

  <!-- application reads these system properties to determine the server name -->
  <javaPermission codebase="${server.config.dir}/apps/failoverTimersApp.war" className="java.util.PropertyPermission" name="server.config.dir" actions="read"/>
  <javaPermission codebase="${server.config.dir}/apps/failoverTimersApp.war" className="java.util.PropertyPermission" name="wlp.user.dir" actions="read"/>

  <!-- Oracle JDBC driver -->
  <javaPermission className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
  
  <!-- SQLServer JDBC driver -->
  <javaPermission className="java.net.SocketPermission" name="*" actions="connect,resolve" />
  
  <variable name="onError" value="FAIL"/>
</server>