<!--
    Copyright (c) 2017,2026 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
  <include location="../fatTestPorts.xml" />

  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>restConnector-2.0</feature>
    <feature>jdbc-4.2</feature>
    <feature>usr:nestedFlat-1.0</feature>
  </featureManager>

  <variable name="onError" value="FAIL"/>

  <keyStore id="defaultKeyStore" password="Liberty"/>
  
  <basicRegistry>
    <user name="adminuser" password="adminpwd" />
    <user name="reader" password="readerpwd" />
    <user name="user" password="userpwd" />
  </basicRegistry>
  <administrator-role>
    <user>adminuser</user>
  </administrator-role>
  <reader-role>
    <user>reader</user>
  </reader-role>
  
  <library id="H2">
    <file name="${shared.resource.dir}/h2Java8/h2.jar"/>
  </library>

  <dataSource id="DataSourceWithoutJDBCDriver" jndiName="jdbc/withoutJDBCDriver" connectionSharing="MatchCurrentState" transactional="false">
    <containerAuthData id="dbuser-auth" user="dbuser" password="{xor}Oz0vPiws"/>
   	<properties.h2 URL="jdbc:h2:mem:withoutJDBCDriver;DB_CLOSE_DELAY=-1"/>
  </dataSource>

  <dataSource id="DefaultDataSource" isolationLevel="TRANSACTION_READ_COMMITTED">
    <jdbcDriver libraryRef="H2"/>
    <!-- user/password settings defined in bootstrap.properties -->
   	<properties.h2 URL="jdbc:h2:mem:defaultdb;DB_CLOSE_DELAY=-1" user="dbuser" password="dbpass"/>
  </dataSource>

  <dataSource id="jdbc/nonexistentdb" jndiName="${id}">
    <CONNECTIONMANAGER id="NestedConPool" agedTimeout="1h2m3s" connectionTimeout="0s" maxIdleTime="40m" reapTime="2m30s"/>
    <jdbcDriver libraryRef="H2"/>
   	<properties.h2 URL="jdbc:h2:file:doesNotExist;IFEXISTS=TRUE;DB_CLOSE_DELAY=-1"/>
  </dataSource>

  <transaction>
    <dataSource transactional="false" containerAuthDataRef="auth1">
      <connectionManager maxPoolSize="5" connectionTimeout="0s"/>
      <jdbcDriver libraryRef="H2"/>
   	  <properties.h2 URL="jdbc:h2:mem:recoverydb;DB_CLOSE_DELAY=-1"/>
    </dataSource>
  </transaction>

  <!-- ejbLite and batch features are intentionally disabled -->
  <databaseStore id="unavailableDBStore">
    <dataSource id="unavailableDS">
      <jdbcDriver libraryRef="H2"/>
      <properties.h2 URL="jdbc:h2:file:unavailabledb;IFEXISTS=TRUE;DB_CLOSE_DELAY=-1"/>
    </dataSource>
  </databaseStore>

  <!-- mongo feature intentionally disabled, so it doesn't matter that we are using an incorrect library -->
  <mongo id="builder" libraryRef="H2Lib" password="pwd1" user="u1"/>
  <mongoDB id="MongoDBNotEnabled" jndiName="mongo/db" mongoRef="builder" databaseName="testdb" />
  
  <authData id="auth1" user="dbuser" password="dbpass"/>
  
  <authData id="auth2" user="dbuser" password="wrong_password"/>
  
  <dataSource jndiName="jdbc/defaultauth" containerAuthDataRef="auth1"> <!-- id omitted for testing -->
    <connectionManager enableSharingForDirectLookups="false"/>
    <jdbcDriver id="NestedH2Driver" libraryRef="H2"
     javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
     javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
     javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"/>
    <onConnect>SET SCHEMA DBUSER</onConnect>
    <onConnect>DROP TABLE IF EXISTS NON_EXISTENT_TABLE</onConnect>
    <properties.h2 URL="jdbc:h2:mem:defaultdb;DB_CLOSE_DELAY=-1"/>
  </dataSource>

  <dataSource id="WrongDefaultAuth" jndiName="jdbc/wrongdefaultauth"
    connectionManagerRef="pool1" containerAuthDataRef="auth2" commitOrRollbackOnCleanup="rollback"
    invalidProperty="The property's value." jdbcDriverRef="H2Driver" queryTimeout="2m10s"
    recoveryAuthDataRef="auth2" statementCacheSize="15" validationTimeout="20s">
    <properties URL="jdbc:h2:mem:defaultdb;DB_CLOSE_DELAY=-1"/>
  </dataSource>
  
  <dataSource id="NestedElementCase" jndiName="jdbc/nestedElementCase">
  	<JdBcDrIvEr libraryRef="H2" javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" />
  </dataSource>

  <connectionManager id="pool1" maxPoolSize="10" purgePolicy="ValidateAllConnections"/>

  <jdbcDriver id="H2Driver" libraryRef="H2"/>

  <!-- This app doesn't actually exist.  The config is just here to test child-first config -->
  <application id="bogus" location="bogus.war" autoStart="false">
 	  <application-bnd>
            <security-role name="JOBSTARTER">
                <user name="sammy" />
                <run-as userid="sammy" password="sammypwd"/>
            </security-role>
        </application-bnd>
  		<webservices-bnd moduleName="test">		
  			<webservice-endpoint-properties someAttribute="test" />
		</webservices-bnd>
  </application>
  
  <!-- This app doesn't actually exist.  The config is just here to test child-first config -->
  <enterpriseApplication id="bogusear" location="bogusear.ear" autoStart="false">
  		<webservices-bnd moduleName="test">		
  			<webservice-endpoint-properties someAttribute="test" />
		</webservices-bnd>
  </enterpriseApplication>
  
  <!-- config for testNestedFlat -->
  <usr_parent id="a" name="one">
  	<child value="two">
  		<grandchild value="three"/>
  	</child>
  </usr_parent>
  
  <!-- config for testConfigDefaultInstances -->
  <usr_parent id="dflt">
  	<usr_child id="usrConfig">
  		<usr_grandchild value="a"/>
  	</usr_child>
  	<usr_child id="mergedConfig" name="mergedChild">
  		<usr_grandchild id="one" value="b"/>
  		<usr_grandchild id="two" value="c"/>
  		<usr_grandchild id="four" name="grandchildOpt"/>
  	</usr_child>
  </usr_parent>
  
  <javaPermission codebase="${shared.resource.dir}/h2Java8/h2.jar" className="java.security.AllPermission"/>
</server>