<!--
    Copyright (c) 2022, 2025 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

  <featureManager>
    <feature>componenttest-2.0</feature>
    <feature>data-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>persistence-3.2</feature>
    <feature>servlet-6.1</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <data>
    <logValues>test.jakarta.data.jpa.web</logValues>
  </data>

  <applicationManager startTimeout="60s"/>

  <application location="DataJPATestApp.war">
    <classloader commonLibraryRef="DerbyLib"/>
  </application>

  <library id="DerbyLib">
    <fileset dir="${shared.resource.dir}/derbyJava17Plus" includes ="*.jar"/>
  </library>

  <!-- For DataSourceDefinition java:module/jdbc/RepositoryDataStore which is used by Customers and CreditCards repositories -->
  <variable name="repository.datasource.class.name" value="org.apache.derby.jdbc.EmbeddedXADataSource"/>
  <variable name="repository.database.name" value="memory:testdb"/>
  <variable name="repository.database.user" value="dbuser1"/>
  <variable name="repository.database.password" value="dbpwd1"/>

  <!-- For all other repositories: -->
  <dataSource id="DefaultDataSource" fat.modify="true">
    <jdbcDriver libraryRef="JDBCLibrary"/>
    <properties.derby.embedded createDatabase="create" databaseName="memory:testdb" user="dbuser1" password="dbpwd1"/>
  </dataSource>

  <library id="JDBCLibrary">
    <fileset dir="${shared.resource.dir}/jdbcJava17Plus" includes="${env.DB_DRIVER}"/>
  </library>

  <javaPermission codeBase="${shared.resource.dir}/derbyJava17Plus/derby.jar" className="java.security.AllPermission"/>
  <javaPermission codeBase="${shared.resource.dir}/derbyJava17Plus/derbytools.jar" className="java.security.AllPermission"/>
  <javaPermission codeBase="${shared.resource.dir}/derbyJava17Plus/derbyshared.jar" className="java.security.AllPermission"/>
</server>
