<server>
    <featureManager>
    	<feature>jaxws-2.2</feature>
    	<feature>servlet-3.1</feature>
    	<feature>jdbc-4.0</feature>
    	<feature>mpMetrics-1.1</feature>
    </featureManager>

    <include location="../fatTestPorts.xml"/>
    <include location="serverJDBCConfig.xml"/>
    <include location="serverConfig.xml"/>
</server>

