<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/DerivedIdentityTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.derivedidentity.ejblocal.DerivedIdentitySFEJBLocal</local>
        <ejb-link>DerivedIdentityTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DerivedIdentityTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.derivedidentity.ejblocal.DerivedIdentitySFEXEJBLocal</local>
        <ejb-link>DerivedIdentityTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DerivedIdentityTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.derivedidentity.ejblocal.DerivedIdentitySLEJBLocal</local>
        <ejb-link>DerivedIdentityTestSLEJB</ejb-link>
    </ejb-local-ref>
</web-app>
