<server description="Server for testing Jandex index in WEB-INF/classes without readWebInfJandex">

  <include location="../fatTestPorts.xml"/>

  <featureManager>
    <feature>servlet-3.1</feature>
  </featureManager>

  <javaPermission
    className="java.util.PropertyPermission"
    name="org.glassfish.web.rfc2109_cookie_names_enforced"
    actions="read"
    codebase="${server.config.dir}dropins/TestServlet40.ear"/>

  <!-- useJandex is enabled but readWebInfJandex is omitted, so the index at
       WEB-INF/classes/META-INF/jandex.idx should NOT be read -->
  <application location="TestServlet40_WebInf.ear" useJandex="true"/>
  <applicationManager useJandex="true"/>

</server>
