#breadcrumbButtonDiv {
    width: 80px;
    height: 44px;
    position: absolute;
}

#javaBatchDashboardButton {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 2px;
}

#javaBatchDashboardButton:hover {
    outline-color: #778186;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3) inset;
    cursor: pointer;
}

.javaBatchBreadcrumbButton {
    height: 42px;
    width: 42px;
}

.javaBatchBreadcrumbButton svg {
    margin: 15%;
}

.breadcrumbTextOnly .dijitButtonNode .dijitIcon svg {
    /* 
	For some reason, Firefox 50.1.0 still gives a size to the icon when 
	this is _breadcrumbTextOnly_.  Chrome Version 55.0.2883.95 (64-bit) 
	had no issues giving the SVG element zero space.
	*/
    height: 0px;
    width: 0px;
}

.javaBatchBreadcrumbSeparator {
    /* 14px is the size of the breadcrumb separator icon*/
    width: 14px;
}