/*
* All of our css files get minified into this single css file in order to improve performance.
*/
@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/gridColumnSelectionButton.css");

@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/breadcrumb.css");

@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/oneuiExtension.css");

@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/search.css");

@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/dialog.css");

@import url("javaBatchGrid.css");

@import url("jobLogsView.css");

@import url("javaBatchBreadcrumb.css");

@import url("executionDetails.css");

/***********************************************************************************************/
/*  Fonts                                                                                      */
/***********************************************************************************************/
@font-face {
    font-family: 'HelvNeueRoman';
    src: url('../fonts/helvetica-neue-roman.woff');
}

@font-face {
    font-family: 'HelvNeueMedium';
    src: url('../fonts/helvetica-neue-medium.woff');
}

@font-face {
    font-family: 'HelvNeueBold';
    src: url('../fonts/helvetica-neue-bold.woff');
    font-weight: bold;
}

* {
    font-family: 'HelvNeueRoman', Helvetica, Arial, sans-serif;
}

/***********************************************************************************************/
/*  Misc styling specific to java batch tool                                                   */
/***********************************************************************************************/
.topDetailContentPane {
    width: 100%;
    height: 100%;
}

.tabbedState {
  /* This is used only for "indenting" some of the job instance states
  in the drop down menu of the search pill */
    padding-left: 10px;
}

.tabbedState td.dijitMenuItemLabel {
	/* Indentation happens in the actual menu item label */
	padding-left: 10px;
}

/***********************************************************************************************/
/*  OneUI overrides                                                                      */
/***********************************************************************************************/
.oneui {
    font-family: 'HelvNeueRoman', Helvetica, Arial, sans-serif;
}

.dijitHidden {
    display: none;
}

/* to remove the arrow in the drop down button */
.dijitArrowButtonInner {
    display: none;
}

/***********************************************************************************************/
/*  OneUI color overrides                                                                      */
/***********************************************************************************************/
.oneui .dijitMenuTable .dijitMenuItemHover, .oneui .dijitMenuTable .dijitMenuItemSelected {
    color: #000000;
    background-color: #C0E6FF;
}

.oneui .gridx .gridxBodyRowHoverEffect .gridxRowOver .gridxRowTable .gridxCell {
    background-color: #C0E6FF;
}

.oneui .gridx .gridxRow .gridxColumnSelected {
    background-color: #C0E6FF;
}

input[align="right"] {
    text-align: right;
}
