.jobLogsContainer {
    height: 100%;
    width: 100%;
}

.downloadDialog {
    padding-bottom: 6px !important;
    min-width: 462px !important;
}

.navigationBar {
    height: 30px;
    width: 100%;
    display: inline-block;
    background: #e0e0e0;
    padding-top: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
}

.navigationBarNumberBox {
    width: 30px;
    padding: 2px 5px;
}

.navigationButtons {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
    cursor: pointer;
}

.navigationBar .dijitButton:hover {
    background: #eeeeee;
}

.navigationButtons svg {
    width: 20px;
    height: 20px;
    margin: 2px;
    cursor: pointer;
}

.logContentPane {
    width: 100%;
    height: 94%;
    overflow: auto;
}

.logContentPane pre {
    border: 0px;
    background-color: #fff;
}

#download-button_label {
    padding-left: 4px;
    padding-right: 6px;
}

#downloadButton {
    font-size: 18px;
    text-align: center;
    height: 40px;
    width: 100%;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: #4178BE;
}

#downloadButton:hover, #downloadButton:focus {
    box-shadow: 0px 0px 0px 1px #ffffff inset;
    border: 3px solid #5AAAFA !important;
}

.downloadIcon {
    display: inline-block;
    width: 77px;
    vertical-align: top;
}

.downloadIcon svg {
    margin-left: 30px;
    height: 32px;
    width: 32px;
}

.downloadMessageContent {
    display: inline-block;
    width: 80%;
    font-size: 14px;
}

.downloadDescription {
    margin-bottom: 20px;
}

.downloadToggle {
    margin-bottom: 30px;
}

#previous-button, #top-button {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.pageNavigation {
    display: inline-block;
}

.pageNumberBox {
    width: 30px;
    padding: 2px 5px;
}

.logsNavigation {
    display: inline-block;
}

#widget_pageNumber-Box>div {
    padding: 0px;
}

#pageNumber-Box {
    text-align: center;
}

.totalPages {
    font-size: 15px;
}

.navigationButton {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.cancelIcon {
    background-image: url(../imagesShared/close-T.png);
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    position: absolute;
    margin-top: -14px;
    margin-right: -14px;
    height: 40px;
    width: 40px;
    padding: 0;
    overflow: visible;
    top: 5px;
    right: 5px;
}

.oneui .dijitDialogCloseIcon {
    display: block;
}