<server description="Server for testing Config Admin with dropin applications">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpHealth-2.2</feature>
    </featureManager>
	
	<logging traceSpecification="*=info:HEALTH=all"/>

	<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${bvt.prop.HTTP_default}" httpsPort="${bvt.prop.HTTP_default.secure}">
		<tcpOptions portOpenRetries="60" />                   
	</httpEndpoint>
	
</server>
