<!--
    Copyright (c) 2022 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
    <applicationManager startTimeout="90s"/>
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>mpConfig-2.0</feature>
        <feature>cdi-2.0</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>

    <variable name="req_scope_key" defaultValue="defaultValue" />
    <variable name="app_scope_key" defaultValue="defaultValue" />
    <variable name="config_object_app_scope_key" defaultValue="defaultValue" />
    <variable name="config_object_properties_app_scope_key" defaultValue="defaultValue" />
    <variable name="early_access_app_scope_key" defaultValue="defaultValue" />
    <variable name="var_dir_req_scope_key" defaultValue="defaultValue" />
    <variable name="var_dir_app_scope_key" defaultValue="defaultValue" />
</server>
