<div class="downloadDialog">
  <section class="downloadMessageDiv">
    <div class="downloadIcon">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"><use xlink:href="${descriptionIcon}"></use></svg>
    </div>
    <div class="downloadMessageContent">
      <div class="downloadDescription">${!description}</div>
		  <div class="downloadToggle">
		  	<input role="checkbox" type="checkbox" id="zipToggle" aria-checked='false'></input>
		  	<label for="zipToggle">${downloadToggleCheckbox}</label>
		  </div>
    </div>
  </section>
    <button class="" id="downloadButton" role="button" aria-label="${downloadButtonAriaLabel}" data-dojo-attach-point="downloadButton" tabindex="${downloadButtonTabIndex}">${downloadButtonText}</button>
</div>