<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   02/14/2013  mzheng         CXF Web service - WSS templates test service client
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CxfWssTemplatesSvcClientWithep</display-name>

    <servlet>
        <servlet-name>wsstemplatesclientwithhep</servlet-name>
        <display-name>wsstemplatesclientwithhep</display-name>
        <description>CXF WSS Templates test Service Client</description>        			   
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplatesclientwithep.CxfWssTemplatesSvcClientWithep</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>