<server>
    <featureManager>
        <feature>componenttest-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jndi-1.0</feature>
    </featureManager>

    <include location="../fatTestPorts.xml"/>

    <jndiEntry jndiName="foo" value="bar" />

    <javaPermission className="java.security.AllPermission" name="*" actions="*"/>

</server>
