# Ignore build folders at the root of each project
/*/*/build/

# Ignore bin folders at the root of each project
/*/*/bin/

# Ignore bin_test folders at the root of each project
/*/*/bin_test/

# Ignore generated folders at the root of each project
/*/*/generated/

# Ignore all autoFVT folders at the root of each project
/*/*/autoFVT/

# Ignore some jazz metadata
.jazz5/

# Ignore class files (as some extra sanity) - they should never be under source control
*.class

# Ignore .DS_Store which occurs on zip extract on mac
.DS_Store

# Ignore gradle metadata
.gradle

# Ignore Eclipse metadata
.metadata/

# Ignore JetBrains .idea
.idea

# Ignore direnv files - for quickly switching between JDK levels between projects
.envrc

# Ignore IBM Bob files aside from an allow list. Developers may create additional custom repository-level IBM Bob functionality as needed and add it to the allow list(s).
.bob/*
!.bob/rules/
.bob/rules/*

# Allow list of IBM Bob rules. Rules added here are intended for use by everyone, so be intentional about any rules that are added.
!.bob/rules/contributing.md
