<server description="openTracingServer0">

  <featureManager>
    <feature>servlet-3.1</feature>
    <!-- The open tracing feature should be brought in by the open tracing mock feature. -->
    <!-- <feature>opentracing-1.0</feature> -->
    <feature>opentracingMock-0.30</feature>
    <feature>componenttest-1.0</feature>
  </featureManager>

  <!-- START: Imported and modified fatTestPorts. -->

  <!-- Override port assignments to enable two concurrent FAT servers. -->
  <!-- Without port overrides, port conficts occur. -->

  <!-- include location="../fatTestPorts.xml" -->

  <include location="../fatTestCommon.xml"/>

  <httpEndpoint id="defaultHttpEndpoint"
                host="*"
                httpPort="${bvt.prop.HTTP_default}"
                httpsPort="${bvt.prop.HTTP_default.secure}"/>

  <iiopEndpoint id="defaultIiopEndpoint" iiopPort="${bvt.prop.IIOP}">
    <iiopsOptions  iiopsPort="${bvt.prop.IIOP.secure}" sslRef="defaultSSLConfig"/>
  </iiopEndpoint>

  <wasJmsEndpoint host="localhost" wasJmsPort="${bvt.prop.jms.0}" wasJmsSSLPort="${bvt.prop.jms.0.ssl}" />

  <!-- END: Imported and modified fatTestPorts. -->

  <application location="serviceApp.war">
    <classloader apiTypeVisibility="spec, ibm-api, third-party"/>
  </application>

  <!-- Turn this on for the FAT: That provides good diagnostics in case -->
  <!-- of a failure, and means that trace code is tested. -->
  <logging traceSpecification="*=audit:com.ibm.ws.opentracing.*=all"/>

</server>
