<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2023 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
 -->
<web-app version="6.0" 
  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">


<!-- 
isThreadSafe is removed from Pages 4.0
jsp:plugin and related actions are removed from Pages 4.0
 -->
  <display-name> Pages 4.0 Changes App </display-name>

</web-app>
