<!--
    Copyright (c) 2024 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0

    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
    <featureManager>
      <feature>componenttest-1.0</feature>
      <feature>servlet-4.0</feature>
      <feature>ejbLite-3.2</feature>
      <feature>jca-1.7</feature>
      <feature>mdb-3.2</feature>
      <feature>passwordUtilities-1.0</feature>
      <feature>localConnector-1.0</feature>
      <feature>monitor-1.0</feature>
      <feature>concurrent-1.0</feature>
    </featureManager>

    <include optional="true" location="../fatTestPorts.xml"/>

    <variable name="onError" value="FAIL"/>

    <resourceAdapter location="${server.config.dir}/connectors/DerbyRA.rar" contextServiceRef="DefaultContextService"/>

    <connectionFactory jndiName="eis/ds1">
      <connectionManager maxPoolSize="2" connectionTimeout="0"/>
      <containerAuthData user="DS1USER" password="{xor}GwxuDwgb"/>
      <properties.DerbyRA/>
    </connectionFactory>
    
    <connectionFactory jndiName="eis/ds2">
      <containerAuthData user="DS1USER" password="{xor}GwxuDwgb"/>
      <properties.DerbyRA exceptionOnDestroy="true"/>
    </connectionFactory>

    <connectionFactory jndiName="eis/ds3">
      <connectionManager maxPoolSize="1"/>
      <properties.DerbyRA userName="DS1USER" password="{xor}GwxuDwgb" xaSuccessLimit="0"/>
    </connectionFactory>
    
    <connectionFactory jndiName="eis/ds4">
      <connectionManager enableSharingForDirectLookups="false"/>
      <containerAuthData user="DS1USER" password="{xor}GwxuDwgb"/>
      <properties.DerbyRA/>
    </connectionFactory>

    <connectionFactory jndiName="eis/ds5">
      <connectionManager maxPoolSize="1" connectionTimeout="0" autoCloseConnections="true" temporarilyAssociateIfDissociateUnavailable="true"/>
      <properties.DerbyRA dissociatable="false" lazyEnlistable="true" userName="DS1USER" password="{xor}GwxuDwgb"/>
    </connectionFactory>

    <activationSpec id="derbyRAApp/fvtweb/DerbyRAMessageDrivenBean">
      <recoveryAuthData userName="ActvSpecUser" password="ActvSpecPwd"/> <!-- convenient place to test recoveryAuthData for activation specs -->
      <!-- TODO remove configuration of qmid once application server starts setting the value on XA recovery path -->
      <properties.DerbyRA keyPrefix="mdbtest" qmid="This-QMID-Is-Required-For-XA-Recovery"/>
    </activationSpec>

    <adminObject jndiName="eis/bootstrapContext">
      <properties.DerbyRA.BootstrapContext/>
    </adminObject>

    <adminObject jndiName="eis/map1">
      <properties.DerbyRA.Map tableName="MAP1"/>
    </adminObject>

    <!-- "APP" is the default schema for Derby -->
    <authData id="APP" user="APP" password="{aes}ARAM+spFSyffcLzRa7yFumadNtLCSyfySk98jjDJ/lR5x4P9ipHU/rei/9W0e0BrjWO0sJLNNLP5EXIArLhAjiT4UATmFDvuQ0cLRcci0483AtbzNOP+dP0IcLd0LWJV+/oCSVVR4LzP"/>

    <application type="ear" id="derbyRAApp" location="derbyRAApp.ear"/>

    <transaction heuristicRetryInterval="2"/>

    <!-- 
    NOTE: for this bucket to run cleanly with j2sec enabled with IBM JDK, the following permission must 
    be manually granted in the java.policy file at $JAVA_HOME/jre/lib/security/java.policy: 
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.bind.v2.runtime.reflect";
    -->
    <javaPermission className="java.util.PropertyPermission" name="*" actions="read"/>
    <javaPermission className="javax.security.auth.PrivateCredentialPermission" signedBy="${env.PERMISSION}" principalType="*" principalName="*" actions="read"/>
    <javaPermission className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
    <javaPermission className="java.lang.RuntimePermission" name="modifyThread"/>
    <javaPermission className="java.lang.RuntimePermission" name="getClassLoader"/>
    <javaPermission className="javax.management.MBeanPermission" name="*" actions="*"/>
    <javaPermission className="javax.management.MBeanServerPermission" name="createMBeanServer"/>
    <javaPermission className="java.io.FilePermission" name="ALL FILES" actions="read,write"/>
</server>
