<server>
    <featureManager>
      <feature>componenttest-1.0</feature>
      <feature>concurrent-1.0</feature>
      <feature>jaxrs-2.1</feature>
      <feature>jndi-1.0</feature>
    </featureManager>

	<include location="../fatTestPorts.xml"/>    
    
    <application location="jaxrsapp.war" />

    <!-- temporary workaround for AccessControlException from org.apache.cxf.jaxrs.provider.ProviderCache.<clinit>(ProviderCache.java:35) -->
    <javaPermission className="java.util.PropertyPermission" name="org.apache.cxf.jaxrs.max_provider_cache_size" actions="read"/>

    <managedScheduledExecutorService jndiName="concurrent/scheduledExecutor">
      <contextService>
        <classloaderContext/>
        <jeeMetadataContext/>
      </contextService>
    </managedScheduledExecutorService>

    <variable name="onError" value="FAIL"/>
</server>