##
## Velocity Template for aacli/resolvertest Utility Output
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## request - HttpServletRequest
## response - HttpServletResponse
## profileRequestContext
## attributeContext
## XMLObjectSupport
## SerializeSupport
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#if ($flowRequestContext.getCurrentEvent() and !$flowRequestContext.getCurrentEvent().getId().equals("proceed"))
    { "error": "$flowRequestContext.getCurrentEvent().getId()" }
    $response.setContentType("application/json")
    #stop
#end
#if ($profileRequestContext.getOutboundMessageContext() and $profileRequestContext.getOutboundMessageContext().getMessage())
$SerializeSupport.prettyPrintXML($XMLObjectSupport.marshall($profileRequestContext.getOutboundMessageContext().getMessage()))
    $response.setContentType("text/xml")
    #stop
#end 

{
"requester": "$profileRequestContext.getInboundMessageContext().getMessage().getRequesterId()",
"principal": "$profileRequestContext.getInboundMessageContext().getMessage().getPrincipal()",
"attributes": [

#foreach ($attribute in $attributeContext.getIdPAttributes())

  {
    "name": "$attribute.getId()",
    "values": [
      #foreach ($value in $attribute.getValues())
        "$value.toString().replace('"','\"')"#if( $foreach.hasNext ),#end
      #end
    ]
  }#if( $foreach.hasNext ),#end
  
#end

]
}

$response.setContentType("application/json")
