<?xml version="1.0" encoding="UTF-8"?>
<server description="serverA">

    <!-- Enable features -->
    <featureManager>
        <feature>genericCoreFeature</feature>
		<feature>featureA-1.0</feature>
		<feature>featureB-1.0</feature>
		<feature>featureC-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />

</server>