<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">

  <display-name>Durable Unshared Servlet</display-name>

  <servlet id="Default">
    <servlet-name>DurableUnshared FAT Servlet</servlet-name>
    <display-name>DurableUnshared FAT Servlet</display-name>
    <servlet-class>durableunshared.web.DurableUnsharedServlet</servlet-class>
  </servlet>

  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>DurableUnshared FAT Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <res-ref-name>eis/tcf</res-ref-name>
    <res-type>javax.jms.TopicConnectionFactory</res-type>
    <lookup-name>eis/tcf</lookup-name>
  </resource-ref>
  
  <resource-ref>
    <res-ref-name>eis/tcf1</res-ref-name>
    <res-type>javax.jms.TopicConnectionFactory</res-type>
    <lookup-name>eis/tcf1</lookup-name>
  </resource-ref>
  
  <resource-env-ref>
    <resource-env-ref-name>eis/topic1</resource-env-ref-name>
    <resource-env-ref-type>javax.jms.Topic</resource-env-ref-type>
  </resource-env-ref>
  
  <resource-env-ref>
    <resource-env-ref-name>eis/topic2</resource-env-ref-name>
    <resource-env-ref-type>javax.jms.Topic</resource-env-ref-type>
  </resource-env-ref>

</web-app>
