<server>
    <transaction
        recoverOnStartup="true"
        waitForRecovery="false"
        heuristicRetryInterval="10"
    />

    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>txtest-1.0</feature>
    </featureManager>

    <application location="sslRecovery.war">
        <classloader commonLibraryRef="PostgresLib"/>
    </application>
    
    <library id="PostgresLib">
        <file name="${shared.resource.dir}/postgres/postgresql.jar"/>
    </library>

    <dataSource jndiName="jdbc/anonymous/XADataSource" type="javax.sql.XADataSource">
      <jdbcDriver libraryRef="PostgresLib" />
      <properties.postgresql serverName="${env.POSTGRES_HOST}" portNumber="${env.POSTGRES_PORT}" databaseName="${env.POSTGRES_DB}" user="${env.POSTGRES_USER}" password="${env.POSTGRES_PASS}"
                             ssl="true" sslfactory="org.postgresql.ssl.DefaultJavaSSLFactory" sslMode="verify-ca"/>
    </dataSource>

    <dataSource jndiName="jdbc/anonymous/XADataSource2" type="javax.sql.XADataSource">
      <jdbcDriver libraryRef="PostgresLib" />
      <properties.postgresql serverName="${env.POSTGRES_HOST}" portNumber="${env.POSTGRES_PORT}" databaseName="${env.POSTGRES_DB}" user="${env.POSTGRES_USER}" password="${env.POSTGRES_PASS}"
                             ssl="true" sslfactory="org.postgresql.ssl.DefaultJavaSSLFactory" sslMode="verify-ca"/>
    </dataSource>
    
    <sslDefault outboundSSLRef="outboundConfig" httpHostNameVerification="false"/>
    <ssl id="outboundConfig" keyStoreRef="outboundKeyStore" verifyHostname="false"/>
    <keyStore id="outboundKeyStore" location="resources/security/outboundKeys.p12" password="liberty"/>
    
    <include location="../fatTestPorts.xml"/>
    
    <!-- Needed because this sysprop is read by static init of the org.postgresql.jdbc.PgStatement class, which could be triggered by many different 
         code paths in the Liberty code and it's not feasible to doPriv all of those paths or worth eagerly loading the PgStatement class -->
    <javaPermission codeBase="${server.config.dir}/apps/sslRecovery.war" className="java.util.PropertyPermission" name="org.postgresql.forceBinary" actions="read"/>
    
    <javaPermission codeBase="${server.config.dir}/jdbc/driver.jar" className="java.security.AllPermission"/>
    <javaPermission codeBase="${shared.resource.dir}/postgres/postgresql.jar" className="java.security.AllPermission"/>

    <javaPermission codebase="${server.config.dir}/apps/sslRecovery.war" className="java.security.AllPermission"/>
    <javaPermission className="java.lang.RuntimePermission" name="*" actions="*"/>
    <javaPermission className="java.io.FilePermission" name="ALL FILES" actions="read,write,delete"/>

</server>
