<server>
  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>mpRestClient-2.0</feature>
    <feature>jaxrs-2.1</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <!--  Required to read the remote server's port system property -->
  <javaPermission className="java.util.PropertyPermission"  name="*" actions="read" />

</server>