<server description="server">

    <featureManager>
        <feature>batch-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>ejb-3.2</feature>
        <feature>componenttest-1.0</feature>
        <feature>jaxb-2.2</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>
    
    <application location="implicit.war" />

    <logging maxFileSize="100" maxFiles="4" traceSpecification="*=info:test=all:com.ibm.jbatch.*=all:com.ibm.ws.jbatch.*=all:EJBContainer=all:Injection=all:JCDI=all:MetaData=all:com.ibm.jbatch.*=all:com.ibm.ws.cdi*=all:com.ibm.ws.jbatch.*=all:org.jboss.weld*=all"/>

</server>
