<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   10/24/2012  chriscr        New CXF Web Password Digest service
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>pwdigest</display-name>

	<servlet>
        <servlet-name>pwdigest</servlet-name>
        <display-name>pwdigest</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestWebSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwdigest</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestWebSvc</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

	<servlet>
        <servlet-name>pwdigestSSL</servlet-name>
        <display-name>pwdigestSSL</display-name>
        <description>Username token CXF Endpoint using Password Digest requiring SSL</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestWebSvcWithSSL</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwdigest</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestWebSvcWithSSL</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>pwDigestCreated</servlet-name>
        <display-name>pwDigestCreated</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestCreatedSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestCreated</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestCreatedSvc</url-pattern>
    </servlet-mapping>
    
    	<servlet>
        <servlet-name>pwDigestCreatedSSL</servlet-name>
        <display-name>pwDigestCreatedSSL</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestCreatedSvcWithSSL</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestCreated</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestCreatedSvcWithSSL</url-pattern>
    </servlet-mapping>
    
   	<servlet>
        <servlet-name>pwDigestNonceCreated</servlet-name>
        <display-name>pwDigestNonceCreated</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestNonceCreatedSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestNonceCreated</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestNonceCreatedSvc</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>pwDigestNonceCreatedSSL</servlet-name>
        <display-name>pwDigestNonceCreatedSSL</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestNonceCreatedSvcWithSSL</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestNonceCreated</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestNonceCreatedSvcWithSSL</url-pattern>
    </servlet-mapping>
       
   	<servlet>
        <servlet-name>pwDigestNonce</servlet-name>
        <display-name>pwDigestNonce</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestNonceSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestNonce</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestNonceSvc</url-pattern>
    </servlet-mapping>

   	<servlet>
        <servlet-name>pwDigestNonceWithSSL</servlet-name>
        <display-name>pwDigestNonceWithSSL</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestNonceSvcWithSSL</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestNonce</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestNonceSvcWithSSL</url-pattern>
    </servlet-mapping>

   	<servlet>
        <servlet-name>pwDigestNoPassword</servlet-name>
        <display-name>pwDigestNoPassword</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestNoPasswordSvc</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestNoPassword</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestNoPasswordSvc</url-pattern>
    </servlet-mapping>

   	<servlet>
        <servlet-name>pwDigestNoPasswordSSL</servlet-name>
        <display-name>pwDigestNoPasswordSSL</display-name>
        <description>Username token CXF Endpoint using Password Digest</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.pwdigest.UsrTokenPWDigestNoPasswordSvcWithSSL</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pwDigestNoPassword</servlet-name>
        <url-pattern>/pwdigest/UsrTokenPWDigestNoPasswordSvcWithSSL</url-pattern>
    </servlet-mapping>

</web-app>


