/.gradle/
/.gradle-wrapper/
/.m2/
/gradlew
/gradlew.bat
/*/bin/
/*/bin_test/
/*/generated/
*findbugs.checksums.properties
*chkpii.checksums.properties
generated.properties
/build.pii.package/
/published_outputs/
/build/
