<!--
    Copyright (c) 2021, 2022 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

	<featureManager>
		<feature>jsp-2.3</feature>
		<feature>jwtSso-1.0</feature>
		<feature>servlet-4.0</feature>
	</featureManager>


	<!--
		Include common configuration. 
	 -->
	<include
		location="${shared.resource.dir}/configs/testingConfig.xml" />
	<include
		location="${shared.resource.dir}/configs/httpEndpoint2.xml" />
	<include
		location="${shared.resource.dir}/configs/basicRegistry.xml" />
	<include
		location="${shared.resource.dir}/configs/customLoginModule.xml" />
	<include
		location="${shared.resource.dir}/configs/libraries.xml" />
	<include
		location="${shared.resource.dir}/configs/ssl.xml" />
	<include
		location="${shared.resource.dir}/configs/appFormLogin.xml" />

    <!-- 
        Configure the CachingProvider and CacheManager.
     -->
	<cachingProvider id="CachingProvider"
		providerClass="org.infinispan.jcache.remote.JCachingProvider"
		jCacheLibraryRef="InfinispanLib" commonLibraryRef="CustomLoginLib" />

	<cacheManager id="CacheManager"
		cachingProviderRef="CachingProvider"
		uri="file:///${shared.resource.dir}/infinispan/${infinispan.hotrod.file}">
		
        <!-- 
             The system property can't be read from the Hotrod properties file, so define it here.
         -->
		<properties
			infinispan.client.hotrod.uri="${infinispan.client.hotrod.uri}" />

	</cacheManager>

	<!--
		Configure the JCache instances.
	 -->
	<cache id="AuthCache" name="AuthCache"
		cacheManagerRef="CacheManager" />
	<cache id="LoggedOutCookieCache" name="LoggedOutCookieCache"
		cacheManagerRef="CacheManager" />

	<!--
		Configure the authentication cache and the logged out cookie cache to use
		the JCache instances. 
	 -->
	<authCache cacheRef="AuthCache" />
	<webAppSecurity
		loggedOutCookieCacheRef="LoggedOutCookieCache" />

	<!--
		JWT SSO configuration.
	 -->
	<jwtSso jwtBuilderRef="myJwtBuilder" />
	<jwtBuilder id="myJwtBuilder" />
	<mpJwt id="myMpJwt" issuer="ALL_ISSUERS"
		jwksUri="https://localhost:${bvt.prop.HTTP_default.secure}/jwt/ibm/api/defaultJWT/jwk" />

</server>
