<server>
    <featureManager>
        <feature>mpTelemetry-2.0</feature>
        <feature>servlet-6.1</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <include location="../fatTestPorts.xml"/>
    <include location="serverConfig.xml"/>
    <include location="serverJDBCConfig.xml"/>
</server>

