<server description="Server for testing Webcontainer">

  <include location="../fatTestPorts.xml"/>

  <featureManager>
    <feature>servlet-4.0</feature>
    <feature>jsp-2.3</feature>
  </featureManager>

  <applicationManager autoExpand="true"/>

  <!--Java2 security-->
  <javaPermission className="java.security.AllPermission"  name="*" actions="*" />

</server>
