<!--
    Copyright (c) 2017, 2023 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

    <include location="../fatTestPorts.xml"/>
    
   <featureManager>
    <feature>txtest-1.0</feature>
    <feature>cdi-1.2</feature>
    <feature>componenttest-1.0</feature>
    <feature>concurrent-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>mpFaultTolerance-1.0</feature>
    <feature>ejb-3.2</feature>
    <feature>servlet-3.1</feature>
  </featureManager>

    <sslDefault outboundSSLRef="mySSLConfig" />
     
    <!-- Server SSL configuration -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" /> 
    <keyStore id="defaultKeyStore" location="defaultKey.jks" type="JKS" password="passw0rd" /> 
    <keyStore id="defaultTrustStore" location="defaultTrust.jks" type="JKS" password="passw0rd" /> 

    <jdbcDriver id="DerbyEmbedded" libraryRef="DerbyLib" />
    <library id="DerbyLib" filesetRef="DerbyFileset" />
    <fileset id="DerbyFileset"
             dir="${shared.resource.dir}derby"
             includes="derby.jar" />
    
    <transaction
      dataSourceRef="tranlogDataSource"
        recoverOnStartup="true"
        waitForRecovery="false"
        heuristicRetryInterval="10"
    />

    <dataSource jndiName="jdbc/derby" jdbcDriverRef="DerbyEmbedded">
      <properties
        databaseName="${shared.resource.dir}/data/transactionFAT7"
        createDatabase="create"
        user="dbuser1"
        password="{xor}Oz0vKDtu"
      />  <!-- password="dbpwd1" -->
    </dataSource>

    <dataSource id="tranlogDataSource" 
	            jdbcDriverRef="DerbyEmbedded"
	            jndiName="jdbc/tranlogDataSource" 
	            transactional="false"> 
        <properties databaseName="${shared.resource.dir}/data/tranlogdb"
                    createDatabase="create" />
    </dataSource>
    
    <javaPermission name="*" actions="*" className="java.security.AllPermission"/>
 
    <logging traceSpecification="Transaction=all:com.ibm.ws.jdbc.*=all:RRA=all:logservice=all=enabled:*=info=enabled"/>

</server>
