<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">
    
  <display-name>HADBFATDataSourceTestWeb</display-name>

  <!-- SERVLET DEFINITIONS -->
  <servlet id="Default">
    <servlet-name>HADB FAT DataSource Servlet</servlet-name>
    <servlet-class>com.ibm.ws.transaction.web.FailoverServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>

  <!-- SERVLET MAPPINGS -->        
  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>HADB FAT DataSource Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- RESOURCE REFERENCES -->
    <resource-ref>
    <res-ref-name>jdbc/tranlogDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Application</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref> 
</web-app>
