<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   01/31/2013  chrisc         DoubleIt tests
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>derivekeysvc</display-name>

    <servlet>
        <servlet-name>derivekey1</servlet-name>
        <display-name>derivekey1</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc1</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey1</servlet-name>
       <url-pattern>/DeriveKeyService1</url-pattern>
    </servlet-mapping>
                                      
    <servlet>
        <servlet-name>derivekey2</servlet-name>
        <display-name>derivekey2</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey2</servlet-name>
       <url-pattern>/DeriveKeyService2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>derivekey3</servlet-name>
        <display-name>derivekey3</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc3</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey3</servlet-name>
       <url-pattern>/DeriveKeyService3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>derivekey4</servlet-name>
        <display-name>derivekey4</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc4</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey4</servlet-name>
       <url-pattern>/DeriveKeyService4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>derivekey5</servlet-name>
        <display-name>derivekey5</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc5</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey5</servlet-name>
       <url-pattern>/DeriveKeyService5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>derivekey6</servlet-name>
        <display-name>derivekey6</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc6</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey6</servlet-name>
       <url-pattern>/DeriveKeyService6</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>derivekey7</servlet-name>
        <display-name>derivekey7</display-name>
        <description>UNT Derived Web Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.derivekey.DeriveKeyWebSvc7</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>derivekey7</servlet-name>
       <url-pattern>/DeriveKeyService7</url-pattern>
    </servlet-mapping>
                                                                                                                                                                             
    <session-config>
       <session-timeout>60</session-timeout>
    </session-config>

</web-app>

