<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">

  <display-name>JCABVTWeb</display-name>

  <servlet id="Default">
    <servlet-name>JMSDefaultCFVariation FAT Servlet</servlet-name>
    <display-name>JMSDefaultCFVariation FAT Servlet</display-name>
    <servlet-class>jmsdefaultcfvariation.web.JMSDefaultCFVariationServlet</servlet-class>
   <!-- <load-on-startup></load-on-startup> -->
  </servlet>

  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>JMSDefaultCFVariation FAT Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <resource-env-ref>
    <resource-env-ref-name>jndi_INPUT_Q</resource-env-ref-name>
    <resource-env-ref-type>javax.jms.Queue</resource-env-ref-type>
  </resource-env-ref>  
  
  <resource-env-ref>
    <resource-env-ref-name>eis/topic1</resource-env-ref-name>
    <resource-env-ref-type>javax.jms.Topic</resource-env-ref-type>
  </resource-env-ref>
  
  <resource-ref>
    <res-ref-name>jms/dcf</res-ref-name>
    <res-type>javax.jms.ConnectionFactory</res-type>
  </resource-ref>
  
  <resource-ref>
    <res-ref-name>CFWithLookup</res-ref-name>
    <res-type>javax.jms.ConnectionFactory</res-type>
    <lookup-name>CFWithLookup</lookup-name>
  </resource-ref>
  
  <resource-ref>
    <res-ref-name>CFWithoutLookup</res-ref-name>
    <res-type>javax.jms.ConnectionFactory</res-type>
  </resource-ref>
  
</web-app>
