<!--
    Copyright (c) 2017,2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
      <feature>servlet-3.1</feature>
      <feature>jdbc-4.1</feature>
      <feature>componentTest-1.0</feature>
      <feature>txfat-1.0</feature>
      <feature>osgiconsole-1.0</feature>
      <feature>cdi-1.2</feature>
    </featureManager>
    
    <transaction
        recoverOnStartup="true"
        waitForRecovery="false"
        heuristicRetryInterval="10"
        recoveryIdentity="FScloud001"
        recoveryGroup="defaultGroup"
    />
	<application location="transaction.war"/>
	
    <javaPermission codebase="${server.config.dir}/derby/derby.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${server.config.dir}/apps/transaction.war" className="java.security.AllPermission"/>
    <logging traceSpecification="Transaction=all:com.ibm.ws.jdbc.*=all:RRA=all:logservice=all=enabled:*=info=enabled"/>
</server>