<server description="Server for testing CDI">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>cdi-1.2</feature>
        <feature>componentTest-1.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>servlet-3.1</feature>
    </featureManager>
    
</server>
