<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   1/03/2013  chriscr        CXF Web service - XML encryption service client
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>x509EncryptionSvcClient</display-name>

    <servlet>
        <servlet-name>x509encclient</servlet-name>
        <display-name>x509encclient</display-name>
        <description>CXF X509 Encryption Service Client</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.x509encclient.CxfX509EncSvcClient</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 10/2020 commented out
    <servlet-mapping>
        <servlet-name>x509encclient</servlet-name>
        <url-pattern>/CxfX509EncSvcClient</url-pattern>
    </servlet-mapping>
       -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

