<div class="cardInner">

    <div class="cardTop">
        <div data-dojo-type="dijit/layout/ContentPane" baseClass="cardIcon" id="${cardIconDivId}" data-dojo-attach-point="iconCp"></div>
        <div class="cardTopRight">
            <div data-dojo-type="dijit/layout/ContentPane" class="cardLabel" id="${cardLabelId}">
                <span title="${cardLabelTitle}" dir="${cardLabelDir}">${cardLabelTitle}</span>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane">
                <div data-dojo-type="dijit/layout/ContentPane" baseClass="cardStatusIcon">
                    <span id="${cardStatusIconId}">
                        <img src="${cardStatusIconImg}" height="14" width="14" style="vertical-align: middle;" alt="${cardStatusIconTitle}" title="${cardStatusIconTitle}">
                    </span>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" baseClass="cardStatusLabel" id="${cardStatusLabelId}">
                    <span title="${cardStatusLabelTitle}">${cardStatusLabelTitle}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cardBottom">
        <div class="cardBottomListedStat" id="${cardBottomServerDivId}">
            <span title="${cardBottomServerIconTitle}">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" height="16" width="16" preserveAspectRatio="xMidYMid meet" role="img" aria-label="${cardBottomServerIconTitle}">
                    <use xlink:href="${cardBottomServerIcon}"/>
                </svg>
            </span>
            <span class="clusterServerListBottomLabel" id="${cardBottomServerTitleId}" dir="${cardBottomServerDir}" title="${cardBottomServerTitle}">${cardBottomServerTitle}</span>
        </div>

        <div class="cardBottomListedStat" id="${cardBottomAppDivId}">
            <span title="${cardBottomAppIconTitle}">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" height="16" width="16" preserveAspectRatio="xMidYMid meet" role="img" aria-label="${cardBottomAppIconTitle}">
                    <use xlink:href="${cardBottomAppIcon}"/>
                </svg>
            </span>
            <span class="clusterAppListBottomLabel" id="${cardBottomAppTitleId}" dir="${cardBottomAppDir}" title="${cardBottomAppTitle}">${cardBottomAppTitle}</span>
        </div>
    </div>

</div>
