<table class="container dashboard-table" role="presentation">
	<tr>
		<td class="dashboard-row-header" tabindex="0">
  			<div class="resource-icon" id="${dashboardIconId}" data-dojo-attach-point="iconTypeNode"></div>
   			<p> ${dashboardResourceLabel} </p>
		</td>
	</tr>										
	<tr> 			
		<td class="dashboard-row-detail detail-total"> 
			<button title="${viewAllLabel}" aria-label="${viewAllLabel}" class="button-total" id="${dashboardResourceId}" type="button" data-dojo-attach-event="ondijitclick:_onClick, onkeydown:_onKey">				
			   	<div class="detail-graph" id="${dashboardGraphPaneId}" data-dojo-attach-point="graphNode">
   			   	</div>
				<div class="total-detail">
					<div class="total-label">${totalLabel}</div>						
					<div class="total-number"> 
						<span id=${dashboardResourceNumberId} data-dojo-attach-point="numberNode">${dashboardResourceNumber}</span>
					</div>
				</div>	
			</button>	
		</td>	
		<td class="dashboard-row-detail detail-list">
			<div role="button" tabindex="0" data-dojo-attach-point="unknownNode"
 				 class="list-count unknown" data-dojo-attach-event="ondijitclick: onUnknown">
				<div data-dojo-attach-point="unknownIcon" class="status-icon"></div>
				<div class="status-info" title="${unknownLabel}">${unknownLabel}</div>
				<div id=${dashboardResourceUnknownButtonNumberId} class="list-number"></div>
			</div>	
			<div role="button" tabindex="0" class="list-count running" data-dojo-attach-event="ondijitclick: onRunning">
				<div data-dojo-attach-point="runIcon" class="status-icon"></div>
				<div class="status-info" title="${runningLabel}">${runningLabel}</div>
 				<div id=${dashboardResourceRunningButtonNumberId} class="list-number"></div>
			</div>
			<div role="button" tabindex="0" class="list-count stopped" data-dojo-attach-event="ondijitclick: onStopped">
				<div data-dojo-attach-point="stopIcon" class="status-icon"></div>				
				<div class="status-info" title="${stoppedLabel}">${stoppedLabel}</div>
 				<div id=${dashboardResourceStoppedButtonNumberId} class="list-number"></div>
			</div>
		</td>
	</tr>
</table>
