<tr class="dijitReset" data-dojo-attach-point="focusNode" role="menuitem" tabIndex="-1">
	<td style="padding-left:20px;" class="dijitReset dijitMenuItemLabel" colspan="3" data-dojo-attach-point="containerNode,textDirNode"
		role="presentation"></td>
	<td class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<span data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<span class="dijitInline dijitIcon dijitMenuExpand"></span>
			<span class="dijitMenuExpandA11y">+</span>
		</span>
	</td>
  <td style="display:none;" class="dijitReset dijitMenuItemIconCell" role="presentation">
    <span role="presentation" data-dojo-attach-point="iconNode"></span>
  </td>
</tr>
