<div class="${resourcePaneClass}">

    <div class="resourceLabelPane">
      <div class="resourceIcon" id="${resourceIconId}" data-dojo-attach-point="iconNode">
      </div>

      <div class="subLabel" id="${resourceId}">
        <span id="${resourceCountId}" class="resourceCounter" data-dojo-attach-point="numberNode">${resourceNumber}</span>
        <br>
        <span class="resourceCounterLabel"> ${resourceLabel}</span>
      </div>
    </div>

    <div class="subLabelStatePane" id="${resourceStatePaneId}">
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="unknownPane" style="margin-bottom: 18px;">
    	<div data-dojo-attach-point="unknownIcon" class="resourcePaneStateIcon"></div>
       	<span class="resourcePaneStateLabel">${stateLabels.unknown}</span>
    	<span id="${resourceStateUnknownNumber}" class="resourcePaneStateNumber unknownNumber" data-dojo-attach-point="unknownNumberNode">0</span>
      </div>
      <div style="margin-bottom: 18px;">
       	<div data-dojo-attach-point="runIcon" class="resourcePaneStateIcon"></div>
       	<span class="resourcePaneStateLabel">${stateLabels.up}</span>
    	<span id="${resourceStateRunningNumber}" class="resourcePaneStateNumber runningNumber" data-dojo-attach-point="runningNumberNode">0</span>
      </div>
      <div>
       	<div data-dojo-attach-point="stopIcon" class="resourcePaneStateIcon"></div>
       	<span class="resourcePaneStateLabel">${stateLabels.down}</span>
    	<span id="${resourceStateStoppedNumber}" class="resourcePaneStateNumber stoppedNumber" data-dojo-attach-point="stoppedNumberNode">0</span>
      </div>	 
    </div>
</div>