<div title="${title}" class="setAttrsDlg" role="dialog" aria-labelledby="${id}_title">
  
	<div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
		<span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
				role="heading"></span>
		<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"  id="${id}_close"
		        data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button">
		</span>
	</div>

    <div data-dojo-attach-point="contentWrapper" style="display:none" class='contentWrapper'>	
      <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent" tabindex="-1">
 
  		<div class="attrsWrapper">  
  		  <span data-dojo-attach-point="resourceIconNode" class="setAttResourceIcon"></span>
  		  <span data-dojo-attach-point="resourceNameNode" class="setAttrResourceLabel ${resourceNameClass}" id=${id}_name
  		         role="heading" >${!name}</span>
  		</div>
	    <div id="clusteredMetadataMsgContainer" class="attrsWrapper noteAttrArea"></div>
  
  		<div class="attrsWrapper">
  		  
  		  <div id="attributeTagsDiv"  class="attributesDiv">
		  	<div data-dojo-attach-point="attributeTagsIcon" id="tagsIcon" class="attributesLabelIcon attributeTagsIcon"></div>
  		  	<div class="attributesLabel">${tagsLabel}</div>
  			<div id="tagAttrsPane" class="attributesEditArea attributesMediumArea" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="tagAttrsPane"></div>
  		  </div>
  		  
  		  <div id="attributeOwnerDiv"  class="attributesDiv">
		  	<div data-dojo-attach-point="attributeOwnerIcon" id="ownerIcon" class="attributesLabelIcon attributeOwnerIcon"></div>
  		  	<div class="attributesLabel">${ownerLabel}</div>
  			<div id="ownerAttrsPane" class="attributesEditArea attributesSmallArea areaNoScroll" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="ownerAttrsPane"></div>
  		  </div>
  		  
  		  <div id="attributeContactsDiv"  class="attributesDiv">
		  	<div data-dojo-attach-point="attributeContactsIcon" id="contactsIcon" class="attributesLabelIcon attributeContactsIcon"></div>
  		  	<div class="attributesLabel">${contactsLabel}</div>
  			<div id="contactAttrsPane" class="attributesEditArea attributesMediumArea" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="contactAttrsPane"></div>
  		  </div>
  		  
  		  <div id="attributeNotesDiv"  class="attributesDiv">
		  	<div data-dojo-attach-point="attributeNotesIcon" id="notesIcon" class="attributesLabelIcon attributeNotesIcon"></div>
  		  	<div class="attributesLabel">${notesLabel}</div>
  		  	<div id="notesAttrsPaneDiv" >
  				<textarea id="notesAttrsPane" name="notesAttrsPane" aria-label="${notesAriaLabel}" class="attributesEditArea attributesLargeArea noteAttrArea"  data-dojo-type="dijit/form/SimpleTextarea" data-dojo-attach-point="notesAttrsPane" data-dojo-props="textDir: '${BIDIType}'"></textarea>
			</div>  				
  		  </div>  		  
  		</div>

  	  </div>
  	</div>	

	  	<div class="dijitDialogPaneActionBar" data-dojo-attach-point="actionBarNode">
			<div id="messageDiv" class="errorMessage">
				<img class="errorDisplayIcon" alt="${errorIconMessage}"></img>
				<span id="setAttrsDlgErrMsg"></span>
			</div>
  
  			<button class="attrsSaveButton" id="saveButton" role="button" data-dojo-attach-point="saveButton">${saveButtonLabel}</button>
  	  	</div>
  
</div>

