<!--
    Copyright (c) 2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

    <featureManager>
        <feature>cdi-2.0</feature>
        <feature>servlet-4.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>jcacheContainer-1.1</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>
    
    <library id="Hazelcast">
  		<file name="${shared.resource.dir}/hazelcast/hazelcast.jar"/>
	</library>
    
    <application location="jcache.war">
    		<classloader commonLibraryRef="Hazelcast"/>
    </application>
    
    	<!-- Perms needed because the application uses Hazelcast directly   -->
	<javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.io.FilePermission" actions="read" name="hazelcast.xml"/>
	<javaPermission codebase="${server.config.dir}/apps/jcache.war" className="javax.management.MBeanServerPermission" name="createMBeanServer"/>
	<javaPermission codebase="${server.config.dir}/apps/jcache.war" className="javax.management.MBeanPermission" actions="queryNames" name="-#-[-]"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.management"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.misc"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.nio.ch"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="enableContextClassLoaderOverride"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="getenv.HZ_PHONE_HOME_ENABLED"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="setContextClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.RuntimePermission" name="shutdownHooks"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.lang.reflect.ReflectPermission" name="suppressAccessChecks"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.net.NetPermission" name="getNetworkInformation"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.net.SocketPermission" actions="accept,connect,listen,resolve" name="*"/>
    <javaPermission codebase="${server.config.dir}/apps/jcache.war" className="java.net.URLPermission" actions="GET:User-Agent" name="http://phonehome.hazelcast.com/ping"/>

    <!-- Needed for missing doPriv in JCache 1.1 API (see https://github.com/jsr107/jsr107spec/issues/398) -->
    <javaPermission className="java.util.PropertyPermission" actions="read,write" name="*"/>
    <!-- Needed for hazelcast JVM shutdown hook -->
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.sun.net.www.protocol.wsjar"/>

	<javaPermission codebase="${shared.resource.dir}/hazelcast/hazelcast.jar" className="java.security.AllPermission"/>

</server>