<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
 
 <web-app>
 
 	<servlet>
		<servlet-name>wadlsevlet</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.ibm.ws.jaxrs.fat.wadl.Application1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>wadlsevlet</servlet-name>
		<url-pattern>/1/*</url-pattern>
	</servlet-mapping>

 </web-app>