<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">
    
  <display-name>JDBCFATDataSourceTestWeb</display-name>

  <!-- SERVLET DEFINITIONS -->
  <servlet id="Default">
    <servlet-name>JDBC FAT DataSource Servlet</servlet-name>
    <servlet-class>basicfat.DataSourceTestServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>

  <!-- SERVLET MAPPINGS -->        
  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>JDBC FAT DataSource Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- RESOURCE REFERENCES -->
    <resource-ref>
    <res-ref-name>jdbc/dsfat5ref1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
    <res-ref-name>jdbc/dsfat6ref1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <res-ref-name>jdbc/dsfat10ref2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Unshareable</res-sharing-scope>
  </resource-ref>

  <resource-ref>
    <res-ref-name>jdbc/dsfat15ref</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <lookup-name>jdbc/dsfat15</lookup-name>
  </resource-ref>
  
  <resource-ref>
    <res-ref-name>jdbc/dsfatclcref</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Unshareable</res-sharing-scope>
  </resource-ref>
  
  <resource-ref>
    <res-ref-name>jdbc/dsfatgssref</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Unshareable</res-sharing-scope>
  </resource-ref>

  <!-- The data source that this points to will only exist if the test case creates it while the server is running -->
  <resource-ref>
    <res-ref-name>java:module/env/jdbc/ds-tct</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-sharing-scope>Unshareable</res-sharing-scope>
    <lookup-name>jdbc/ds-tct</lookup-name>
  </resource-ref>

  <!-- DATA SOURCES -->
  <data-source>
    <name>java:module/env/jdbc/dsfat7</name>
    <database-name>${shared.resource.dir}/data/derbyfat</database-name>
    <description>Overlays a DataSourceDefinition in DataSourceTestServlet</description>
    <login-timeout>70</login-timeout>
    <transactional>false</transactional>
    <user>dbuser1</user>
    <property><name>agedTimeout</name><value>3s</value></property>
    <property><name>createDatabase</name><value>create</value></property>
    <property><name>queryTimeout</name><value>77000ms</value></property>
    <property><name>reapTime</name><value>3s</value></property>
    <property><name>shutdownDatabase</name><value>false</value></property>
  </data-source>

</web-app>
