<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   09/07/2012  syed           New CXF Web service
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>User Name Token Client</display-name>

    <servlet>
        <servlet-name>untsslclient</servlet-name>
        <display-name>untsslclient</display-name>
        <description>CXF Username token SSL Service Client</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.untsslclient.CxfUntSSLSvcClient</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!-- comment out 11/2020
    <servlet-mapping>
        <servlet-name>untsslclient</servlet-name>
        <url-pattern>/CxfUntSSLSvcClient</url-pattern>
    </servlet-mapping>
  --> 
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

