<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<server description="Server for testing CDI 2.0">
    <featureManager>
        <feature>componenttest-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>osgiconsole-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>ejbLite-3.2</feature>
    </featureManager>
    <include location="../fatTestPorts.xml"/>
</server>
