<server>
  <featureManager>
    <feature>cdi-2.0</feature>
    <feature>componenttest-1.0</feature>
    <feature>jdbc-4.2</feature>
    <feature>jndi-1.0</feature>
    <feature>jsp-2.3</feature>
    <feature>servlet-4.0</feature>
    <feature>timedexit-1.0</feature>
    <feature>txtest-1.0</feature>
    <feature>wsAtomicTransaction-1.2</feature>
  </featureManager>

  <include location="../fatTestCommon.xml" />

  <httpEndpoint host="*"
                httpPort="${bvt.prop.HTTP_senary}"
                httpsPort="${bvt.prop.HTTP_senary.secure}"
                id="defaultHttpEndpoint">
    <tcpOptions portOpenRetries="100000"/>
  </httpEndpoint>

  <transaction
    backendURL="http://localhost:${bvt.prop.HTTP_senary}"
    leaseLength="2m"
    leaseCheckInterval="3h"
    clientInactivityTimeout="15m"
    heuristicRetryInterval="10"
    heuristicRetryLimit="10"
    recoverOnStartup="true"
    recoveryGroup="server-group"
    recoveryIdentity="WSATRecoveryServer3"
    waitForRecovery="false"
  />

  <javaPermission name="*" actions="*" className="java.security.AllPermission"/>
</server>
