<server description="Server for testing appConfig">

	<include location="../fatTestPorts.xml" />

	<variable name="testVar" value="testValue" />

	<featureManager>
		<feature>osgiconsole-1.0</feature>
		<feature>cdi-2.0</feature>
		<feature>servlet-4.0</feature>
		<feature>componentTest-1.0</feature>
		<feature>mpConfig-1.4</feature>
	</featureManager>

	<application location="serverXMLApp.war">
		<appProperties>
			<property name="serverXMLKey1" value="serverXMLValue1" />
			<property name="serverXMLKey1" value="serverXMLValue1a" />
			<property name="serverXMLKey2" value="serverXMLValue2" />
			<property name="serverXMLKey3" value="serverXMLValue3" />
			<property name="serverXMLKey1" value="serverXMLValue1b" />
			<property name="serverXMLKey4" value="serverXMLValue4" />
		</appProperties>
	</application>

	<application location="duplicateInServerXMLApp.war">
		<appProperties>
			<property name="serverXMLKey1" value="valueinAppProperties1" />
			<property name="serverXMLKey2"
				value="valueinAppProperties2a" />
		</appProperties>
		<appProperties>
			<property name="serverXMLKey2"
				value="valueinAppProperties2b" />
			<property name="serverXMLKey3" value="valueinAppProperties3" />
		</appProperties>
	</application>
	
	<webApplication location="serverXMLWebApp.war">
		<appProperties>
			<property name="serverXMLKey1" value="serverXMLValue1" />
		</appProperties>
	</webApplication>
	
	<application location="mapEnvVarApp.war"/>
</server>
