<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>JSF22LocalizationTester</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>
		*.xhtml</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param> 
	
	<context-param>
    	<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    	<param-value>0</param-value>
	</context-param>	
	
	<context-param>
	    <param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
	    <param-value>false</param-value>
	</context-param>
		
	
</web-app>
