<server>
	<featureManager>
		<feature>localConnector-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>wsAtomicTransaction-1.2</feature>
		<feature>jndi-1.0</feature>
		<feature>servlet-3.1</feature>
		<feature>cdi-1.2</feature>
		<feature>txtest-1.0</feature>
	</featureManager>

	<include location="../fatTestPorts.xml" />

    <transaction
        recoverOnStartup="true"
        waitForRecovery="false"
        heuristicRetryInterval="5"
        heuristicRetryWait="0"
        totalTranLifetimeTimeout="40s"
    />
	
    <logging
      traceSpecification="Transaction=all:wsat=all:org.apache.cxf.*=all:com.ibm.ws.jaxws.*=all"
      traceFileName="trace.log"
      maxFileSize="2000"
      maxFiles="20"
      traceFormat="BASIC"
    />
</server>
