<server description="Server for testing health checks for delayed application startup">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>osgiconsole-1.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>mpHealth-2.0</feature>
        <feature>componenttest-1.0</feature>
    </featureManager>
	
	<!-- Enable trace for debug purposes only.-->
	<!--logging traceSpecification="*=info:HEALTH=all"/-->

	<application location="DelayedHealthCheckApp.war"/>
    <webContainer deferServletLoad="false"/>
    
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${bvt.prop.HTTP_default}" httpsPort="${bvt.prop.HTTP_default.secure}">
        <tcpOptions portOpenRetries="60" />                   
    </httpEndpoint>
     
</server>
