<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2012 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>JCAFVTWeb</display-name>

  <!-- SERVLET DEFINITIONS -->
  <servlet id="Default">
    <servlet-name>JCA FVT Servlet</servlet-name>
    <display-name>JCA FVT Servlet</display-name>
    <servlet-class>web.JCAFVTServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>
   <servlet id="transupport">
    <servlet-name>transupport</servlet-name>
    <display-name>JCA FVT Servlet</display-name>
    <servlet-class>web.JCATransactionFVTServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>
  
   <servlet id="aod">
    <servlet-name>aod</servlet-name>
    <display-name>JCA FVT Servlet</display-name>
    <servlet-class>web.JCAAODFVTServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>
  
  <servlet id="aods">
    <servlet-name>aods</servlet-name>
    <display-name>JCA FVT Servlet</display-name>
    <servlet-class>web.JCAAODSFVTServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>
  
  <servlet id="dfds">
    <servlet-name>dfds_servlet</servlet-name>
    <display-name>JCA FVT Servlet</display-name>
    <servlet-class>web.JCACFDSFVTServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>

   <servlet id="JCADDServlet">
    <servlet-name>JCADDServlet</servlet-name>
    <display-name>JCA DD Servlet</display-name>
    <servlet-class>web.JCADDServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <!-- SERVLET MAPPINGS -->        
  <servlet-mapping id="transupport">
    <servlet-name>transupport</servlet-name>
    <url-pattern>/transupport/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping id="aod">
    <servlet-name>aod</servlet-name>
    <url-pattern>/aod/*</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping id="aods">
    <servlet-name>aods</servlet-name>
    <url-pattern>/aods/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping id="JCADDServlet">
    <servlet-name>JCADDServlet</servlet-name>
    <url-pattern>/JCADDServlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping id="dfds">
    <servlet-name>dfds_servlet</servlet-name>
    <url-pattern>/dfds/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>JCA FVT Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  	<connection-factory>
		<description>Test Connector resource definition</description>
		<name>java:comp/env/jca/cfWebDD</name>
		<interface-name>
			javax.resource.cci.ConnectionFactory</interface-name>
		<resource-adapter>IMS1</resource-adapter>
		<max-pool-size>2</max-pool-size>
		<min-pool-size>1</min-pool-size>
		<transaction-support>XATransaction</transaction-support>
		<property>
			<name>CM0Dedicated</name>
			<value>true</value>
		</property>
		<property>
			<name>dataStoreName</name>
			<value>myDStrNm</value>
		</property>
		<property>
			<name>hostName</name>
			<value>localhost</value>
		</property>
		<property>
			<name>portNumber</name>
			<value>8888</value>
		</property>
		<property>
			<name>traceLevel</name>
			<value>2</value>
		</property>
	</connection-factory>
		<administered-object>
		<description>Sample Admin Object definition</description>
		<name>java:comp/env/jca/aodwebdd</name>
		<class-name>com.ibm.adapter.message.FVTMessageProviderImpl</class-name>
		<interface-name>
		com.ibm.adapter.message.FVTBaseMessageProvider
		</interface-name>
		<resource-adapter>fvtapp.adapter_administrator_object</resource-adapter>
	</administered-object>
	
</web-app>
