<server description="Telemetry10Servlet">

    <include location="../fatTestPorts.xml" />

    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>pages-3.1</feature>
        <feature>mpTelemetry-1.0</feature>
        <feature>componentTest-2.0</feature>
    </featureManager>

    <application type="war" location="TelemetryServletTestApp.war">
        <classloader apiTypeVisibility="+third-party" />
    </application>
    
    <application type="war" location="HttpTraceDisabledServletTestApp.war">
        <classloader apiTypeVisibility="+third-party" />
    </application>
    
    <logging traceSpecification="TELEMETRY=all"/>

    <!-- For HttpURLConnection -->
    <javaPermission className="java.net.URLPermission" name="http://localhost:-/-" actions="GET:" />
</server>
