<server description="JASPIC 1.1 Security FAT">

	<featureManager>
		<feature>servlet-3.1</feature>
		<feature>appSecurity-2.0</feature>
		<feature>jsp-2.3</feature>
		<feature>audit-1.0</feature>
		<feature>usr:jaspicUserTestFeature-1.0</feature>
	</featureManager>
	
	<auditFileHandler 
			compact="false">
	</auditFileHandler>

	<basicRegistry id="basic1" realm="JaspiRealm">
		<user name="jaspiuser2" password="s3cur1ty" />
		<user name="jaspiuser1" password="s3cur1ty" />
		<user name="jaspiuser3" password="s3cur1ty" />
		<user name="jaspiuser4" password="s3cur1ty" />
		<user name="jaspiuser5" password="s3cur1ty" />
		<user name="jaspiuser6" password="s3cur1ty" />
		<group name="group1">
			<member name="jaspiuser1" />
		</group>
		<group name="group2">
			<member name="jaspiuser2" />
		</group>
		<group name="group3">
			<member name="jaspiuser3" />
		</group>
		<group name="group5">
			<member name="jaspiuser5" />
		</group>
	</basicRegistry>


	<application type="war" id="JASPICallbackTestBasicAuthServlet" name="JASPICallbackTestBasicAuthServlet" location="JASPICallbackTestBasicAuthServlet.war">
 		<application-bnd>
			<security-role name="jaspi_basic">
				<user name="jaspiuser1" />
				<user name="jaspiuser6" />
				<group name="group2" />
				<user name="jaspiuser101" access-id="user:JaspiRealm/jaspiuser101" />
				<group name="JASPIGroup" access-id="group:JaspiRealm/JASPIGroup"/>
			</security-role>	
			<security-role name="jaspi_form">
				<user name="jaspiuser3" />
				<group name="group5" />
			</security-role>	
			<security-role name="AllAuthenticated">
				<special-subject type="ALL_AUTHENTICATED_USERS" />
			</security-role>
		</application-bnd>
	</application>	
	
	
	<application type="war" id="JASPICallbackTestFormLoginServlet" name="JASPICallbackTestFormLoginServlet" location="JASPICallbackTestFormLoginServlet.war">
 		<application-bnd>
			<security-role name="jaspi_basic">
				<user name="jaspiuser1" />
				<group name="group2" />
			</security-role>	
			<security-role name="jaspi_form">
				<user name="jaspiuser3" />
				<group name="group5" />
				<user name="jaspiuser102" access-id="user:JaspiRealm/jaspiuser102" />
				<group name="JASPIGroup" access-id="group:JaspiRealm/JASPIGroup"/>
			</security-role>	
			<security-role name="AllAuthenticated">
				<special-subject type="ALL_AUTHENTICATED_USERS" />
			</security-role>
		</application-bnd>
	</application>	
	

	<include location="../fatTestPorts.xml" />
</server>
