<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2013,2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">

  <display-name>Context Service Serialization BVT</display-name>
  <description>This servlet includes BVT tests for ContextService serialization scenarios</description>

  <!-- SERVLET DEFINITIONS -->
  <servlet id="Default">
    <servlet-name>Context Service Serialization BVT Servlet</servlet-name>
    <display-name>Context Service Serialization BVT Servlet</display-name>
    <servlet-class>test.context.serialization.web.ContextServiceSerializationTestServlet</servlet-class>
  </servlet>

  <servlet id="JSPTest">
    <servlet-name>JSPTestServlet</servlet-name>
    <jsp-file>/SerializationTestJSP.jsp</jsp-file>
  </servlet>

  <!-- SERVLET MAPPINGS -->        
  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>Context Service Serialization BVT Servlet</servlet-name>
    <url-pattern>/TestServlet/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping id="ServletMapping_JSPTest">
    <servlet-name>JSPTestServlet</servlet-name>
    <url-pattern>/TestJSP/*</url-pattern>
  </servlet-mapping>

  <!-- ENV ENTRIES -->
  <env-entry>
    <env-entry-name>java:comp/env/entry1</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>1</env-entry-value>
  </env-entry>

  <!-- RESOURCE ENV REFERENCES -->

  <!-- SECURITY ROLES -->
  <security-role>
    <role-name>users</role-name>
  </security-role>

  <!-- SECURITY CONSTRAINTS -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>users</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- AUTHENTICATION METHOD -->
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>

</web-app>
