<!--
    Copyright (c) 2020,2021 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
  <featureManager>
    <feature>cdi-2.0</feature>
    <feature>componenttest-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>mpContextPropagation-1.2</feature>
    <!--<feature>osgiconsole-1.0</feature>-->
    <feature>servlet-4.0</feature>
    <feature>usr:workManager-1.0</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <concurrencyPolicy id="max1" max="1" maxQueueSize="2"/>

  <contextService id="ClassLoaderContext">
    <classloaderContext/>
  </contextService>

  <managedExecutorService id="WorkTestApp_executor" jndiName="wm/executor"
    concurrencyPolicyRef="max1" contextServiceRef="ClassLoaderContext"/>

  <managedScheduledExecutorService id="WorkTestCDIApp_schedExec" jndiName="wm/schedExec"
    concurrencyPolicyRef="max1" contextServiceRef="ClassLoaderContext"/>

  <managedExecutorService id="DefaultManagedExecutorService" jndiName="wm/default">
    <concurrencyPolicy max="2" startTimeout="3s"/>
  </managedExecutorService>

  <managedScheduledExecutorService id="WorkTestApp_scheduledExecutor" jndiName="wm/scheduledExecutor" contextServiceRef="DefaultContextService">
    <concurrencyPolicy max="2" maxQueueSize="1"/>
  </managedScheduledExecutorService>

  <javaPermission codebase="${server.config.dir}/dropins/WorkTestApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
  <javaPermission codebase="${server.config.dir}/dropins/WorkTestCDIApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>

</server>