# This is the spec file for rpm openliberty creation
 
%define name        openliberty
%define version     @SPEC_VERSION@
%define _topdir     %(echo $PWD)
%define buildroot   %{_topdir}/BUILDROOT/%{name}-root


Summary:        Open Liberty
License:        EPL-1.0
Name:           %{name}
Version:        %{version}
Release:        1%{?dist}
Source:         %{name}-%{version}.tar.gz
BuildArch:      noarch
URL:            https://openliberty.io
Packager:       IBM
#Suggests:       java >= 1:1.8.0

%description
Open Liberty provides developers with Java EE 8 technology 
and Eclipse MicroProfile capabilities for building micro-services
 
%install

#Unpacking the tar into the openliberty folder
mkdir -p %{buildroot}/opt/ol
tar -zxf %{_topdir}/SOURCES/%{name}-%{version}.tar.gz -C %{buildroot}/opt/ol

#Creating the server folder and moving defaultServer zip to /usr/share/openliberty
mkdir -p %{buildroot}/usr/share/%{name}
cp %{_topdir}/SOURCES/defaultServer.zip %{buildroot}/usr/share/%{name}

#Creating the scripts
mkdir -p %{buildroot}/usr/libexec
cp %{_topdir}/SOURCES/scripts/openliberty %{buildroot}/usr/libexec

#Creating the service
mkdir -p %{buildroot}/usr/lib/systemd/system
cp %{_topdir}/SOURCES/scripts/openliberty@.service %{buildroot}/usr/lib/systemd/system
exit 0
 
%files
%defattr(-,root,root)
/opt/ol
/usr/libexec
/usr/share/%{name}
/usr/lib/systemd/system

%changelog
* Fri Feb 22 2019 Michael Zhang <michael.zhang@ibm.com> - 19.0.0.1-1
- First Open Liberty package

%preun
pidDir=/var/run/openliberty
if ( ls $pidDir/*.pid > /dev/null 2>&1 ); then 
    printf "Your server(s) are still running. Stop them before uninstalling/upgrading!\n"
    for pidFiles in $pidDir/*.pid
    do
        server=$(basename $pidFiles)
        serverName="${server%.*}"
        echo "Server - $serverName with process id $(cat $pidFiles)"
    done
    exit 1
fi
exit 0

%post
echo "Adding group - openliberty"
if (! getent group openliberty > /dev/null 2>&1); then
    groupadd --system openliberty
fi

echo "Adding user - openliberty"
if (! id openliberty > /dev/null 2>&1); then
    adduser --system --home-dir /usr/share/openliberty --no-create-home -g openliberty --shell /bin/bash openliberty  
fi

echo "Setting up the systemd openliberty service"
if [ -x "/usr/libexec/openliberty" ] && [ -r "/usr/lib/systemd/system/openliberty@.service" ]; then
    systemctl daemon-reload
    systemctl enable openliberty@defaultServer.service
fi

echo "Moving the LICENSE file to the license directory"
mkdir -p /usr/share/doc/openliberty
mv /opt/ol/LICENSE /usr/share/doc/openliberty

echo "Setting up defaultServer for user"
mkdir -p /var/lib/openliberty/usr/servers
if [ ! -d "/var/lib/openliberty/usr/servers/defaultServer" ]; then
    unzip /usr/share/openliberty/defaultServer.zip -d /var/lib/openliberty/usr/servers
    printf "\nLOG_DIR=/var/log/openliberty/defaultServer" >> /var/lib/openliberty/usr/servers/defaultServer/server.env
fi
mkdir -p /var/run/openliberty
mkdir -p /var/log/openliberty

echo "Setting permissions to files/folders"
chown -R openliberty:openliberty /opt/ol/lib
chown -R openliberty:openliberty /var/lib/openliberty
chmod -R u+w /var/lib/openliberty
chown -R openliberty:openliberty /var/run/openliberty
chmod -R u+w /var/run/openliberty
chown -R openliberty:openliberty /var/log/openliberty
chmod -R u+w /var/log/openliberty
exit 0

%postun
echo "Removing all leftover jar files"
if [ -d "/opt/ol/lib" ]; then
    rm -rf /opt/ol/lib
fi
exit 0