<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
    xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="TestPU" transaction-type="JTA">
        <jta-data-source>jdbc/jpaDataSource</jta-data-source>  
        <properties>
                    <property name="hibernate.dialect" value="org.hibernate.community.dialect.DerbyDialect"/>





        
        
            <property name="eclipselink.ddl-generation" value="create-tables"/>
            <property name="eclipselink.ddl-generation.output-mode" value="both" />

            <property name="eclipselink.logging.level" value="ALL"/>
            <property name="eclipselink.logging.level.sql" value="FINE"/>
            
            <property name="eclipselink.cache.shared.default" value="false"/>
            
            <property name="hibernate.hbm2ddl.auto" value="create"/>
            <!-- <property name="hibernate.resource.beans.container" value="cdi" />-->

            <property name="hibernate.search.default.directory_provider"
            value="filesystem"/>

            <property name="hibernate.search.default.indexBase"
            value="INDEX-PATH"/>

        </properties>
    </persistence-unit>
</persistence>
