<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">

  <display-name>Transactions Service FAT</display-name>
  <description>FAT for Transactions Service</description>

  <servlet id="XA">
    <servlet-name>XA Servlet</servlet-name>
    <display-name>XA Servlet</display-name>
    <description>Tests transactions</description>
    <servlet-class>web.XAServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>

  <servlet-mapping id="ServletMapping_XA">
    <servlet-name>XA Servlet</servlet-name>
    <url-pattern>/xa/*</url-pattern>
  </servlet-mapping>
</web-app>