<server>
    <featureManager>
        <feature>componenttest-1.0</feature>
        <feature>jsp-2.3</feature>
        <feature>jaxb-2.2</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jaxws-2.2</feature>
    </featureManager>
    
  	<include location="../fatTestPorts.xml"/>
  	<javaPermission className="java.util.PropertyPermission" name="line.separator" actions="read"/>
</server>
