<!--
    Copyright (c) 2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server description="Server for testing the Cookie SameSite attribute">

	<include location="../fatTestCommon.xml"/>

  	<featureManager>
        <feature>servlet-4.0</feature>
        <feature>jsp-2.3</feature>
  	</featureManager>

    <!-- FAT framework expects to start with the usual port  -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${bvt.prop.HTTP_default}"
                  httpsPort="${bvt.prop.HTTP_default.secure}">
    </httpEndpoint>
  
  	<!-- Automatically expand WAR files and EAR files -->
  	<applicationManager autoExpand="true"/>
  
	<jspEngine keepGenerated="true"/>

  	<logging
        traceSpecification="*=info=enabled:com.ibm.ws.session.*=all:com.ibm.ws.webcontainer*=all:com.ibm.wsspi.webcontainer*=all:HttpTransport=all:HTTPChannel=all:TCPChannel=all:GenericBNF=all:com.ibm.ws.jsp*=all:com.ibm.ws.session.*=all:com.ibm.ws.runtime.update.internal*=all:ChannelFramework=all"
    	maxFileSize="20"
    	maxFiles="10"
    	traceFormat="BASIC"/>

</server>