<server>
  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>servlet-4.0</feature>
    <feature>jdbc-4.2</feature>
  </featureManager>
    
  <include location="../fatTestPorts.xml"/>

  <library id="DB2JCCLib">
    <file name="${shared.resource.dir}/jdbc/jcc.jar" />
  </library>
  
  <kerberos keytab="${KRB5_KEYTAB}" configFile="${KRB5_CONF}"/>
  
  <authData id="krb5Auth" krb5Principal="${KRB5_USER}"/>
  
  <dataSource jndiName="jdbc/krb/basic" containerAuthDataRef="krb5Auth">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
  </dataSource>
  
  <dataSource jndiName="jdbc/krb/xa" type="javax.sql.XADataSource" containerAuthDataRef="krb5Auth">
    <jdbcDriver libraryRef="DB2JCCLib" />
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
  </dataSource>
  
  <dataSource jndiName="jdbc/krb/xaRecovery" type="javax.sql.XADataSource" isolationLevel="TRANSACTION_SERIALIZABLE" 
              queryTimeout="2m" syncQueryTimeoutWithTransactionTimeout="true">
    <jdbcDriver libraryRef="DB2JCCLib" />
    <connectionManager agedTimeout="1s" connectionTimeout="10" maxIdleTime="1s" maxPoolSize="3" minPoolSize="0" reapTime="2s"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
    <containerAuthData krb5Principal="${KRB5_USER}"/>
    <!-- Recovery auth defailts to <containerAuthData> if unspecified, but specify here for clarity anyway -->
    <recoveryAuthData krb5Principal="${KRB5_USER}"/>
  </dataSource>
  
  <dataSource jndiName="jdbc/krb/DataSource" type="javax.sql.DataSource" containerAuthDataRef="krb5Auth">
    <jdbcDriver libraryRef="DB2JCCLib" javax.sql.DataSource="com.ibm.db2.jcc.DB2SimpleDataSource"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
  </dataSource>
  
  <dataSource jndiName="jdbc/krb/basicPassword">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
    <containerAuthData krb5Principal="${KRB5_USER}" password="password"/>
  </dataSource>
  
  <!-- Mis-configured datasource: no auth -->
  <dataSource jndiName="jdbc/noAuth">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
  </dataSource>
  
  <!-- Mis-configured datasource: bogus name for krb5Principal -->
  <dataSource jndiName="jdbc/krb/invalidPrincipal">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
    <containerAuthData krb5Principal="bogus"/>
  </dataSource>
  
  <!-- Mis-configured datasource: backend DB requires Kerb but only basic user/pass configured -->
  <dataSource jndiName="jdbc/nokrb5">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="${DB2_DBNAME}" serverName="${DB2_HOSTNAME}" portNumber="${DB2_PORT}"/>
    <containerAuthData user="${DB2_USER}"  password="${DB2_PASS}"/>
  </dataSource>
    
  <javaPermission codebase="${shared.resource.dir}/jdbc/jcc.jar" className="java.security.AllPermission"/>
  <javaPermission className="java.net.SocketPermission" name="*" actions="connect,resolve"/>
  <javaPermission className="javax.security.auth.kerberos.ServicePermission" name="*" actions="initiate"/>
  <javaPermission className="java.lang.RuntimePermission" name="getClassLoader"/>
</server>