<server>
    <transaction
      dataSourceRef="tranlogDataSource"
      recoverOnStartup="true"
      waitForRecovery="false"
      heuristicRetryInterval="10"
      recoveryIdentity="cloud002-1"
      recoveryGroup="defaultGroup"
      leaseLength="3"
      leaseCheckInterval="1"
    />

    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>txtest-1.0</feature>
    </featureManager>
    
    <include location="../fatTestCommon.xml" />

	<httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${bvt.prop.HTTP_secondary}"
                  httpsPort="${bvt.prop.HTTP_secondary.secure}"/>

    <library id="AnonymousJDBCLib">
         <fileset dir="${shared.resource.dir}/jdbc" includes="${env.DB_DRIVER}"/>
    </library>
  
    <dataSource id="tranlogDataSource" jndiName="jdbc/tranlogDataSource" transactional="false" fat.modify="true">
      <jdbcDriver libraryRef="AnonymousJDBCLib" />
      <!-- Properties modified by fat for database rotation -->
      <properties  createDatabase="create" databaseName="${shared.resource.dir}/data/tranlogdb" user="dbuser1" password="{xor}Oz0vKDtu"/>
    </dataSource>
</server>
