<server>
    <include location="../fatTestPorts.xml"/>
    <featureManager>
	<feature>servlet-3.1</feature>
        <feature>componentTest-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>test.user.feature-1.0</feature>
        <feature>test.iiop.client-1.0</feature>
    </featureManager>
    <!-- Define the client ORB to refer to the remote name service so it can be looked up using orb.resolve_initial_reference("NameService") -->
    <orb id="defaultOrb" nameService="corbaname::localhost:${bvt.prop.IIOP.secondary}" />
    <!-- Supply the name service url as a JNDI entry so the value can be looked up using orb.string_to_object() -->
    <jndiEntry jndiName="name-service-url" value="corbaloc:iiop:localhost:${bvt.prop.IIOP.secondary}/NameService" />
</server>
