@CHARSET "ISO-8859-1";

body {
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}