<!--
  ~ Copyright (c) 2023 IBM Corporation and others.
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License 2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-2.0/
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  -->
<server>
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>mpConfig-3.1</feature>
        <feature>oauth-2.0</feature>
        <feature>appSecurity-5.0</feature>
    </featureManager>

    <include location="../fatTestCommon.xml"/>

    <!-- HTTP port disabled so that redirects always go to HTTPS port -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="-1"
                  httpsPort="${bvt.prop.HTTP_default.secure}"/>

    <tcpOptions id="defaultTCPOptions" portOpenRetries="60"/>

    <keyStore password="testpass" />

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="${testUsername}" password="${testPassword}" />
    </basicRegistry>

    <oauth-roles>
        <authenticated>
            <user name="${testUsername}"/>
        </authenticated>
    </oauth-roles>
    <administrator-role user="testuser"/>

    <webAppSecurity allowFailOverToBasicAuth="true" />

    <oauthProvider id="TestProvider" filter="request-url%=/test">
        <autoAuthorizeClient>client01</autoAuthorizeClient>
        <localStore>
            <client displayname="MicroProfile OpenAPI UI" name="${clientName}" secret="${clientSecret}" redirect="https://${host}:${httpsPort}${uiPath}/oauth2-redirect.html" enabled="true"/>
        </localStore>
    </oauthProvider>

</server>