/*
* All of our css files get minified into this single css file in order to improve performance.
*/
@import url("bottomBar.css");

@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/breadcrumb.css");

@import url("card.css");

@import url("dashboard.css");

@import url("desktop.css");

@import url("filterBar.css");

@import url("listView.css");

@import url("oneuiExtension.css");

@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/search.css");

@import url("singleResource.css");

@import url("charts.css");

/* Order here is important.  We are overriding the defaults of the dialog from toolbox with specific css for explore.*/
@import url("../../../../com.ibm.ws.ui.shared/resources/WEB-CONTENT/cssShared/dialog.css");
    /* Common Dialog Box brought in from com.ibm.ws.ui.shared */
@import url("setAttributesDialog.css");

@font-face {
    font-family: 'HelvNeueRoman';
    src: url('../fonts/helvetica-neue-roman.woff');
}

@font-face {
    font-family: 'HelvNeueMedium';
    src: url('../fonts/helvetica-neue-medium.woff');
}

@font-face {
    font-family: 'HelvNeueBold';
    src: url('../fonts/helvetica-neue-bold.woff');
    font-weight: bold;
}

* {
    font-family: 'HelvNeueRoman', Helvetica, Arial, sans-serif;
}

.oneui {
    font-family: 'HelvNeueRoman', Helvetica, Arial, sans-serif;
}

.dijitHidden {
    display: none;
}