<server description="Test server to verify zip reaper functionality and history">

  <featureManager>
    <feature>servlet-3.1</feature>
  </featureManager>

<logging traceSpecification="com.ibm.ws.artifact.zip*=all" />

<include location="../fatTestPorts.xml"/>

<javaPermission className="java.io.FilePermission" name="ALL FILES" actions="read" />

</server>