<server>
    <featureManager>
         <feature>servlet-3.1</feature>
         <feature>componentTest-1.0</feature>
         <feature>jndi-1.0</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>
    <jndiURLEntry jndiName="unknownProtocolJndiURLEntry" value="unknown://error.expected.com"/>
    <javaPermission className="java.lang.RuntimePermission" name="getClassLoader"/>

</server>
