<server>
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>jca-1.7</feature>
        <feature>componenttest-1.0</feature>
    </featureManager>

    <include location="../fatTestPorts.xml"/>

    <enterpriseApplication location="sharedClassesEarTest.ear" />

</server>

