<server>
    <featureManager>
    	<feature>jsp-2.3</feature>
        <feature>jaxwsTest-2.2</feature>
        <feature>ejbLite-3.2</feature>
        <feature>usr:TestHandler1Feature1</feature>
    </featureManager>

    <include location="../fatTestPorts.xml"/>

    <javaPermission className="java.security.AllPermission"  name="*" actions="*" />

    <!-- TESTING THE UPLOAD! -->
</server>
