<server description="mpMetrics authentication server">
    <featureManager />
    
    <include location="../fatTestPorts.xml" />

    <keyStore id="defaultKeyStore" password="Liberty"/>
	
	<logging traceSpecification="com.ibm.ws.microprofile.metrics*=all"/>
	
    <basicRegistry>
        <user name="admin" password="adminpwd" />
        <user name="viewer" password="viewerpwd" />
        <user name="user" password="userpwd" />
    </basicRegistry>
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    <viewer-role>
        <user>viewer</user>
    </viewer-role>

</server>
