<!--
    Copyright (c) 2016, 2023 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
    <featureManager>
      <feature>servlet-3.1</feature>
      <feature>jdbc-4.2</feature>
      <feature>jndi-1.0</feature>
      <feature>componenttest-1.0</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>

    <application location="oraclejdbcfat.war" >
        <classloader commonLibraryRef="DBLib"/>
        <web-ext>
          <resource-ref name="java:comp/jdbc/env/unsharable-ds-xa-loosely-coupled" branch-coupling="LOOSE"/>
          <resource-ref name="java:comp/jdbc/env/unsharable-ds-xa-tightly-coupled" branch-coupling="TIGHT"/>
        </web-ext>
    </application>

    <library id="DBLib">
    	<fileset dir="${shared.resource.dir}/oracle" includes="oracleunknown.jar"/>
    </library>
    
    <dataSource id="DefaultDataSource">
    	<jdbcDriver libraryRef="DBLib"/>
    	<properties.oracle URL="${env.ORACLE_URL}" user="${env.ORACLE_USER}" password="${env.ORACLE_PASSWORD}"/>
    </dataSource>

    <dataSource id="casting-ds" jndiName="jdbc/casting-ds" enableConnectionCasting="true">
    	<jdbcDriver libraryRef="DBLib"/>
    	<properties.oracle URL="${env.ORACLE_URL}" user="${env.ORACLE_USER}" password="${env.ORACLE_PASSWORD}" roleName="TestRole"/>
    	<onConnect>UPDATE CONCOUNT SET NUMCONNECTIONS = NUMCONNECTIONS + 1</onConnect>
    	<onConnect>CREATE GLOBAL TEMPORARY TABLE ${TEMP_TABLE_NAME}(CURTIME NVARCHAR2(100)) ON COMMIT PRESERVE ROWS</onConnect>
    	<onConnect>INSERT INTO ${TEMP_TABLE_NAME} VALUES (CURRENT_TIMESTAMP)</onConnect>
    </dataSource>
    
    <dataSource id="driver-ds" jndiName="jdbc/driver-ds" type="java.sql.Driver">
    	<properties.oracle URL="${env.ORACLE_URL}" user="${env.ORACLE_USER}" password="${env.ORACLE_PASSWORD}"/>
    	<jdbcDriver libraryRef="DBLib"/>
    </dataSource>
    
    <dataSource id="generic-driver-ds" jndiName="jdbc/generic-driver-ds">
    	<properties URL="${env.ORACLE_URL}" user="${env.ORACLE_USER}" password="${env.ORACLE_PASSWORD}"/>
    	<jdbcDriver libraryRef="DBLib"/>
    </dataSource>
    
    <dataSource id="inferred-ds" jndiName="jdbc/inferred-ds">
    	<properties databaseName="${env.ORACLE_DBNAME}" portNumber="${env.ORACLE_PORT}" serverName="${env.ORACLE_HOST}" user="${env.ORACLE_USER}" password="${env.ORACLE_PASSWORD}" driverType="thin"/>
    	<jdbcDriver libraryRef="DBLib"/>
    </dataSource>
    
    <!-- 
    	 Verify precedence of connection properties on Driver
    -->
    <dataSource id="driver-url-preferred" jndiName="jdbc/driver-url-preferred" type="java.sql.Driver">
      <jdbcDriver libraryRef="DBLib"/>
      <containerAuthData user="${ORACLE_USER}" password="${ORACLE_PASSWORD}"/>
      <properties.oracle url="jdbc:oracle:thin:@${env.ORACLE_HOST}:${env.ORACLE_PORT}:${env.ORACLE_DBNAME}"
      serverName="$INVALID" portNumber="000" serviceName="$INVALID"/> <!-- Should be ignored -->
    </dataSource>
    
    <!-- 
    	 Verify precedence of connection properties on DataSource
    -->
    <dataSource id="ds-url-preferred" jndiName="jdbc/ds-url-preferred" type="javax.sql.DataSource">
      <jdbcDriver libraryRef="DBLib"/>
      <containerAuthData user="${ORACLE_USER}" password="${ORACLE_PASSWORD}"/>
      <properties.oracle URL="jdbc:oracle:thin:@${env.ORACLE_HOST}:${env.ORACLE_PORT}:${env.ORACLE_DBNAME}"
      serverName="$INVALID" portNumber="000" serviceName="$INVALID"/> <!-- Should be ignored -->
    </dataSource>
    
    <javaPermission codebase="${shared.resource.dir}/oracle/oracleunknown.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${server.config.dir}/apps/oraclejdbcfat.war" className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>

    <variable name="TEMP_TABLE_NAME" value="TEMP1"/>

    <variable name="onError" value="FAIL"/>
</server>