<!--
    Copyright (c) 2019 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
    <featureManager>
        <feature>appSecurity-2.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>mpConfig-1.3</feature>
        <feature>mpContextPropagation-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>cdi-2.0</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>
    
    <application location="MPConcurrentConfigApp.war">
        <application-bnd>
            <security-role name="users">
                <user name="user1"/>
                <user name="user2"/>
                <user name="user3"/>
            </security-role>
        </application-bnd>
        <classloader commonLibraryRef="customContextProviderLib"/>
    </application>

    <basicRegistry id="basic" realm="TestRealm">
        <user name="user1" password="pwd1"/>
        <user name="user2" password="pwd2"/>
        <user name="user3" password="pwd3"/>
        <group name="users">
            <member name="user1"/>
            <member name="user2"/>
            <member name="user3"/>
        </group>
    </basicRegistry>

    <library id="customContextProviderLib">
        <file name="${server.config.dir}/lib/customContextProviders.jar"/>
    </library>

    <!-- Needed for application to use a ForkJoinPool, access the thread context class loader, and shut down an unmanaged ExecutorService that the test application creates -->
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentConfigApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentConfigApp.war" className="java.lang.RuntimePermission" name="modifyThread"/>
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentConfigApp.war" className="java.lang.RuntimePermission" name="setContextClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/MPConcurrentConfigApp.war" className="java.util.PropertyPermission" name="java.util.concurrent.ForkJoinPool.*" actions="read"/>
</server>