<!--
    Copyright (c) 2025 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
 -->
<server description="Server for testing ignoreWriteAfterCommit">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

        <!-- httpEndpoint needed to that we an have the httpOptions included for the test  -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${bvt.prop.HTTP_secondary}"
                  httpsPort="${bvt.prop.HTTP_secondary.secure}">
        <httpOptions ignoreWriteAfterCommit="true"/>
    </httpEndpoint> 

    <javaPermission className="java.util.PropertyPermission" name="dtm.debug" actions="read"/>

    <javaPermission className="java.util.PropertyPermission" name="user.dir" actions="read"/>

</server>
