<server description="Configurable Mcp Path Liberty server">

  <featureManager>
    <feature>servlet-6.0</feature>
    <feature>cdi-4.0</feature>
    <feature>mcp-1.0</feature>
  </featureManager>
  
  <application location="configurableMcpPathTests.war">
  	<mcp path="/custom-mcp"/>
  </application>

  <include location="../fatTestPorts.xml" />
  
</server>
