<server>

  <featureManager>
    <feature>microProfile-1.4</feature>
    <feature>appSecurity-2.0</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <application location="jaxrsHelloWorld.war" />

  <logging traceSpecification="*=info:com.ibm.ws.opentracing*=all:com.ibm.ws.microprofile.opentracing*=all" maxFileSize="100" maxFiles="1" />

  <javaPermission className="java.util.PropertyPermission" name="*" actions="read"/>
  
</server>
