<server>

    <include location="../fatTestPorts.xml" />

	<featureManager>
        <feature>componentTest-1.0</feature>
		<feature>batchManagement-1.0</feature>
		<feature>ejb-3.2</feature>
		<feature>osgiConsole-1.0</feature>
        <feature>appSecurity-2.0</feature>
	</featureManager>

<jndiEntry jndiName="serverName" value="${wlp.server.name}"/>


    <batchPersistence jobStoreRef="BatchDatabaseStore" />

    <databaseStore id="BatchDatabaseStore" dataSourceRef="batchDB" schema="JBATCH" tablePrefix="" />

	<library id="DerbyLib">
	    <file name="${shared.resource.dir}/derby/derby.jar"/>
	</library>

	<dataSource id="batchDB" jndiName="jdbc/batch">
		<jdbcDriver libraryRef="DerbyLib" />
	    <!-- The following configures in-memory Derby.  For Derby on disk, which is needed if the database
       	is required beyond a single server start, configure the databaseName with a file location such as:
       	databaseName="${shared.config.dir}/data/derbydb" -->
        <properties.derby.embedded 
            databaseName="memory:BATCHDB"
            createDatabase="create" 
            user="user" 
            password="pass" />
    </dataSource> 

    <keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.p12" type="PKCS12" password="{xor}EzY9Oi0rJg==" />

	<basicRegistry id="basic" realm="ibm/api">
		<user name="bob" password="bobpwd" />
		<user name="phyllis" password="phyllispwd" />
		<user name="jane" password="janepwd" />
	    <user name="adminAlice" password="adminAlicePwd" />
		<user name="sarahSubmitter" password="sarahSubmitterPwd" />
		<user name="simonSubmitter" password="simonSubmitterPwd" />
		<user name="mindyMonitor" password="mindyMonitorPwd" />
		<user name="nancyNobody" password="nancyNobodyPwd" />
		<user name="submitterAndMonitor" password="submitterAndMonitorPwd" />
	</basicRegistry>

	<administrator-role>
		<user>bob</user>
		<user>phyllis</user>
	</administrator-role>
	

	<!-- bob,phyllis,jane are admin for non security related tests -->
	<authorization-roles id="com.ibm.ws.batch">
		<security-role name="batchAdmin">
			<user name="bob" />
			<user name="phyllis" />
			<user name="jane" />
			<user name="adminAlice" />
		</security-role>
		<security-role name="batchSubmitter">
			<user name="sarahSubmitter" />
			<user name="simonSubmitter" />
			<user name="submitterAndMonitor"/>	
		</security-role>
		<security-role name="batchMonitor">
			<user name="mindyMonitor" />
			<user name="submitterAndMonitor"/>
		</security-role>
	</authorization-roles>
	
	<javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/derby/derby.jar"/>
	
</server>
