<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>testHandlerClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.ibm.samples.jaxws.client.servlet.TestServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/TestServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PortServlet</servlet-name>
    <servlet-class>com.ibm.samples.jaxws.client.servlet.TestPortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortServlet</servlet-name>
    <url-pattern>/TestPortServlet</url-pattern>
  </servlet-mapping>  
  <!-- Using @Resource to inject the WebService -->
  <service-ref>
    <service-ref-name>services/serviceServlet/HelloFromResource</service-ref-name>
    <service-interface>
        com.ibm.samples.jaxws.client.ClientSayHelloService
    </service-interface>
    <handler-chains>
       <handler-chain>
            <handler>
               <handler-name>SOAPHandler</handler-name>
               <handler-class>com.ibm.samples.jaxws.client.handler.TestSOAPHandler</handler-class>
               <init-param>
                    <param-name>soapArg0</param-name>
                    <param-value>testServiceInitParamInSoapFromRes</param-value>
                </init-param>
            </handler>
            <handler>
                <handler-name>LogicalHandler</handler-name>
                <handler-class>com.ibm.samples.jaxws.client.handler.TestLogicalHandler</handler-class>
                <init-param>
                    <param-name>arg0</param-name>
                    <param-value>testServiceInitParamFromRes</param-value>
                </init-param>
            </handler>
       </handler-chain>
    </handler-chains>
  </service-ref>
  <service-ref>
  <service-ref-name>services/portServlet/HelloFromResource</service-ref-name>
    <service-interface>
        com.ibm.samples.jaxws.client.ClientSayHelloService
    </service-interface>
    <handler-chains>
       <handler-chain>
            <handler>
               <handler-name>SOAPHandler</handler-name>
               <handler-class>com.ibm.samples.jaxws.client.handler.TestSOAPHandler</handler-class>
               <init-param>
                    <param-name>soapArg0</param-name>
                    <param-value>testPortInitParamInSoapFromRes</param-value>
                </init-param>
            </handler>
            <handler>
                <handler-name>LogicalHandler</handler-name>
                <handler-class>com.ibm.samples.jaxws.client.handler.TestLogicalHandler</handler-class>
                <init-param>
                    <param-name>arg0</param-name>
                    <param-value>testPortInitParamFromRes</param-value>
                </init-param>
            </handler>
       </handler-chain>
    </handler-chains>
  </service-ref>
  <!--Using @WebServiceRef to inject the WebService -->
  <service-ref>
    <service-ref-name>services/serviceServlet/HelloFromWSRef</service-ref-name>
    <service-interface>
        com.ibm.samples.jaxws.client.ClientSayHelloService
    </service-interface>
    <handler-chains>
       <handler-chain>
            <handler>
                <handler-name>SOAPHandler</handler-name>
                <handler-class>com.ibm.samples.jaxws.client.handler.TestSOAPHandler</handler-class>
                <init-param>
                    <param-name>soapArg0</param-name>
                    <param-value>testServiceInitParamInSoapFromWSRef</param-value>
                </init-param>
            </handler>
            <handler>
                <handler-name>LogicalHandler</handler-name>
                <handler-class>com.ibm.samples.jaxws.client.handler.TestLogicalHandler</handler-class>
                <init-param>
                    <param-name>arg0</param-name>
                    <param-value>testServiceInitParamFromWSRef</param-value>
                </init-param>
            </handler>
        </handler-chain>
    </handler-chains>
  </service-ref>
  <service-ref>
  <service-ref-name>services/portServlet/HelloFromWSRef</service-ref-name>
    <service-interface>
        com.ibm.samples.jaxws.client.ClientSayHelloService
    </service-interface>
    <handler-chains>
       <handler-chain>
    <handler>
       <handler-name>SOAPHandler</handler-name>
       <handler-class>com.ibm.samples.jaxws.client.handler.TestSOAPHandler</handler-class>
       <init-param>
            <param-name>soapArg0</param-name>
            <param-value>testPortInitParamInSoapFromWSRef</param-value>
        </init-param>
    </handler>
    <handler>
        <handler-name>LogicalHandler</handler-name>
        <handler-class>com.ibm.samples.jaxws.client.handler.TestLogicalHandler</handler-class>
        <init-param>
            <param-name>arg0</param-name>
            <param-value>testPortInitParamFromWSRef</param-value>
        </init-param>
    </handler>
     </handler-chain>
    </handler-chains>
  </service-ref>  
</web-app>