<!--
    Copyright (c) 2017,2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
  <featureManager>
    <feature>componentTest-2.0</feature>
    <feature>concurrent-2.0</feature>
    <feature>jdbc-4.2</feature> <!-- for javax.transaction.UserTransaction API -->
    <feature>jndi-1.0</feature>
    <feature>servlet-5.0</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <variable name="onError" value="FAIL"/>

  <concurrencyPolicy id="defaultConcurrencyPolicy" max="1" maxQueueSize="1" maxWaitForEnqueue="2m"/>

  <concurrencyPolicy id="longrunning" max="2" maxPolicy="strict" maxQueueSize="2" maxWaitForEnqueue="20s" startTimeout="1m"/>

  <concurrencyPolicy id="normal" expedite="1" max="2" maxPolicy="loose" maxQueueSize="2" runIfQueueFull="false"/>

  <contextService id="jeeMetadataOnly">
    <jeeMetadataContext/>
  </contextService>

  <managedScheduledExecutorService id="DefaultManagedScheduledExecutorService">
   <concurrencyPolicy expedite="0" max="4" maxPolicy="strict" maxQueueSize="1" runIfQueueFull="true"/>
  </managedScheduledExecutorService>

  <managedExecutorService id="executor1" jndiName="concurrent/executor1" contextServiceRef="jeeMetadataOnly">
   <concurrencyPolicy max="1" maxPolicy="strict" maxQueueSize="1" maxWaitForEnqueue="0" runIfQueueFull="false"/>
   <longRunningPolicy max="1" maxPolicy="strict" maxQueueSize="1"/>
  </managedExecutorService>

  <managedScheduledExecutorService jndiName="concurrent/scheduledExecutor2" concurrencyPolicyRef="normal" contextServiceRef="jeeMetadataOnly"/>

  <managedExecutorService id="executor2" jndiName="concurrent/executor2" concurrencyPolicyRef="normal" longRunningPolicyRef="longrunning"/>

</server>