<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2014 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        IBM Corporation - initial API and implementation
-->

<web-app id="CollectiveManagement" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>The Liberty Collective Management Tool</display-name>
  <description>The Liberty Collective Management Tool</description>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- SERVLET SECURITY CONFIGURATION -->
  <!-- Everything in the Collective Management Tool should be protected. Overrides
       must be explicit (see 'login' resources below). -->
  <security-constraint id="SecurityConstraints_CollectiveManagement">
    <display-name>Collective Management Security Constraint</display-name>
    <web-resource-collection id="WebResourceCollection_CollectiveManagement">
      <web-resource-name>Collective Management URL</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Administrator</role-name>
    </auth-constraint>
    <user-data-constraint id="UserDataConstraint_CollectiveManagement">
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-role id="Administrator">
    <description>Administrator role</description>
    <role-name>Administrator</role-name>
  </security-role>

  <login-config id="LoginConfig_all">
    <realm-name>CollectiveManagement</realm-name>
    <auth-method>BASIC</auth-method>
  </login-config>

</web-app>
