<div class="statusGraph" id="${id}">
  <div class="statusGraphInfo displayGraph statusGraphNarrow">
    <div data-dojo-attach-point="actionButtonNode" data-dojo-type="dijit/layout/ContentPane" class="statusGraphActionButtonNode"></div>
    <div class="statusGraphTitle">
      <span style="font-size: ${titleFontSize};">${title}</span>

      <select id="${idConfigListSelect}" data-dojo-attach-point="configList" data-dojo-id="${idConfigList}" multiple="true" name="${id}configList" data-dojo-type="dojox/form/CheckedMultiSelect" dropDown="true" style="display:none;">
      </select>

    </div>
    <div class="statusGraphSummary">
    </div>
    <div class="statusGraphGraph">
      <div id='${chartNodeId}' data-dojo-attach-point="laChartNode">
        </div>
    </div>
    <div data-dojo-attach-point="singleLegendNode" class="statusGraphSingleLegend">
    </div>
  </div>
  <div data-dojo-attach-point="legendNode" style="display:none;" id="${legendNodeId}" class="statusGraphLegend">
  </div>
</div>