<!-- 
/*******************************************************************************
 * Copyright (c) 2020 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<server>

    <featureManager>
	<feature>spnego-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>jsp-2.3</feature>
        <feature>securitylibertyinternals-1.0</feature>
	<feature>servlet-3.1</feature>
    </featureManager>

	<include location="imports/configs/keystore.xml"/>
	<include location="imports/configs/basicRegistry.xml"/>
	<include location="imports/application_definition/basicauth_war.xml"/>
	<include location="imports/configs/fatTestPorts.xml"/>
	<include location="imports/spnego/configs/spnego_myauthfilter.xml"/>

	<authFilter id="myAuthFilter">
        <requestUrl id="myRequestUrl" urlPattern="/SimpleServlet" matchType="contains" />
    </authFilter>
</server>
