<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   1/11/2013  chriscr        CXF Web service - WSS 11 service client
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CxfMustUnderstandSvcClient</display-name>

    <servlet>
        <servlet-name>mustunderstandclient</servlet-name>
        <display-name>mustunderstandclient</display-name>
        <description>CXF WSS 11 Service Client</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.mustunderstandclient.CxfMustUnderstandSvcClient</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!-- comment out 11/2020
    <servlet-mapping>
        <servlet-name>mustunderstandclient</servlet-name>
        <url-pattern>/CxfMustUnderstandSvcClient</url-pattern>
    </servlet-mapping>
-->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

