<server description="Server for testing JavaServer Faces 2.2">

    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>jsf-2.2</feature>
    </featureManager>
    
    <logging traceSpecification="*=info:org.apache.myfaces.*=all:com.ibm.ws.jsf*=all:com.ibm.ws.webcontainer*=all:com.ibm.wsspi.webcontainer*=all:com.ibm.wsspi.injectionengine*=all" maxFileSize="20" maxFiles="10" traceFormat="BASIC"/> 
 
    
</server>
