<!--
    Copyright (c) 2023 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

    <include location="../fatTestPorts.xml" />

    <!-- This server has concurrent-1.0 enabled and custom context services configured -->
    <featureManager>
        <feature>componenttest-1.0</feature>
        <feature>osgiconsole-1.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>mpReactiveMessaging-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>jndi-1.0</feature>
        <feature>concurrent-1.0</feature>
    </featureManager>
    
    <contextService id="propagateAll">
        <classloaderContext/>
        <jeeMetadataContext/>
        <securityContext/>
    </contextService>
    
    <contextService id="propagateNone">
    </contextService>
</server>
