<server>
    <transaction
      dataSourceRef="tranlogDataSource"
      recoverOnStartup="true"
      waitForRecovery="false"
      heuristicRetryInterval="10"
      recoveryIdentity="cloud001"
      recoveryGroup="defaultGroup"
      leaseLength="300"
      leaseCheckInterval="25"
    />

    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>txtest-1.0</feature>
    </featureManager>

    <application location="transaction.war">
        <classloader commonLibraryRef="SQLServerLibAnon"/>
    </application>
    
    <!-- Anonymously named jar used to prevent JDBCDriver auto-detection -->
    <library id="SQLServerLibAnon">
        <fileset dir="${shared.resource.dir}/sqlserver" includes="anomyous.jar"/>
    </library>

    <dataSource id="tranlogDataSource" jndiName="jdbc/tranlogDataSource" transactional="false">
      <jdbcDriver libraryRef="SQLServerLibAnon" />
  	<properties.microsoft.sqlserver user="${env.USER}" password="${env.PASSWORD}" serverName="${env.HOST}"
  	  url="jdbc:sqlserver://${env.HOST}:${env.PORT};databaseName=${env.DBNAME};" selectMethod="cursor"/>
    </dataSource>

    <dataSource id="jdbc/derby" jndiName="jdbc/derby" type="javax.sql.XADataSource">
      <jdbcDriver libraryRef="SQLServerLibAnon" />
  	<properties.microsoft.sqlserver user="${env.USER}" password="${env.PASSWORD}" serverName="${env.HOST}"
  	  url="jdbc:sqlserver://${env.HOST}:${env.PORT};databaseName=${env.DBNAME};" selectMethod="cursor"/>
    </dataSource>
    
    <include location="../fatTestPorts.xml"/>
    
    <javaPermission codeBase="${server.config.dir}/apps/transaction.war" className="java.security.AllPermission"/>
    <javaPermission codeBase="${server.config.dir}/apps/transaction.war" className="java.util.PropertyPermission" name="user.dir" actions="read"/>
    
    <javaPermission codeBase="${server.config.dir}/jdbc/driver.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${server.config.dir}/sqlserver/-" className="java.security.AllPermission"/>
    
    <javaPermission className="java.util.PropertyPermission" name="java.specification.version" actions="read"/>
    
    <javaPermission className="java.lang.RuntimePermission" name="*" actions="*"/>
    <javaPermission className="java.io.FilePermission" name="ALL FILES" actions="read,write,delete"/>

</server>
