<?xml version="1.0" encoding="UTF-8"?>
<server description="testServer1">
    <!-- Enable features -->
    <featureManager>
        <feature>mpTelemetry-1.0</feature>
        <feature>mpRestClient-3.0</feature>
        <feature>timedexit-1.0</feature>
    </featureManager>

    <include location="../fatTestPorts.xml" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <webApplication id="spanTest" location="crossFeature.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>
    
</server>