<server>
    <featureManager>
      <feature>servlet-3.1</feature>
      <feature>localConnector-1.0</feature>
      <feature>javaMail-1.6</feature>
      <feature>jndi-1.0</feature>
      <feature>ejbLite-3.2</feature>
    </featureManager>

    <include optional="true" location="../fatTestPorts.xml"/>

    <variable name="onError" value="FAIL"/>

    <application type="ear" id="fvtapp" name="fvtapp" location="fvtapp.ear"/>

</server>
