<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2019, 2021 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>DMIPkgNoInhEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPkgNoInhEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPriNoInhEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPriNoInhEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIProNoInhEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIProNoInhEJBSLTestServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>DMIPubNoInhEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPubNoInhEJBSLTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DMIPkgNoInhEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPkgNoInhEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPriNoInhEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPriNoInhEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIProNoInhEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIProNoInhEJBSFTestServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>DMIPubNoInhEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPubNoInhEJBSFTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DMIPkgNoInhEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPkgNoInhEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPriNoInhEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPriNoInhEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIProNoInhEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIProNoInhEJBSFEXTestServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>DMIPubNoInhEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.noinh.DMIPubNoInhEJBSFEXTestServlet</servlet-class>
	</servlet>	

	<servlet-mapping>
		<servlet-name>DMIPkgNoInhEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIPkgNoInhEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPriNoInhEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIPriNoInhEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIProNoInhEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIProNoInhEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPubNoInhEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIPubNoInhEJBSLTestServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DMIPkgNoInhEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIPkgNoInhEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPriNoInhEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIPriNoInhEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIProNoInhEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIProNoInhEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPubNoInhEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIPubNoInhEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DMIPkgNoInhEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIPkgNoInhEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPriNoInhEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIPriNoInhEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIProNoInhEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIProNoInhEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPubNoInhEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIPubNoInhEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
		
	<!-- EJB References -->	

    <!--  Field Injection, No Inheritance Test EJBs -->
	<ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPkgNoInhSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPkgNoInhSLEJBLocal</local>
        <ejb-link>DMIPkgNoInhSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPriNoInhSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPriNoInhSLEJBLocal</local>
        <ejb-link>DMIPriNoInhSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIProNoInhSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIProNoInhSLEJBLocal</local>
        <ejb-link>DMIProNoInhSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPubNoInhSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPubNoInhSLEJBLocal</local>
        <ejb-link>DMIPubNoInhSLEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPkgNoInhSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPkgNoInhSFEJBLocal</local>
        <ejb-link>DMIPkgNoInhSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPriNoInhSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPriNoInhSFEJBLocal</local>
        <ejb-link>DMIPriNoInhSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIProNoInhSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIProNoInhSFEJBLocal</local>
        <ejb-link>DMIProNoInhSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPubNoInhSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPubNoInhSFEJBLocal</local>
        <ejb-link>DMIPubNoInhSFEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPkgNoInhSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPkgNoInhSFEXEJBLocal</local>
        <ejb-link>DMIPkgNoInhSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPriNoInhSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPriNoInhSFEXEJBLocal</local>
        <ejb-link>DMIPriNoInhSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIProNoInhSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIProNoInhSFEXEJBLocal</local>
        <ejb-link>DMIProNoInhSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/noinh/DMIPubNoInhSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.noinh.DMIPubNoInhSFEXEJBLocal</local>
        <ejb-link>DMIPubNoInhSFEXEJB</ejb-link>
    </ejb-local-ref>
    
</web-app>