<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1"
    metadata-complete="true">

    <servlet>
        <servlet-name>ApplicationServlet1</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication1</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet1</servlet-name>
        <url-pattern>/contextandCDI1/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplicationServlet2</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication2</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application2</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet2</servlet-name>
        <url-pattern>/contextandCDI2/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplicationServlet3</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication3</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application3</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet3</servlet-name>
        <url-pattern>/contextandCDI3/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplicationServlet4</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication4</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application4</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet4</servlet-name>
        <url-pattern>/contextandCDI4/*</url-pattern>
    </servlet-mapping>
    
       <servlet>
        <servlet-name>ApplicationServlet5</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication5</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application5</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet5</servlet-name>
        <url-pattern>/contextandCDI5/*</url-pattern>
    </servlet-mapping>
    
       <servlet>
        <servlet-name>ApplicationServlet6</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication6</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>applicationg6</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet6</servlet-name>
        <url-pattern>/contextandCDI6/*</url-pattern>
    </servlet-mapping>

       <servlet>
        <servlet-name>ApplicationServlet7</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication7</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application7</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet7</servlet-name>
        <url-pattern>/contextandCDI7/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationServlet11</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication11</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application11</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet11</servlet-name>
        <url-pattern>/contextandCDI11/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplicationServlet12</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication12</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application12</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet12</servlet-name>
        <url-pattern>/contextandCDI12/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationServlet21</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication21</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application21</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet21</servlet-name>
        <url-pattern>/contextandCDI21/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationServlet22</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication22</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application22</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet22</servlet-name>
        <url-pattern>/contextandCDI22/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplicationServlet31</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication31</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application31</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet31</servlet-name>
        <url-pattern>/contextandCDI31/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplicationServlet32</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs20.cdi12.fat.contextandCDI.CDIApplication32</param-value>
        </init-param>
        <init-param>
            <param-name>requestProcessorAttribute</param-name>
            <param-value>application32</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet32</servlet-name>
        <url-pattern>/contextandCDI32/*</url-pattern>
    </servlet-mapping>



</web-app>
