<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebServiceFeatureTests</display-name>
  
    <servlet id="MTOMDDOnly">
	      <servlet-name>MTOMDDOnly</servlet-name>
	      <servlet-class>fats.cxf.jaxws22.mtom.server.MTOMDDOnlyService_MTOMDDOnlyPortImpl</servlet-class>
	      <load-on-startup>1</load-on-startup>
	</servlet>	
	
    <servlet id="MTOMAnnotationOnly">
	      <servlet-name>MTOMAnnotationOnly</servlet-name>
	      <servlet-class>fats.cxf.jaxws22.mtom.server.MTOMAnnotationOnlyService_MTOMAnnotationOnlyPortImpl</servlet-class>
	      <load-on-startup>1</load-on-startup>
	</servlet>	
	
    <servlet id="MTOMAnnotationNoMTOM">
	      <servlet-name>MTOMAnnotationNoMTOM</servlet-name>
	      <servlet-class>fats.cxf.jaxws22.mtom.server.MTOMAnnotationNoMTOMService_MTOMAnnotationNoMTOMPortImpl</servlet-class>
	      <load-on-startup>1</load-on-startup>
	</servlet>	
	
	 <servlet id="BindingTypeMTOMAnnotationOnly">
	      <servlet-name>BindingTypeMTOMAnnotationOnly</servlet-name>
	      <servlet-class>fats.cxf.jaxws22.mtom.server.BindingTypeMTOMAnnotationOnly</servlet-class>
	      <load-on-startup>1</load-on-startup>
	</servlet>	
	
	 
</web-app>