# Documentation in https://dependabot.com/docs/config-file/
# Can validate at  https://dependabot.com/docs/config-file/validator/
version: 1
update_configs:
  - package_manager: "java:maven"
    directory: "/dev/cnf/dependabot/check_this_in_if_it_changes/"
    update_schedule: "daily"
    default_assignees:
      - "tevans78"
      - "aguibert"
    target_branch: "integration"
    allowed_updates:
      - match:
          update_type: "security"
      - match:
          dependency_name: "cglib:cglib-nodep"
      - match:
          dependency_name: "org.eclipse:yasson"
      - match:
          dependency_name: "org.glassfish:javax.json"
      - match:
          dependency_name: "org.hibernate.validator:hibernate-validator"
      - match:
          dependency_name: "org.hibernate.validator:hibernate-validator-cdi"
      - match:
          dependency_name: "org.ow2.asm:asm"
