<server>

    <include location="../fatTestPorts.xml" />

	<featureManager>
		<feature>batch-1.0</feature>
		<feature>cdi-2.0</feature>
		<feature>servlet-4.0</feature>
	</featureManager>

    <batchPersistence jobStoreRef="BatchDatabaseStore" />

    <databaseStore id="BatchDatabaseStore" dataSourceRef="BatchDB" schema="JBATCH" tablePrefix="" />

	<library id="DerbyLib">
	    <file name="${shared.resource.dir}/derby/derby.jar"/>
	</library>


	<dataSource id="BatchDB" jndiName="jdbc/batch" type="javax.sql.XADataSource">
		<jdbcDriver libraryRef="DerbyLib" />
        <properties.derby.embedded databaseName="memory:RUNTIMEDB"
			createDatabase="create" user="user" password="pass" />
	</dataSource>

	<javaPermission className="java.util.PropertyPermission" name="*" actions="read"/>
	<javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/derby/derby.jar"/>

</server>
