<server description="Server for testing microProfile">

    <include location="../fatTestPorts.xml" />

    <featureManager>
        <!-- At the moment, not all of the MP 6.0 features work with EE10 ... but they should before GA -->
        <!-- <feature>microProfile-6.0</feature> -->
        <feature>mpConfig-3.0</feature>
        <feature>mpFaultTolerance-4.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpJwt-2.1</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>mpMetrics-5.0</feature>
        <!-- <feature>mpRestClient-3.0</feature> Does not work with EE10 yet-->
        <!-- <feature>mpTelemetry-1.0</feature> Does not work with EE10 yet-->
        
        <feature>jakartaee-10.0</feature>
    </featureManager>
    
    <keyStore id="defaultKeyStore" password="openliberty"/>
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
</server>