<server>
	<featureManager>
		<feature>componenttest-1.0</feature>
		<feature>jaxrs-2.1</feature>
	</featureManager>
	
	<include location="../fatTestPorts.xml"/>
	
	<javaPermission className="java.util.PropertyPermission" name="org.apache.johnzon.max-string-length" actions="read"/>
	<javaPermission className="java.util.PropertyPermission" name="org.apache.johnzon.default-char-buffer" actions="read"/>
	<javaPermission className="java.util.PropertyPermission" name="org.apache.johnzon.supports-comments" actions="read"/>
	<javaPermission className="java.util.PropertyPermission" name="org.apache.johnzon.default-char-buffer-generator" actions="read"/>
	<javaPermission className="java.util.PropertyPermission" name="johnzon.string-builder.strategy" actions="read"/>
	<javaPermission className="java.util.PropertyPermission" name="johnzon.mapper.encoding" actions="read"/>
	<javaPermission className="java.util.PropertyPermission" name="org.apache.johnzon.default-string-builder" actions="read"/>
	<javaPermission className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
	<javaPermission className="java.lang.reflect.ReflectPermission" name="suppressAccessChecks"/>
</server>
