<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2019, 2021 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>DFIPubNoInhTestServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFIPriNoInhTestServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFIPkgNoInhTestServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFIProNoInhTestServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>DFIPubNoInhTestServlet</servlet-name>
        <url-pattern>/DFIPubNoInhTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFIPriNoInhTestServlet</servlet-name>
        <url-pattern>/DFIPriNoInhTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFIPkgNoInhTestServlet</servlet-name>
        <url-pattern>/DFIPkgNoInhTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFIProNoInhTestServlet</servlet-name>
        <url-pattern>/DFIProNoInhTestServlet</url-pattern>
    </servlet-mapping>
    
    <!-- JPA Resource Definitions -->
    
    <!-- Cleanup Persistence Context -->
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/web/jndi/ano/cleanup_cmts</persistence-context-ref-name>
        <persistence-unit-name>CLEANUP</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
    </persistence-context-ref>

    <!-- Injection Overrides -->
    
    <!-- CM TS -->
        
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet -->
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPubNoInhTestServlet/ovdem_cmts_common_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPubNoInhTestServlet/ovdem_cmts_webapp_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPubNoInhTestServlet/ovdem_cmts_common_earlib</persistence-context-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPubNoInhTestServlet/ovdem_cmts_jpalib_earlib</persistence-context-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet -->

    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPriNoInhTestServlet/ovdem_cmts_common_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPriNoInhTestServlet/ovdem_cmts_webapp_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPriNoInhTestServlet/ovdem_cmts_common_earlib</persistence-context-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPriNoInhTestServlet/ovdem_cmts_jpalib_earlib</persistence-context-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet -->
    
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPkgNoInhTestServlet/ovdem_cmts_common_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPkgNoInhTestServlet/ovdem_cmts_webapp_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPkgNoInhTestServlet/ovdem_cmts_common_earlib</persistence-context-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIPkgNoInhTestServlet/ovdem_cmts_jpalib_earlib</persistence-context-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet -->
    
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIProNoInhTestServlet/ovdem_cmts_common_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIProNoInhTestServlet/ovdem_cmts_webapp_webapp</persistence-context-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIProNoInhTestServlet/ovdem_cmts_common_earlib</persistence-context-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_common_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>jpa/DFIProNoInhTestServlet/ovdem_cmts_jpalib_earlib</persistence-context-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdem_cmts_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-context-ref>
    
    <!-- AM JTA Injection Overrides -->
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amjta_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amjta_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amjta_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amjta_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amjta_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amjta_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amjta_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amjta_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amjta_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amjta_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amjta_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amjta_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amjta_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amjta_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amjta_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amjta_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_JTA</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amjta_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- AM RL Injection Overrides -->

    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amrl_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amrl_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amrl_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPubNoInhTestServlet/ovdemf_amrl_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPubNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amrl_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amrl_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amrl_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPriNoInhTestServlet/ovdemf_amrl_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPriNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amrl_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amrl_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amrl_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIPkgNoInhTestServlet/ovdemf_amrl_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIPkgNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <!-- Servlet com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet -->
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amrl_common_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref> 
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amrl_webapp_webapp</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_WEBAPP_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_webapp_webapp</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amrl_common_earlib</persistence-unit-ref-name>
        <persistence-unit-name>../lib/jpapulib.jar#OVRD_COMMON_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_common_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DFIProNoInhTestServlet/ovdemf_amrl_jpalib_earlib</persistence-unit-ref-name>
        <persistence-unit-name>OVRD_JPALIB_RL</persistence-unit-name>
        <injection-target>
            <injection-target-class>com.ibm.ws.jpa.fvt.injection.tests.web.dfi.noinh.DFIProNoInhTestServlet</injection-target-class>
            <injection-target-name>ovdemf_amrl_jpalib_earlib</injection-target-name>
        </injection-target>
    </persistence-unit-ref>
    
    <persistence-unit-ref>
        <description>Cleanup Persistence Context</description>
        <persistence-unit-ref-name>jpa/cleanup</persistence-unit-ref-name>
        <persistence-unit-name>CLEANUP_RL</persistence-unit-name>
    </persistence-unit-ref>
</web-app>