<!--
    Copyright (c) 2020,2021 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
    <featureManager>
        <feature>componenttest-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>jdbc-4.1</feature>
        <feature>jndi-1.0</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>

    <application location="errorMappingApp.war" >
        <classloader commonLibraryRef="CustomDriverLib"/>
    </application>
    
    <library id="CustomDriverLib">
        <fileset dir="${server.config.dir}/derby" includes="derby.jar,errorMappingDriver.jar"/>
    </library>
    
    <jdbcDriver id="CustomDriver" libraryRef="CustomDriverLib" javax.sql.DataSource="jdbc.fat.v41.errormap.driver.ErrorMapDataSourceImpl"/>
    
    <dataSource id="errorMapDS" jndiName="jdbc/errorMap" type="javax.sql.DataSource" jdbcDriverRef="CustomDriver">
        <properties.derby.embedded databaseName="memory:ds1" createDatabase="create"/>
        <identifyException errorCode="1234" as="StaleConnection"/>
    </dataSource>
    
    <javaPermission codebase="${server.config.dir}/derby/derby.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${server.config.dir}/apps/errorMappingApp.war" className="java.sql.SQLPermission" name="callAbort"/>
    <javaPermission codebase="${server.config.dir}/apps/errorMappingApp.war" className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
    <javaPermission codebase="${server.config.dir}/apps/errorMappingApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
    <javaPermission codebase="${server.config.dir}/apps/errorMappingApp.war" className="java.lang.reflect.ReflectPermission" name="suppressAccessChecks"/>

    <!--  Permissions for application to access mbeans -->
    <javaPermission codebase="${server.config.dir}/apps/errorMappingApp.war" className="javax.management.MBeanPermission" actions="queryNames"/>
    <javaPermission codebase="${server.config.dir}/apps/errorMappingApp.war" className="javax.management.MBeanServerPermission" name="createMBeanServer"/>
    
    <variable name="onError" value="FAIL"/>
</server>