<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2019, 2021 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>InjectionDPUServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injectiondpu.web.applevel.rl.InjectionDPUServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppLevelRLDPUFieldInjectionServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injectiondpu.web.applevel.rl.AppLevelRLDPUFieldInjectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppLevelRLDPUMethodInjectionServlet</servlet-name>
        <servlet-class>com.ibm.ws.jpa.fvt.injectiondpu.web.applevel.rl.AppLevelRLDPUMethodInjectionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>InjectionDPUServlet</servlet-name>
        <url-pattern>/InjectionDPUServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppLevelRLDPUFieldInjectionServlet</servlet-name>
        <url-pattern>/AppLevelRLDPUFieldInjectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppLevelRLDPUMethodInjectionServlet</servlet-name>
        <url-pattern>/AppLevelRLDPUMethodInjectionServlet</url-pattern>
    </servlet-mapping>
    
    <!-- Persistence Context Definitions -->

    <persistence-unit-ref>
        <description>Application-Managed RL-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/InjectionDPU_AMRL</persistence-unit-ref-name>
    </persistence-unit-ref>
</web-app>