<?xml version="1.0" encoding="UTF-8"?>
<web-app id="SecurityEJBServlet" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>SecurityEJBServlet</display-name>
  <description>This is a servlet to test EJBs</description>

  <!-- SERVLET DEFINITIONS -->
  <servlet id="Default_Servlet_1">
    <description>SecurityEJBServlet to be used for security context ejb tests</description>
    <display-name>SecurityEJBServlet</display-name>
    <servlet-name>SecurityEJBServlet</servlet-name>
    <servlet-class>web.war.ejb.servlet.SecurityEJBServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>
  
  <!-- SERVLET MAPPINGS -->   
  <servlet-mapping id="Default_Servlet_Mapping_1">
    <servlet-name>SecurityEJBServlet</servlet-name>
    <url-pattern>/SimpleServlet</url-pattern>
  </servlet-mapping>
  
  <!-- SECURITY CONSTRAINTS -->  
  <security-constraint id="SecurityConstraint_Ann_Default">
     <web-resource-collection id="WebResourceCollection_Default">
        <web-resource-name>Protected with all authenticated</web-resource-name>
        <url-pattern>/SimpleServlet</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
     </web-resource-collection>
     <auth-constraint id="AuthConstraint_Default">
        <role-name>AllAuthenticated</role-name>
     </auth-constraint>
  </security-constraint>
    <!-- 
   <login-config id="LoginConfig_1">
  	<auth-method>BASIC</auth-method>
    <realm-name>Basic Authentication</realm-name>
  </login-config>
  -->
   <!-- ROLES DEFINITION -->
	<security-role>
		<role-name>Manager</role-name>
	</security-role>
  
</web-app>