<server>

    <featureManager>
        <feature>cdi-2.0</feature>
        <feature>servlet-4.0</feature>
        <feature>componenttest-1.0</feature>
        <feature>sessionCache-1.0</feature>
        <feature>timedexit-1.0</feature>
        <!-- MP Health is enabled to verify that sessionCache works with a feature that provides a web endpoint via WAB -->
        <feature>mpHealth-1.0</feature>
    </featureManager>
    
    <include location="../fatTestCommon.xml"/>

    <!-- This server runs at the same time as com.ibm.ws.session.cache.fat.infinispan.serverA, so use a different set of ports -->    
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${bvt.prop.HTTP_secondary}"
                  httpsPort="${bvt.prop.HTTP_secondary.secure}"/>
    
	<httpSessionCache libraryRef="HazelcastLib">
	  <properties hazelcast.config.location="file:${shared.resource.dir}/hazelcast/hazelcast-client-localhost-only.xml"/>
	</httpSessionCache>
	
	<library id="HazelcastLib">
	  <fileset dir="${shared.resource.dir}/hazelcast" includes="*.jar"/>
	</library>
    
    <!-- Needed for missing doPriv in JCache 1.1 API (see https://github.com/jsr107/jsr107spec/issues/398) -->
    <javaPermission className="java.util.PropertyPermission" actions="read,write" name="*"/>
    <!-- Needed for hazelcast JVM shutdown hook -->
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.sun.net.www.protocol.wsjar"/>
    
    <javaPermission codebase="${shared.resource.dir}/hazelcast/hazelcast.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${shared.resource.dir}/hazelcast/hazelcast-client.jar" className="java.security.AllPermission"/>
</server>