<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2019, 2021 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>DMIPkgYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPkgYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPriYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPriYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIProYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIProYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPubYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPubYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DMIPkgYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPkgYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPriYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPriYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIProYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIProYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPubYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPubYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DMIPkgYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPkgYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPriYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPriYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIProYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIProYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMIPubYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dmi.inh.anoovrd.DMIPubYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>DMIPkgYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIPkgYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPriYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIPriYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIProYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIProYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPubYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DMIPubYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DMIPkgYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIPkgYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPriYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIPriYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIProYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIProYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPubYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DMIPubYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DMIPkgYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIPkgYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPriYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIPriYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIProYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIProYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMIPubYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DMIPubYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
			
	<!-- EJB References -->
	
    <!--  Field Injection, Annotation Injection into SuperClass EJBs -->
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPkgYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPkgYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DMIPkgYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPkgYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPkgYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIPkgYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPriYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPriYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DMIPriYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPriYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPriYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIPriYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIProYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIProYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DMIProYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIProYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIProYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIProYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPubYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPubYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DMIPubYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPubYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPubYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIPubYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPkgYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPkgYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DMIPkgYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPriYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPriYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DMIPriYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIProYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIProYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DMIProYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/ano/DMIPubYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.anoovrd.DMIPubYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DMIPubYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>

    <!--  Field Injection, DD Injection into SuperClass EJBs & Override -->
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPkgYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPkgYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DMIPkgYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPkgYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPkgYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIPkgYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPriYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPriYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DMIPriYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPriYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPriYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIPriYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIProYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIProYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DMIProYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIProYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIProYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIProYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPubYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPubYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DMIPubYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPubYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPubYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DMIPubYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPkgYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPkgYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DMIPkgYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPriYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPriYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DMIPriYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIProYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIProYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DMIProYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dmi/inh/dd/DMIPubYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dmi.inh.ddovrd.DMIPubYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DMIPubYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    
</web-app>