<server>
  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>servlet-4.0</feature>
    <feature>sessionCache-1.0</feature>
  </featureManager>
    
  <include location="../fatTestPorts.xml"/>

  <application location="sessionCacheConfigApp.war">
    <classloader commonLibraryRef="HazelcastLib"/>
  </application>

  <httpSessionCache libraryRef="HazelcastLib" uri="file:${shared.resource.dir}/hazelcast/hazelcast-localhost-only.xml"/>

  <jndiEntry jndiName="hazelcast/configlocation" value="${shared.resource.dir}/hazelcast/hazelcast-localhost-only.xml"/>

  <library id="HazelcastLib">
    <file name="${shared.resource.dir}/hazelcast/hazelcast.jar"/>
  </library>
    
  <!-- Needed for missing doPriv in JCache 1.1 API (see https://github.com/jsr107/jsr107spec/issues/398) -->
  <javaPermission className="java.util.PropertyPermission" actions="read,write" name="*"/>
  <!-- Needed for hazelcast JVM shutdown hook -->
  <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.sun.net.www.protocol.wsjar"/>

  <javaPermission codebase="${shared.resource.dir}/hazelcast/hazelcast.jar" className="java.security.AllPermission"/>
</server>