<server>
  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>jcacheContainer-1.1</feature>
    <feature>jndi-1.0</feature>
    <feature>servlet-4.0</feature>
    <feature>sessionCache-1.0</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <application location="sessionCacheConfigApp.war">
    <classloader commonLibraryRef="HazelcastLib"/>
  </application>

  <httpSessionCache libraryRef="HazelcastLib"/>

  <httpSession hideSessionValues="false"/>

  <jndiEntry jndiName="hazelcast/configlocation" value="${shared.resource.dir}/hazelcast/${hazelcast.config.file}"/>

  <library id="HazelcastLib">
    <file name="${shared.resource.dir}/hazelcast/hazelcast.jar"/>
  </library>

  <!-- Needed because the application uses Hazelcast directly   -->
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.io.FilePermission" actions="read" name="${shared.resource.dir}/hazelcast/*"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.management"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.misc"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.nio.ch"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="enableContextClassLoaderOverride"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="getenv.HZ_PHONE_HOME_ENABLED"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="modifyThread"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="setContextClassLoader"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.RuntimePermission" name="shutdownHooks"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.lang.reflect.ReflectPermission" name="suppressAccessChecks"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.net.NetPermission" name="getNetworkInformation"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.net.SocketPermission" actions="accept,connect,listen,resolve" name="*"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="java.net.URLPermission" actions="GET:User-Agent" name="http://phonehome.hazelcast.com/ping"/>
  <javaPermission codebase="${server.config.dir}/apps/jcacheApp.war" className="javax.management.MBeanServerPermission" name="createMBeanServer"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.io.FilePermission" actions="read" name="${shared.resource.dir}/hazelcast/*"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.org.apache.xerces.impl.xpath.regex"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.management"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.misc"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="accessClassInPackage.sun.nio.ch"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="enableContextClassLoaderOverride"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="getClassLoader"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="getenv.HZ_PHONE_HOME_ENABLED"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="setContextClassLoader"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.RuntimePermission" name="shutdownHooks"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.lang.reflect.ReflectPermission" name="suppressAccessChecks"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.net.NetPermission" name="getNetworkInformation"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.net.SocketPermission" actions="accept,connect,listen,resolve" name="*"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="java.net.URLPermission" actions="GET:User-Agent" name="http://phonehome.hazelcast.com/ping"/>

  <!-- Needed for missing doPriv in JCache 1.1 API (see https://github.com/jsr107/jsr107spec/issues/398) -->
  <javaPermission className="java.util.PropertyPermission" actions="read,write" name="*"/>
  <!-- Needed for hazelcast JVM shutdown hook -->
  <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.sun.net.www.protocol.wsjar"/>

  <javaPermission codebase="${shared.resource.dir}/hazelcast/hazelcast.jar" className="java.security.AllPermission"/>

  <!-- Allow the application to access OSGi service registry in order to obtain the CacheManager instance that is used by sessionCache feature -->
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="org.osgi.framework.AdminPermission" name="*" actions="*"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="org.osgi.framework.ServicePermission" name="*" actions="get"/>

  <!--  Permissions for application to access mbeans -->
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="javax.management.MBeanPermission" actions="queryNames,registerMBean" name="*"/>
  <javaPermission codebase="${server.config.dir}/apps/sessionCacheConfigApp.war" className="javax.management.MBeanServerPermission" name="createMBeanServer"/>

</server>
