<server>

    <include location="../fatTestPorts.xml" />

	<featureManager>
		<feature>batch-1.0</feature>
		<feature>cdi-2.0</feature>
		<feature>servlet-4.0</feature>
	</featureManager>

    <batchPersistence jobStoreRef="BatchDatabaseStore" />

    <databaseStore id="BatchDatabaseStore" dataSourceRef="BatchDB" schema="JBATCH" tablePrefix="" />

	<library id="H2Lib">
	    <fileset dir="${shared.resource.dir}/h2Java8" includes="h2.jar"/>
	</library>


	<dataSource id="BatchDB" jndiName="jdbc/batch" type="javax.sql.XADataSource">
		<jdbcDriver libraryRef="H2Lib" />
	       <properties.h2 URL="jdbc:h2:mem:RUNTIMEDB;DB_CLOSE_DELAY=-1;INIT=CREATE SCHEMA IF NOT EXISTS JBATCH;NON_KEYWORDS=VALUE" user="user" password="pass" />
	</dataSource>

	<javaPermission className="java.util.PropertyPermission" name="*" actions="read"/>
	<javaPermission codebase="${shared.resource.dir}/h2Java8/h2.jar" className="java.security.AllPermission"/>

</server>
