<!--
    Copyright (c) 2021 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

	<featureManager>
		<feature>appSecurity-3.0</feature>
		<feature>jsp-2.3</feature>
		<feature>servlet-4.0</feature>
		<feature>timedexit-1.0</feature>
		<feature>noShip-1.0</feature> <!-- TODO Remove when GA -->
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint"
		httpPort="${bvt.prop.HTTP_secondary}"
		httpsPort="${bvt.prop.HTTP_secondary.secure}" />

	<!-- 
		Include common configuration. 
	 -->
	<include
		location="${shared.resource.dir}/configs/basicRegistry.xml" />
	<include
		location="${shared.resource.dir}/configs/customLoginModule.xml" />
	<include
		location="${shared.resource.dir}/configs/libraries.xml" />

	<!--
		Configure the authentication cache and the logged out cookie cache to use
		the JCache instances. 
	 -->
	<jCachingProvider id="CachingProvider"
		libraryRef="HazelcastClientLib,CustomLoginLib" />
	<jCacheManager id="CacheManager"
		jCachingProviderRef="CachingProvider">

		<properties
			hazelcast.config.location="file:${shared.resource.dir}/hazelcast/${hazelcast.config.file}" />

	</jCacheManager>

	<!--
		Configure the JCache instances.
	 -->
	<jCache id="AuthCache" name="AuthCache"
		jCacheManagerRef="CacheManager" />

    <!-- 
		Configure the authentication cache to use the JCache. 
     -->
	<authCache jCacheRef="AuthCache" />

	<!-- 
		Applications.
	 -->
	<application type="war" id="basicauth" name="basicauth"
		location="${server.config.dir}/apps/basicauth.war">
		<application-bnd>
			<security-role name="AllAuthenticated">
				<special-subject type="ALL_AUTHENTICATED_USERS" />
			</security-role>
		</application-bnd>
	</application>

</server>
