lib/bootstrap/bootstrap-*
lib/buildtasks/*.jar
lib/closure/*.jar
lib/closure/closureExterns/
lib/cssValidator/lib/*.jar
lib/cssValidator/*.jar
lib/d3/d3-3.5.10/
lib/d3/*.jar
lib/dojo/*.zip
lib/dojo-doh-junit-report/*.zip
lib/intern/*.zip
lib/jquery/jquery-3.5.1/
lib/jquery/*.jar
lib/carbon/*.jar
lib/carbon/carbon-components-10.44.0/
lib/jshint/*.jar
lib/nodejs/*.gz
lib/nodejs/*.exe
lib/orion/orion-6.19.0-20250520/
lib/orion/*.jar
lib/svg4everybody/svg4everybody-2.1.9/
lib/svg4everybody/*.jar
