lib/buildtasks/asm-all-5.0.3.jar
lib/buildtasks/infra.buildtasks-core_4.0.jar
lib/buildtasks/jackson-annotations-2.2.3.jar
lib/buildtasks/jackson-core-2.2.3.jar
lib/buildtasks/jackson-databind-2.2.3.jar
lib/buildtasks/jaxb-activation.jar
lib/buildtasks/jaxb-api-2.3.0.jar
lib/buildtasks/jaxb-core-2.3.0.1.jar
lib/buildtasks/jaxb-impl-2.3.0.1.jar
lib/buildtasks/jsch-0.1.54.jar
lib/buildtasks/org.apache.aries.util-1.2.0.jar
lib/buildtasks/osgi.core.jar
lib/closure/closure-compiler-v20160315.jar
lib/closure/compiler.jar
lib/cssValidator/lib/commons-beanutils-1.9.2.jar
lib/cssValidator/lib/commons-collections-3.2.1.jar
lib/cssValidator/lib/commons-digester-1.8.1.jar
lib/cssValidator/lib/commons-lang-2.6.jar
lib/cssValidator/lib/commons-logging-1.1.1.jar
lib/cssValidator/lib/htmlparser-1.4.1.jar
lib/cssValidator/lib/jigsaw-2.2.6.jar
lib/cssValidator/lib/servlet-api-2.5-6.0.0.jar
lib/cssValidator/lib/tagsoup-1.2.1.jar
lib/cssValidator/lib/velocity-1.7.jar
lib/cssValidator/lib/velocity-tools-generic-2.0.jar
lib/cssValidator/lib/xercesImpl-2.11.0.jar
lib/cssValidator/lib/xml-apis-1.4.01.jar
lib/cssValidator/css-validator.jar
lib/dojo/dojo-1.12.2.zip
lib/dojo/gridx-1.3.9.zip
lib/dojo/idx-1.5.2.6.zip
lib/dojo/rave-1.8.0.12.zip
lib/dojo-doh-junit-report/dojo-doh-junit-report-master.zip
lib/intern/intern-2.2.2.zip
lib/jshint/ant-jshint-0.3.6-deps.jar
lib/jslint4java-2.0.4/jslint4java-2.0.4.jar
lib/nodejs/node-v0.10.33-aix-ppc.tar.gz
lib/nodejs/node-v0.10.33-darwin-x64.tar.gz
lib/nodejs/node-v0.10.33-darwin-x86.tar.gz
lib/nodejs/node-v0.10.33-linux-ppc.tar.gz
lib/nodejs/node-v0.10.33-linux-ppcle64.tar.gz
lib/nodejs/node-v0.10.33-linux-s390.tar.gz
lib/nodejs/node-v0.10.33-linux-x64.tar.gz
lib/nodejs/node-v0.10.33-linux-x86.tar.gz
lib/nodejs/node-v0.10.33-sunos-x86.tar.gz
lib/nodejs/node-v0.10.33-win-x64.exe
lib/nodejs/node-v0.10.33-win-x86.exe