<server>
    <featureManager>
		<feature>componentTest-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>ejbLite-3.2</feature>
    </featureManager>
    
    <include location="../fatTestPorts.xml"/>

    <!-- Increased 3x due to filesystem access on our poor build/test infrastructure taking more than the default 2 minutes -->
  	<transaction totalTranLifetimeTimeout="6m"/>
</server>
