##
## Velocity template to read from local storage.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## loadContext - context with details about the storage keys to load
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
## This is the generated form containing a field set for each storage service,
## pairing with the doLoad() function that populates the fields.
##
<form name="form1" action="${flowExecutionUrl}" method="post">
    #foreach ($key in $loadContext.getStorageKeys())
        <input name="shib_idp_ls_exception.$key" type="hidden" />
        <input name="shib_idp_ls_success.$key" type="hidden" value="false" />
        <input name="shib_idp_ls_value.$key" type="hidden" />
    #end
    <input name="shib_idp_ls_supported" type="hidden" />
    <input name="_eventId_proceed" type="hidden" />
    <noscript>
        <input type="submit" value="Continue" />
    </noscript>
</form>

<script>
<!--
function doLoad() {
    var localStorageSupported = isLocalStorageSupported();
    document.form1["shib_idp_ls_supported"].value = localStorageSupported;
    if (localStorageSupported) {
    #foreach ($key in $loadContext.getStorageKeys())
        readLocalStorage("$key");
    #end
    }
    document.form1.submit();
}
// -->
</script>