##
## Velocity template to write to local storage.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## saveContext - context with details about the storage data to save
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
## This is the generated form containing a field set for each storage service,
## pairing with the doSave() function that reports on the status of the save
## to those fields.
##
<form name="form1" action="${flowExecutionUrl}" method="post">
    #foreach ($op in $saveContext.getStorageOperations())
        <input name="shib_idp_ls_exception.$op.getKey()" type="hidden" />
        <input name="shib_idp_ls_success.$op.getKey()" type="hidden" value="false" />
    #end
    <input name="_eventId_proceed" type="hidden" />
    <noscript>
        <input type="submit" value="Continue" />
    </noscript>
</form>

<script>
<!--
function doSave() {
    #foreach ($op in $saveContext.getStorageOperations())
        writeLocalStorage("$op.getKey()", "$op.getValue()");
    #end
    document.form1.submit();
}
// -->
</script>
