<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   11/20/2012  gkuo           new nopassclient
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>NoPass UsernameToken Client</display-name>

    <servlet id="Servlet_1">
        <servlet-name>nopassclient</servlet-name>
        <display-name>nopassclient</display-name>
        <description>CXF NoPass token Service Client</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.nopassclient.CxfNoPassSvcClient</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!-- commented out 10/2020
    <servlet-mapping id="ServletMapping_1">
        <servlet-name>nopassclient</servlet-name>
        <url-pattern>/CxfNoPassSvcClient</url-pattern>
    </servlet-mapping>
 -->   
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

