<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">

  <display-name>JMSConsumer 118076</display-name>

  <servlet id="Default">
    <servlet-name>JMSContext FAT Servlet</servlet-name>
    <display-name>JMSContext FAT Servlet</display-name>
    <servlet-class>jmsconsumer_118076.web.JMSConsumer_118076Servlet</servlet-class>
  </servlet>

  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>JMSContext FAT Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <res-ref-name>jndi_JMS_BASE_CF</res-ref-name>
    <res-type>javax.jms.ConnectionFactory</res-type>
    <lookup-name>jndi_JMS_BASE_CF</lookup-name>
  </resource-ref>  

  <resource-ref>
    <res-ref-name>jndi_JMS_BASE_QCF</res-ref-name>
    <res-type>javax.jms.QueueConnectionFactory</res-type>
    <lookup-name>jndi_JMS_BASE_QCF</lookup-name>
  </resource-ref>  

  <resource-ref>
    <res-ref-name>jndi_JMS_BASE_QCF1</res-ref-name>
    <res-type>javax.jms.QueueConnectionFactory</res-type>
    <lookup-name>jndi_JMS_BASE_QCF1</lookup-name>
  </resource-ref>  

  <resource-ref>
    <res-ref-name>eis/tcf</res-ref-name>
    <res-type>javax.jms.TopicConnectionFactory</res-type>
    <lookup-name>eis/tcf</lookup-name>
  </resource-ref>
  
  <resource-env-ref>
    <resource-env-ref-name>jndi_INPUT_Q1</resource-env-ref-name>
    <resource-env-ref-type>javax.jms.Queue</resource-env-ref-type>
  </resource-env-ref>  

  <resource-env-ref>
    <resource-env-ref-name>eis/topic2</resource-env-ref-name>
    <resource-env-ref-type>javax.jms.Topic</resource-env-ref-type>
  </resource-env-ref>

</web-app>
