<server description="Server for testing Config Admin with a server.xml configuration">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>mpHealth-3.1</feature>
        <feature>mpConfig-2.0</feature>
        <feature>jsonp-1.1</feature>
    </featureManager>
	
	
	<application location="StartedThenFailsApp.war"/>
	
	<logging traceSpecification="*=info:HEALTH=all:com.ibm.websphere.org.eclipse.microprofile.health.*=all=enabled"/>
	
	<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${bvt.prop.HTTP_default}" httpsPort="${bvt.prop.HTTP_default.secure}">
		<tcpOptions portOpenRetries="60" />                   
	</httpEndpoint>
	
</server>
