<server>

    <!-- Enable features -->
	<featureManager>
        <feature>appSecurity-2.0</feature>
        <feature>jsp-2.2</feature>
		<feature>ltpafattestlibertyinternals-1.0</feature>
		<feature>servlet-3.1</feature>
    </featureManager>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="user1" password="user1pwd" />
        <group name="group1">
            <member name="user1"/>
        </group>
    </basicRegistry>

	<application type="war" id="ltpaTest" name="ltpaTest" location="${server.config.dir}/apps/ltpaTest.war"/>	

	<include optional="true" location="../fatTestPorts.xml"/>

    <authentication id="Basic" cacheEnabled="false" />
	
    <javaPermission className="javax.security.auth.AuthPermission" name="createLoginContext.system.WEB_INBOUND"/>
    <javaPermission className="javax.security.auth.AuthPermission" name="wssecurity.getCallerSubject"/>
    <javaPermission className="javax.security.auth.AuthPermission" name="wssecurity.getRunAsSubject"/>
    <javaPermission className="javax.security.auth.PrivateCredentialPermission" signedBy="com.ibm.ws.security.token.internal.SingleSignonTokenImpl" principalType="com.ibm.ws.security.authentication.principals.WSPrincipal" principalName="*" actions="read"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime --> 
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

</server>
