<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   02/14/2012  mzheng         Test WSS template policies
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>WSSTemplatesTestApp</display-name>

    <servlet>
        <servlet-name>wsstemplate1</servlet-name>
        <display-name>wsstemplate1</display-name>
        <description>WSS templates test Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplates.WSSTemplateWebSvc1</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>wsstemplate1</servlet-name>
       <url-pattern>/WSSTemplatesService1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>wsstemplate2</servlet-name>
        <display-name>wsstemplate2</display-name>
        <description>WSS templates test Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplates.WSSTemplateWebSvc2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>wsstemplate2</servlet-name>
       <url-pattern>/WSSTemplatesService2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wsstemplate3</servlet-name>
        <display-name>wsstemplate3</display-name>
        <description>WSS templates test Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplates.WSSTemplateWebSvc3</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>wsstemplate3</servlet-name>
       <url-pattern>/WSSTemplatesService3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wsstemplate4</servlet-name>
        <display-name>wsstemplate4</display-name>
        <description>WSS templates test Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplates.WSSTemplateWebSvc4</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>wsstemplate4</servlet-name>
       <url-pattern>/WSSTemplatesService4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wsstemplate5</servlet-name>
        <display-name>wsstemplate5</display-name>
        <description>WSS templates test Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplates.WSSTemplateWebSvc5</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>wsstemplate5</servlet-name>
       <url-pattern>/WSSTemplatesService5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wsstemplate6</servlet-name>
        <display-name>wsstemplate6</display-name>
        <description>WSS templates test Service</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.wsstemplates.WSSTemplateWebSvc6</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
       <servlet-name>wsstemplate6</servlet-name>
       <url-pattern>/WSSTemplatesService6</url-pattern>
    </servlet-mapping>
    
    <session-config>
       <session-timeout>60</session-timeout>
    </session-config>

</web-app>

