<!--
    Copyright (c) 2022 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
 <server description="Sample Servlet server">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>cdi-2.0</feature>
        <feature>mpConfig-2.0</feature>
        <feature>distributedMap-1.0</feature>
        <feature>checkpoint-1.0</feature>
    </featureManager>
    <variable id="useInactivityParm" name="useInactivityParm" value="true" />
    <include location="../fatTestPorts.xml"/>
    <applicationManager autoExpand="true"/>
    <webApplication id="mapCache" location="mapCache.war" name="mapCache" contextRoot="mapCache"/>
</server>
 