@import url('https://fonts.googleapis.com/css?family=Asap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif;
}

#header-container {
  height: 14%;
  border-bottom: 10px solid black;
  min-height: 100px;
}

#header {
  background: #1D1F3C;
  height: 100%;
}

#content {
  float: left;
  height: 100%;
  overflow: auto;
  width: 85%;
}

#sidebar {
  float: left;
  background: #d5d5d5;
  width: 10%;
  height: 100%;
  min-height: 300px;
  border-right: 10px solid black;
}

.button {
  height: 5%;
  min-height: 40px;
  width: 90%;
  background-color: #f7f7f7;
  border: solid #1D1F3C;
  border: 2%;
  font-size: 1.1vw;
  margin-left: 5%;
  margin-top: 8%;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

.button:hover {
  background-color: #1D1F3C;
  color: white;
  cursor: pointer;
  border: none;
}

.button:focus {
  background-color: #1D1F3C;
  color: white;
  outline: 0;
  border: none;
}

.button:active {
  background-color: #575ba7;
  color: white;
  border: none;
}

.view {
  padding-left: 5%;
  padding-top: 2%;
}

.frame {
  padding-left: 2%;
  padding-top: 2%;
}

#list {
  font-size: 20px;
  text-decoration: underline;
}

.forms {
  font-family: 'Asap', sans-serif;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.forms input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  text-align: center;
  font-size: 1vw;
}

.forms input[type=submit], input[type=reset] {
  width: 100%;
  background-color: #1D1F3C;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1vw;
  font-family: 'Asap', sans-serif;
}

.forms input[type=submit]:hover {
  background-color: #45498c;
}

.forms input[type=reset]:hover {
  background-color: #45498c;
}

.forms input[type=submit]:focus {
  outline: 0;
}

.forms input[type=reset]:focus {
  outline: 0;
}

.forms_title {
  border-bottom: 2px solid black;
  font-size: 1vw;
}

.forms select {
  width: 17%;
  border-radius: 4px;
}

label {
  font-size: 0.8vw;
}

.time {
  font-size: 0.8vw;
}

#logo {
  width: 10%;
  float: left;
}

#title {
  width: 80%;
  height: 90%;
  float: left;
}

#title h1 {
  font-family: 'Asap', sans-serif;
  text-align: center;
  text-decoration: underline;
  color: white;
  line-height: 0;
  padding-top: 1.5%;
}

#title h4 {
  text-decoration: none;
  text-align: center;
  color: white;
}

#image {
  width: 60%;
  height: 60%;
  padding-top: 15%;
  padding-left: 15%;
}

.list {
  font-size: 1vw;
}

h1.list {
  font-size: 1.1vw;
}

.table {
  margin: auto;
  table-layout: fixed;
  border: 1px inherit grey;
  font-size: 1vw;
}

.table tr, td {
  border: none;
}

.table td:nth-child(1) {
  text-align: right;
  font-family: 'Asap', sans-serif;
}

.table td:nth-child(2) {
  text-align: left;
  font-family: 'Asap', sans-serif;
}

#listOfevents {
  font-family: 'Asap', sans-serif;
  width: 70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.eventsLink {
  color: #0080ff;
  cursor: pointer;
  min-width: 100%;
  font-family: 'Asap', sans-serif;
}

.eventsLink:focus {
  outline: 0;
}

.eventsLink:hover {
  color: black;
  cursor: pointer;
}

.event-table {
  font-family: 'Asap', sans-serif;
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}

.event-table-header {
  padding: 15px;
  font-size: 1vw;
}

.column1, .column2, .column3, .column4, .column5, .column6 {
  padding: 15px;
  text-align: center;
  color: black;
  border-bottom: 1px dashed black;
  font-size: 0.9vw;
}

.column5, .column6 {
  text-align: center;
}

.formSpacing {
  margin-top: 1%;
  margin-bottom: 1%;
}

.select_events {
  border-radius: 5px;
  text-align-last: center;
  text-align: center;
  font-size: 0.9vw;
  height: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.columnEvents {
  font-size: 0.9vw;
}