<?xml version="1.0" encoding="UTF-8"?>
<!-- 
// /I/ /W/ /G/ /U/    CMVC Keywords, replace / with %
// 1.1 REGR/ws/code/jpa.test/jpafat10-Callback/src/main/resources/web/web.xml, WAS.jpa.fvt, WASX.REGR, ww1239.01 12/14/11 16:33:26
//
// IBM Confidential OCO Source Material
// 5724-I63, 5724-H88 (C) COPYRIGHT International Business Machines Corp. 2011
//
// The source code for this program is not published or otherwise divested
//  of its trade secrets, irrespective of what has been deposited with the
//  U.S. Copyright Office.
//
// Module  :  web.xml
//
// Source File Description:
//
// FVT Test Suite Bucket Source File.
//
// Change Activity:
//
// Reason          Version   Date       Userid     Change Description
// +++++++++++++++ +++++++++ ++++++++++ +++++++++  +++++++++++++++++++++++++++++++++++++++++
// 724744          WASX      2011-12-14 jgrassel : Initial Release
// 742689          WASX      2012-12-21 nmittles : Update to support EJB Environment
// +++++++++++++++ +++++++++ ++++++++++ +++++++++  +++++++++++++++++++++++++++++++++++++++++
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>CallbackTestServlet</servlet-name>
        <servlet-class>com.ibm.ws.testtooling.vehicle.web.TestServlet</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>CallbackEJBTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.testtooling.vehicle.web.EJBTestVehicleServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CallbackTestServlet</servlet-name>
        <url-pattern>/CallbackTestServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
	    <servlet-name>CallbackEJBTestServlet</servlet-name>
	    <url-pattern>/CallbackEJBTestServlet</url-pattern>
	</servlet-mapping>
    
    <!-- Persistence Context Definitions -->
    <persistence-context-ref>
        <description>Transaction-Scoped Persistence Context</description>
        <persistence-context-ref-name>jpa/Callback_CMTS</persistence-context-ref-name>
        <persistence-unit-name>Callback_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
    </persistence-context-ref>    
    <persistence-context-ref>
        <description>Transaction-Scoped Persistence Context</description>
        <persistence-context-ref-name>jpa/Callback-DefaultListener_CMTS</persistence-context-ref-name>
        <persistence-unit-name>Callback-DefaultListener_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
    </persistence-context-ref>
    <persistence-context-ref>
        <description>Transaction-Scoped Persistence Context</description>
        <persistence-context-ref-name>jpa/Callback-OrderOfInvocation_CMTS</persistence-context-ref-name>
        <persistence-unit-name>Callback-OrderOfInvocation_JTA</persistence-unit-name>
        <persistence-context-type>Transaction</persistence-context-type>
    </persistence-context-ref>

    <persistence-unit-ref>
        <description>Application-Managed JTA-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/Callback_AMJTA</persistence-unit-ref-name>
        <persistence-unit-name>Callback_JTA</persistence-unit-name>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <description>Application-Managed JTA-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/Callback-DefaultListener_AMJTA</persistence-unit-ref-name>
        <persistence-unit-name>Callback-DefaultListener_JTA</persistence-unit-name>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <description>Application-Managed JTA-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/Callback-OrderOfInvocation_AMJTA</persistence-unit-ref-name>
        <persistence-unit-name>Callback-OrderOfInvocation_JTA</persistence-unit-name>
    </persistence-unit-ref>

    <persistence-unit-ref>
        <description>Application-Managed RL-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/Callback_AMRL</persistence-unit-ref-name>
        <persistence-unit-name>Callback_RL</persistence-unit-name>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <description>Application-Managed RL-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/Callback-DefaultListener_AMRL</persistence-unit-ref-name>
        <persistence-unit-name>Callback-DefaultListener_RL</persistence-unit-name>
    </persistence-unit-ref>
    <persistence-unit-ref>
        <description>Application-Managed RL-Tran Persistence Context</description>
        <persistence-unit-ref-name>jpa/Callback-OrderOfInvocation_AMRL</persistence-unit-ref-name>
        <persistence-unit-name>Callback-OrderOfInvocation_RL</persistence-unit-name>
    </persistence-unit-ref>
    
    <persistence-unit-ref>
        <description>Cleanup Persistence Context</description>
        <persistence-unit-ref-name>jpa/cleanup</persistence-unit-ref-name>
        <persistence-unit-name>Cleanup</persistence-unit-name>
    </persistence-unit-ref>

    <!-- Resource Ref Definitions -->
    <resource-ref>
        <res-ref-name>jdbc/JPA_DS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/JPA_NJTADS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    	
    <!-- EJB References -->
    <ejb-local-ref>
        <ejb-ref-name>ejb/CallbackSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.callback.ejblocal.CallbackSFEJBLocal</local>
        <ejb-link>CallbackTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/CallbackSFExEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.callback.ejblocal.CallbackSFEXEJBLocal</local>
        <ejb-link>CallbackTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/CallbackSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.callback.ejblocal.CallbackSLEJBLocal</local>
        <ejb-link>CallbackTestSLEJB</ejb-link>
    </ejb-local-ref>
</web-app>