<server description="Server for the SCI Exception test.">

  <include location="../fatTestPorts.xml"/>

  <featureManager>
    <feature>servlet-4.0</feature>
  </featureManager>

  <logging
    traceSpecification="*=info=enabled:com.ibm.ws.webcontainer*=all:com.ibm.wsspi.webcontainer*=all"
    maxFileSize="20"
    maxFiles="10"
    traceFormat="BASIC"/>

</server>