<server>
    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
      <feature>servlet-3.1</feature>
      <feature>componentTest-1.0</feature>
      <feature>txtest-1.0</feature>
      <feature>timedexit-1.0</feature>
      <feature>osgiconsole-1.0</feature>
      <feature>cdi-1.2</feature>
      <feature>ejb-3.2</feature>
    </featureManager>
</server>