<!--
    Copyright (c) 2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server description="Server for Store Grpc service">
	<featureManager>
		<feature>grpc-1.0</feature>
		<feature>grpcClient-1.0</feature>
		<feature>mpOpenAPI-1.1</feature>
		<feature>mpRestClient-1.3</feature>
		<feature>mpConfig-1.3</feature>
		<feature>distributedMap-1.0</feature>
		<feature>appSecurity-2.0</feature>
		<feature>ssl-1.0</feature>
		<feature>jwt-1.0</feature>
	</featureManager>
	
	<include location="../fatTestPorts.xml" />

	<distributedMap id="gRPCDistMap" />
	
	<keyStore id="defaultKeyStore" password="passw0rd" />

	<javaPermission className="java.security.AllPermission"
		name="*" actions="*" />

	<!-- Default SSL configuration enables trust for default certificates from 
		the Java runtime -->
	<ssl id="defaultSSLConfig" trustDefaultCerts="true" />
	
	<logging
		traceSpecification="*=info=enabled:io.openliberty.grpc*=all:com.ibm.testapp.g3store*=all:io.grpc*=all"
		maxFileSize="40" maxFiles="20" traceFormat="BASIC" />
		
		
	<basicRegistry id="basic" realm="storeRealmBasicReg">
		<user name="dev" password="hello" /> <!--user name="${env.BASIC_REGISTRY_USERNAME}" -->
		<user name="test" password="bug" />
		<group name="students"> <!-- group name="${env.ROLE_NAME_ADMINISTRATOR}" -->
			<member name="dev" />
			<member name="test" />
		</group>
	</basicRegistry>

	<application id="StoreApp"
		location="StoreApp.war" name="StoreApp" type="war">
		<application-bnd>
			<security-role name="Administrator">
				<!--group name="${env.ROLE_NAME_ADMINISTRATOR}" access-id="group:${env.OIDC_REALM}/${env.ROLE_NAME_ADMINISTRATOR}"/ -->
				<group name="Administrator"
					access-id="group:storeRealmBasicReg/Administrator" />
			</security-role>
			<security-role name="students">
				<!--group name="${env.ROLE_NAME_EDITOR}" access-id="group:${env.OIDC_REALM}/${env.ROLE_NAME_EDITOR}"/ -->
				<group name="students"
					access-id="group:storeRealmBasicReg/students" />
			</security-role>
		</application-bnd>
	</application>

</server>
