<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2019, 2021 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>DFIPkgYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPkgYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIPriYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPriYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIProYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIProYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIPubYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPubYesInhAnoOvrdEJBSLTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DFIPkgYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPkgYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIPriYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPriYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIProYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIProYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIPubYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPubYesInhAnoOvrdEJBSFTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DFIPkgYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPkgYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIPriYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPriYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIProYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIProYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DFIPubYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<servlet-class>com.ibm.ws.jpa.fvt.injection.tests.ejb.dfi.inh.anoovrd.DFIPubYesInhAnoOvrdEJBSFEXTestServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>DFIPkgYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DFIPkgYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIPriYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DFIPriYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIProYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DFIProYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIPubYesInhAnoOvrdEJBSLTestServlet</servlet-name>
		<url-pattern>/DFIPubYesInhAnoOvrdEJBSLTestServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DFIPkgYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DFIPkgYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIPriYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DFIPriYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIProYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DFIProYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIPubYesInhAnoOvrdEJBSFTestServlet</servlet-name>
		<url-pattern>/DFIPubYesInhAnoOvrdEJBSFTestServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DFIPkgYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DFIPkgYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIPriYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DFIPriYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIProYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DFIProYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DFIPubYesInhAnoOvrdEJBSFEXTestServlet</servlet-name>
		<url-pattern>/DFIPubYesInhAnoOvrdEJBSFEXTestServlet</url-pattern>
	</servlet-mapping>
			
	<!-- EJB References -->
	
    <!--  Field Injection, Annotation Injection into SuperClass EJBs -->
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPkgYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPkgYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DFIPkgYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPkgYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPkgYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIPkgYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPriYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPriYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DFIPriYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPriYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPriYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIPriYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIProYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIProYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DFIProYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIProYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIProYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIProYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPubYesInhAnoOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPubYesInhAnoOvrdTestSFEJBLocal</local>
        <ejb-link>DFIPubYesInhAnoOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPubYesInhAnoOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPubYesInhAnoOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIPubYesInhAnoOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPkgYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPkgYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DFIPkgYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPriYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPriYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DFIPriYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIProYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIProYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DFIProYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/ano/DFIPubYesInhAnoOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.anoovrd.DFIPubYesInhAnoOvrdTestSLEJBLocal</local>
        <ejb-link>DFIPubYesInhAnoOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>

    <!--  Field Injection, DD Injection into SuperClass EJBs & Override -->
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPkgYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPkgYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DFIPkgYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPkgYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPkgYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIPkgYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPriYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPriYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DFIPriYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPriYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPriYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIPriYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIProYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIProYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DFIProYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIProYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIProYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIProYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPubYesInhDDOvrdTestSFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPubYesInhDDOvrdTestSFEJBLocal</local>
        <ejb-link>DFIPubYesInhDDOvrdTestSFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPubYesInhDDOvrdTestSFEXEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPubYesInhDDOvrdTestSFEXEJBLocal</local>
        <ejb-link>DFIPubYesInhDDOvrdTestSFEXEJB</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPkgYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPkgYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DFIPkgYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPriYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPriYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DFIPriYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIProYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIProYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DFIProYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/dfi/inh/dd/DFIPubYesInhDDOvrdTestSLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.fvt.injection.ejb.dfi.inh.ddovrd.DFIPubYesInhDDOvrdTestSLEJBLocal</local>
        <ejb-link>DFIPubYesInhDDOvrdTestSLEJB</ejb-link>
    </ejb-local-ref>
    
</web-app>