<div class="bgdetailsDialog" role="dialog" aria-labelledby="BGDetailsDialog_title">
    <div class="bgdetailsContentScrollY">
      <div class="bgtbold">${resultLabel}</div>
      <div>${result}</div>
      <div class="bgtbold">${stdOutLabel}</div>
      <div>${stdOut}</div>
      <div class="bgtbold">${stdErrLabel}</div>
      <div>${stdErr}</div>
      <div class="bgtbold">${exceptionLabel}</div>
      <div>${exception}</div>
      <div class="bgtbold">${deployedArtifactNameLabel}</div>
      <div>${deployedArtifactName}</div>
      <div class="bgtbold">${deployedUserDirLabel}</div>
      <div>${deployedUserDir}</div>
    </div>
</div>