<div>
  
  <div class="dijitDialogPaneContentArea">
    <div class="messageDialogContent" style="display: block;">
      <span class="messageDialogIcon" style="display: table-cell; vertical-align:middle;">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" preserveAspectRatio="xMidYMid meet">
            ${messageDialogIconTitle}
            <use xlink:href="${messageDialogIcon}"></use>
        </svg>
      </span>
      <span class="messageDialogText" style="display: table-cell;">${messageText}</span>
      <span class="messageDialogAdditionalText">${additionalText}</span>
    </div>             
  </div>

  <div class="dijitDialogPaneActionBar">
		<button class="messageOKButton" data-dojo-attach-point="okButton">${okButtonLabel}</button>
  </div>

</div>