
	<div class="tool-details-container">
		<div class="summary-wrap">
			<div class="summary-tool-icon">
				<span><img data-dojo-attach-point="iconField"  /></span>
			</div>
			<div class="summary-content">
               <h3><span data-dojo-attach-point="nameField"  class="version"></span></h3>
				<p data-dojo-attach-point="categoryField" class="summary-catalog">
				</p>
				<p class="summary-provider">
					IBM
				</p>
				<p  data-dojo-attach-point="supportedFieldIcon" class="summary-supported-device"><span class="device-icon phone-device-icon">Smartphone</span><span class="device-icon desktop-device-icon">Desktop</span></p>
				<p  data-dojo-attach-point="supportedFieldText" class="summary-unsupported-content">
				</p>
			</div>
			<div class="button-area">
   				<a href="#" data-dojo-attach-point="buttonText" data-dojo-attach-event="onClick:detailsToolButton"  class="spe-button tablet-button"><span  class="addtool-icon"></span>
                </a>
			</div>
		</div>
		<div class="details-wrap">
			<div class="tabs-menu">
				<a href="#" class="selected">${overview}</a>
				<a href="#">${otherversion}</a>
			</div>
			<div class="details-content">
				<p data-dojo-attach-point="versionField">
				</p>
				<p data-dojo-attach-point="updatedField">
				</p>
				<h3>${descriptiontitle}</h3>
				<p data-dojo-attach-point="descriptionField" >
				</p>
				
				
			</div>
	<!--  		<div class="details-screens-wrap">
				<ul class="details-screens" id="toolScreenShotsWrap">
					<li class="screenshots"></li>
					<li class="screenshots"></li>
					<li class="screenshots"></li>
				</ul>
			</div> -->
		</div>
    </div>