<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ServiceScopeWebApp" version="3.0" 
     xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
     <servlet-name>ServiceScopeSpecifiedInWebXml</servlet-name>
     <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
     <init-param>
         <param-name>javax.ws.rs.Application</param-name>
         <param-value>test.service.scope.App2</param-value>
     </init-param>
     <init-param>
         <param-name>requestProcessorAttribute</param-name>
         <param-value>app2</param-value>
     </init-param>
     <init-param>
         <param-name>org.apache.cxf.service.scope</param-name>
         <param-value>request</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
     <servlet-name>test.service.scope.App3</servlet-name>
     <init-param>
         <param-name>org.apache.cxf.service.scope</param-name>
         <param-value>request</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>