<!--
    Copyright (c) 2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

    <featureManager>
    </featureManager>
  
    <include location="../fatTestPorts.xml"/>
    
    <!-- javaee-7.0 enables remote EJBs, which require an ORB,
         which requires a user registry.  The QSS element
         creates a simple one element user registry. -->
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
   	
</server>
