<?xml version="1.0" encoding="UTF-8"?>
<web-app id="HelloworldServlet" version="3.0" 
     xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>ExtraProvidersTest Web Application</display-name>
    <servlet>
        <servlet-name>OptionalProviders</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.ws.jaxrs.fat.extraproviders.Application</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OptionalProviders</servlet-name>
        <url-pattern>/optionalproviders/*</url-pattern>
    </servlet-mapping>
</web-app>
