<server>
	<featureManager>
		<feature>ssl-1.0</feature>
		<feature>usr:wsseccbh-1.0</feature>
		<feature>servlet-3.1</feature>
		<feature>appSecurity-2.0</feature>
		<feature>jsp-2.2</feature>
		<feature>jaxws-2.2</feature>
		<feature>wsSecurity-1.1</feature>
	</featureManager>

	<sslDefault sslRef="DefaultSSLSettings" />
	<ssl
		id="DefaultSSLSettings"
		keyStoreRef="myKeyStore"
		trustStoreRef="myTrustStore"
		clientAuthenticationSupported="true" />
	<keyStore
		id="myKeyStore"
		password="Liberty"
		type="jks"
		location="${server.config.dir}/key.jks" />
	<keyStore
		id="myTrustStore"
		password="LibertyServer"
		type="jks"
		location="${server.config.dir}/sslServerTrust.jks" />


	<include location="../fatTestPorts.xml" />

	<!-- user1pw, its password is different from CallbackHandler -->
	<basicRegistry
		id="basic"
		realm="customRealm"
	>
		<user
			name="user1"
			password="security" />
		<user
			name="user2"
			password="security" />
		<user
			name="test1"
			password="test1" />
		<user
			name="test2"
			password="test2" />
		<user
			name="test3"
			password="test3" />
		<user
			name="test4"
			password="test4" />
		<user
			name="admin"
			password="admin" />
		<user
			name="bob"
			password="bob" />
		<user
			name="joe"
			password="joe" />

		<user
			name="user1pw"
			password="pw8server" />
	</basicRegistry>

	<!-- basicplcy.wssecfvt.test.CommonPasswordCallback -->


	<wsSecurityProvider
		id="default"
		ws-security.callback-handler="com.ibm.ws.wssecurity.example.cbh.CommonPasswordCallback"
	>
		<signatureProperties
			org.apache.ws.security.crypto.merlin.keystore.type="jks"
			org.apache.ws.security.crypto.merlin.keystore.password="LibertyX509Server"
			org.apache.ws.security.crypto.merlin.keystore.alias="x509ServerDefault"
			org.apache.ws.security.crypto.merlin.file="${server.config.dir}/x509ServerDefault.jks" />
		<encryptionProperties
			org.apache.ws.security.crypto.merlin.keystore.type="jks"
			org.apache.ws.security.crypto.merlin.keystore.password="LibertyX509Server"
			org.apache.ws.security.crypto.merlin.keystore.alias="x509ClientDefaultCert"
			org.apache.ws.security.crypto.merlin.file="${server.config.dir}/x509ServerDefault.jks" />
	</wsSecurityProvider>

	<application
		name="x509client"
		location="${server.config.dir}/x509client.war"
	>
		<classloader apiTypeVisibility="spec, ibm-api, third-party" />
	</application>

    <!-- added 12/2020 -->
	<javaPermission className="java.io.FilePermission" name="ALL FILES" actions="read"/>
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.com.sun.xml.internal.messaging.saaj.soap"/>
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.com.sun.xml.internal.messaging.saaj.soap.ver1_1"/>
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.com.sun.xml.internal.messaging.saaj.util"/>
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.com.sun.xml.internal.messaging.saaj.soap.name"/>
    <javaPermission className="java.lang.RuntimePermission" name="accessClassInPackage.com.sun.xml.internal.messaging.saaj.soap.impl"/>
    <javaPermission className="java.net.URLPermission" name="http://localhost:8010/x509token/FVTVersionBAXService" actions="POST:AcceptSOAPActionUser-Agent"/>
    <javaPermission className="java.util.PropertyPermission" name="javax.xml.soap.MessageFactory" actions="read"/>
    <javaPermission className="java.util.PropertyPermission" name="java.home" actions="read"/>
    <javaPermission className="java.util.PropertyPermission" name="javax.xml.soap.MetaFactory" actions="read"/>
    
</server>

