<server>
	<featureManager>
		<feature>componenttest-1.0</feature>
		<feature>jaxrs-2.0</feature>
	</featureManager>

	<include location="../fatTestPorts.xml"/>

	<javaPermission className="java.net.SocketPermission" name="*" actions="connect"/>
	<javaPermission className="java.net.URLPermission" name="http://localhost:23/blah" actions="GET"/>
	<javaPermission className="java.util.PropertyPermission"  name="*" actions="read" />
</server>
