<server>

    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>jndi-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>componenttest-1.0</feature>
    </featureManager>
    
    <!-- 
    NOTE: for this bucket to run cleanly with j2sec enabled, the following permission must be manually
    granted in the java.policy file at $JAVA_HOME/jre/lib/security/java.policy: 
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.bind.v2.runtime.reflect";
    -->
    <javaPermission className="java.util.PropertyPermission"  name="*" actions="read" />
 
</server>