<server>
    <featureManager>    	
    	<feature>restConnector-2.0</feature>   	
        <feature>jsp-2.2</feature>
        <feature>jaxws-2.2</feature>
    </featureManager>
  
    <quickStartSecurity userName="admin" userPassword="password" />
  
      <!-- use the default SSL configuration -->
    <!-- moved the location under ${server.config.dir} instead of current directory -->
	<keyStore id="defaultKeyStore" password="passw0rd" location="${server.config.dir}/resources/security/serverKey.p12"/>
	
    <include location="../fatTestPorts.xml"/>
      	<javaPermission className="java.security.AllPermission"/>
    
</server>
