<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--   
   Change History:
   Date        UserId         Description
   1/30/2013   chrisc         CXF Web service - CRL service client
-->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CxfX509CrlSvcClient</display-name>

    <servlet>
        <servlet-name>x509crlclient</servlet-name>
        <display-name>x509crlclient</display-name>
        <description>CXF CRL Service Client</description>
        <servlet-class>com.ibm.ws.wssecurity.fat.x509crlclient.CxfX509CrlSvcClient</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!-- comment out 11/2020
    <servlet-mapping>
        <servlet-name>x509crlclient</servlet-name>
        <url-pattern>/CxfX509CrlSvcClient</url-pattern>
    </servlet-mapping>
-->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

