<!--
    Copyright (c) 2022 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

	<featureManager>
		<feature>appSecurity-2.0</feature>
		<feature>jsp-2.3</feature>
		<feature>servlet-3.1</feature>
		<feature>spnego-1.0</feature>
	</featureManager>

	<!--
		Include common configuration. 
	 -->
	<include
		location="${shared.resource.dir}/configs/testingConfig.xml" />
	<include
		location="${shared.resource.dir}/configs/httpEndpoint1.xml" />
	<include
		location="${shared.resource.dir}/configs/basicRegistry.xml" />
	<include
		location="${shared.resource.dir}/configs/customLoginModule.xml" />
	<include
		location="${shared.resource.dir}/configs/libraries.xml" />
	<include
		location="${shared.resource.dir}/configs/ssl.xml" />
	<include
		location="${shared.resource.dir}/configs/appBasicAuth2.xml" />

	<!--
		Configure the JCache instances.
	 -->
	<cache id="AuthCache" name="AuthCache">
		<cacheManager>
			<properties
				hazelcast.config.location="file:${shared.resource.dir}/hazelcast/${hazelcast.config.file}" />

			<cachingProvider
				jCacheLibraryRef="HazelcastLib" commonLibraryRef="CustomLoginLib" />
		</cacheManager>
	</cache>

	<!-- 
		Configure the authentication cache to use the JCache. 
	 -->
	<authCache cacheRef="AuthCache" />
	
	<!-- 
	    Configure SPNEGO.
	 -->
	<spnego id="mySpnego" includeClientGSSCredentialInSubject="true"
		krb5Config="${server.config.dir}/resources/security/kerberos/krb5.conf"
		krb5Keytab="${server.config.dir}/resources/security/kerberos/krb5.keytab"
		servicePrincipalNames="HTTP/myLibertyMachine.example.com" />

</server>
