<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        IBM Corporation - initial API and implementation
 -->
<web-app id="WebApp_ID" version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
	<display-name>ConverterValidatorBehaviorInjectTarget</display-name>
	
	<servlet>
	  	<servlet-name>Faces Servlet</servlet-name>
	  	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	  	<servlet-name>Faces Servlet</servlet-name>
	  	<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<welcome-file-list>  
		<welcome-file>index.xhtml</welcome-file>  
	</welcome-file-list>
	
	<context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/taglib.xml</param-value>
    </context-param>

</web-app>
