<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2021 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- EJB References -->
    <ejb-local-ref>
        <ejb-ref-name>ejb/OLGH16772SFEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.olgh16772.ejblocal.OLGH16772SFEJBLocal</local>
        <ejb-link>OLGH16772SFEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/OLGH16772SFExEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.olgh16772.ejblocal.OLGH16772SFExEJBLocal</local>
        <ejb-link>OLGH16772SFExEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/OLGH16772SLEJB</ejb-ref-name>
        <local>com.ibm.ws.jpa.olgh16772.ejblocal.OLGH16772SLEJBLocal</local>
        <ejb-link>OLGH16772SLEJB</ejb-link>
    </ejb-local-ref>
</web-app>