<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<welcome-file-list>
		<welcome-file>/helloWorld</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>gRPC helloworld servlet example with security constraints</display-name>
		<web-resource-collection>
			<web-resource-name>grpc app</web-resource-name>
			<url-pattern>/helloworld.Greeter/SayHello</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<!-- force the use of SSL -->
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>	
</web-app>