<server description="Server for testing JSF on CDI">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>osgiconsole-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>jsf-2.2</feature>
        <feature>jsp-2.3</feature>
        <feature>servlet-3.1</feature>
    </featureManager>

    <logging traceSpecification="*=info:com.ibm.ws.webcontainer*=all:com.ibm.wsspi.webcontainer*=all:HTTPChannel=all:GenericBNF=all:com.ibm.ws.jsf*=all:com.sun.faces*=all:com.ibm.ws.webcontainer*=all:com.ibm.ws.jsp=all:com.ibm.ws.jsf*=all:org.apache.myfaces*=all:com.ibm.ws.webcontainer*=all:com.ibm.ws.jsp=all"
		traceFileName="trace.log"
		maxFileSize="2000"
		maxFiles="20"/>

</server>
