<server description="Async Liberty server">

  <featureManager>
    <feature>servlet-6.0</feature>
    <feature>cdi-4.0</feature>
    <feature>mcp-1.0</feature>
    <feature>concurrent-3.0</feature>
  </featureManager>

  <!-- asyncToolsTestShortTimeout.war needs a short timeout to test timeout behaviour -->
  <application location="asyncToolsTestShortTimeout.war">
    <mcp asyncTimeout="5s"/>
  </application>

  <include location="../fatTestPorts.xml" />

</server>
