<!--
    Copyright (c) 2024, 2025 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-2.0/
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>

  <featureManager>
    <feature>componenttest-2.0</feature>
    <feature>jndi-1.0</feature>
    
    <feature>dataContainer-1.0</feature>
    <feature>persistenceContainer-3.2</feature>
    <feature>xmlBinding-4.0</feature>
    <feature>cdi-4.1</feature>
        
    <feature>servlet-6.1</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <application location="DataJPAHibernateTestApp.war">
    <classloader commonLibraryRef="JDBCLibrary"/>
  </application>

  <dataSource id="DefaultDataSource" fat.modify="true">
    <jdbcDriver libraryRef="JDBCLibrary"/>
    <properties.derby.embedded createDatabase="create" databaseName="memory:testdb" user="dbuser1" password="dbpwd1"/>
  </dataSource>

  <library id="JDBCLibrary">
    <fileset dir="${shared.resource.dir}/jdbcJava17Plus" includes="${env.DB_DRIVER}"/>
    <fileset dir="${shared.resource.dir}/jpa32_hibernate" includes="*.jar"/>
  </library>

  <!-- JDBC driver permissions -->
  <javaPermission codeBase="${shared.resource.dir}/jdbcJava17Plus/${env.DB_DRIVER}" className="java.security.AllPermission"/>
  
  <!-- Java 2 Security issue with ANTLR: https://github.com/antlr/antlr4/issues/3720 -->
  <javaPermission className="java.lang.RuntimePermission" name="getenv.TURN_OFF_LR_LOOP_ENTRY_BRANCH_OPT"/>

  <!-- START: Hibernate permissions -->
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/antlr4-runtime-4.13.2.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/byte-buddy-1.17.5.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/classmate-1.7.0.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/hibernate-community-dialects-7.0.9.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/hibernate-core-7.0.9.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/hibernate-models-1.0.1.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/hibernate-scan-jandex-7.0.9.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/jandex-3.3.0.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa32_hibernate/jboss-logging-3.6.1.Final.jar"/>
  <!-- END: Hibernate permissions -->	
	
</server>
