/cdi-rolesallowed.zip
/handlerRuleBundle.zip
/handlerRuleBundle2.zip
/helloClient.zip
/helloServer.zip
/rs20ApplicationWithClient.zip
/rsApplication.zip
/rsUserBundle1.zip
/rsUserBundle2.zip
/rsUserBundle3.zip
