<server>
	<featureManager>
		<feature>jsp-2.3</feature>
		<feature>wsAtomicTransaction-1.2</feature>
		<feature>jndi-1.0</feature>
		<feature>txtest-1.0</feature>
		<feature>cdi-2.0</feature>
	</featureManager>

	<include location="../fatTestPorts.xml" />

    <transaction
        recoverOnStartup="true"
        waitForRecovery="false"
        heuristicRetryInterval="10"
        totalTranLifetimeTimeout="120s"
    />
	
    <logging
      traceSpecification="Transaction=all:WSAT=all: com.ibm.ws.jaxws.support.LibertyLoggingInInterceptor=all:com.ibm.ws.jaxws.support.LibertyLoggingOutInterceptor=all"
      traceFileName="trace.log"
      maxFileSize="2000"
      maxFiles="20"
      traceFormat="BASIC"
    />

    <javaPermission name="*" actions="*" className="java.security.AllPermission"/>

</server>
