<!--
    Copyright (c) 2015, 2019 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
  <featureManager>
    <feature>componenttest-1.0</feature>
    <feature>cdi-1.2</feature>
    <feature>jndi-1.0</feature>
    <feature>persistentExecutor-1.0</feature>
    <feature>servlet-3.1</feature>
  </featureManager>

  <include location="../fatTestPorts.xml"/>

  <persistentExecutor jndiName="concurrent/myScheduler" taskStoreRef="DBTaskStore" retryLimit="10" retryInterval="500ms" initialPollDelay="30m"/>

  <databaseStore id="DBTaskStore" createTables="true">
    <dataSource fat.modify="true" containerAuthDataRef="authx" jndiName="jdbc/schedDB">
      <jdbcDriver libraryRef="FATJDBCLib"/>
      <properties.derby.embedded createDatabase="create" databaseName="memory:scheddb"/>
    </dataSource>
  </databaseStore>

  <authData fat.modify="true" id="authx" user="userx" password="passx"/>
  
  <library id="FATJDBCLib">
    <fileset dir="${shared.resource.dir}/derby" includes="derby.jar"/>
  </library>
  
  <javaPermission codebase="${shared.resource.dir}/derby/derby.jar" className="java.security.AllPermission"/>
  <javaPermission className="java.lang.RuntimePermission" name="modifyThread"/>

  <variable name="onError" value="FAIL"/>
</server>
