<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <!-- 
    <resource-ref>
        <res-ref-name>test/consumer</res-ref-name>
        <res-type>com.ibm.websphere.persistence.test.Consumer</res-type>
    </resource-ref>
    <resource-env-ref>
        <resource-env-ref-name>test/consumer</resource-env-ref-name>
        <resource-env-ref-type>com.ibm.websphere.persistence.test.Consumer</resource-env-ref-type>
    </resource-env-ref>
 -->
</web-app>