<server>

    <include location="../fatTestPorts.xml" />

	<featureManager>
		<feature>osgiconsole-1.0</feature>
		<feature>batch-1.0</feature>
		<feature>servlet-3.1</feature>
	</featureManager>

	<library id="H2Lib">
	    <fileset dir="${shared.resource.dir}/h2Java8" includes="h2.jar"/>
	</library>

	<javaPermission className="java.util.PropertyPermission" name="*" actions="read"/>
	<javaPermission codebase="${shared.resource.dir}/h2Java8/h2.jar" className="java.security.AllPermission"/>

</server>
