<!--
    Copyright (c) 2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<server description="Server for OpenAPI model validation testing">

    <!-- Enable features -->
    <featureManager>
    	<feature>localConnector-1.0</feature>
    	<feature>componenttest-1.0</feature>
        <feature>mpOpenAPI-1.0</feature>
    </featureManager>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    
    <include location="../fatTestPorts.xml"/>
    
    <applicationMonitor updateTrigger="mbean"/>
    
</server>