<?xml version="1.0" encoding="UTF-8"?>
<web-app id="HelloworldServlet" version="3.0" 
     xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     
  <display-name>JAX-RS Basic Jaxrs-2.0 with CDI-1.2 and BeanValidation-1.1 Sample</display-name>
 
  <!-- SERVLET DEFINITIONS -->
  <servlet id="Servlet_1">
  	<servlet-name>BeanValidationServlet</servlet-name>
  	<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
  	<init-param>
  		<param-name>javax.ws.rs.Application</param-name>
  		<param-value>com.ibm.ws.jaxrs20.cdi12.fat.beanvalidation.BeanValidationApplication</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>

  <!-- SERVLET MAPPINGS -->        
  <servlet-mapping id="ServletMapping_1">
    <servlet-name>BeanValidationServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>



  