<web-app id="FormLoginE2E" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <security-role>
      <role-name>authenticated</role-name>
  </security-role>


  <security-constraint id="SecurityConstraint_1">
     <web-resource-collection id="WebResourceCollection_1">
        <url-pattern>/*</url-pattern>
     </web-resource-collection>
     <auth-constraint>
        <role-name>authenticated</role-name>
     </auth-constraint>
  </security-constraint>
  
</web-app>
